<div ng-controller="CDO.CorpLight.RelatedCustomers as relCustCtrl" >
    <div kendo-grid="relCustCtrl.relatedCustomersGrid"
        k-options="relCustCtrl.relatedCustomersGridOptions"></div>

    @Html.Partial("CLUserDetailsWindow")

    @Html.Partial("AcskRulesWindow")

    @Html.Partial("AcskCertificatesWindow")

    @Html.Partial("AcskChangeCertificatesStatesWindow")

    @Html.Partial("PrintCertificateTemplate")

</div>
