@model Models.CUSTOMER
@using barsroot
@using System.Web.Mvc.Html
@using BarsWeb.HtmlHelpers
@{   
    var customeW = Model.CUSTOMERWs;
    int rezid = Model.CODCAGENT1.REZID;
}

<style>
    .documView{
        padding: 20px 20px 20px 20px;
    }
    .modelDoc{
        width: 1400px;
        position: relative;
        float: left;
        padding: 5px;
    }

    .modelDoc div{
        float: left;
        margin-right: 10px;
        overflow: hidden;
    }

    .hide{
        visibility: hidden;
    }

    div.inputText{
        width: 100px;
        border: 1px solid #808080;
    }

    #tabsCustomer table td{
        white-space: nowrap;
    }
    #tabsCustomer div[id^="tabsCustomer-"]{
        overflow: auto; height: 560px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tabsCustomer, #tabsDopRekv').tabs();
        if ($(window).width() < 1050) {
            $("#tabsCustomer").addClass('ui-tabs-vertical ui-helper-clearfix');
            $("#tabsCustomer li").removeClass('ui-corner-top').addClass('ui-corner-left');
        }
        $(window).bind('resize',function () {
            if ($(window).width() < 1050) {
                $("#tabsCustomer").addClass('ui-tabs-vertical ui-helper-clearfix');
                $("#tabsCustomer li").removeClass('ui-corner-top').addClass('ui-corner-left');
            }
            else {
                $("#tabsCustomer").removeClass('ui-tabs-vertical ui-helper-clearfix');
                $("#tabsCustomer li").removeClass('ui-corner-left').addClass('ui-corner-top');
            }
        });
      $('#btChildDocumentHidden').one('click', function() { $(window).unbind('resize'); });
        /*$('#bt_FullDopRekv').button({ icons: { primary: 'ui-icon-folder-open' }, text: false })
                            .click(function () {
                                var ic = $(this).button("option", "icons");
                                if (ic.primary == 'ui-icon-folder-open') {
                                    $(this).button("option", "icons", { primary: 'ui-icon-folder-collapsed' });
                                    $('.trPersonFIO').addClass('displayNone');
                                }
                                else {
                                    if (ic.primary == 'ui-icon-folder-collapsed') {
                                        $(this).button("option", "icons", { primary: 'ui-icon-folder-open' });
                                        $('.trPersonFIO').removeClass('displayNone');
                                    }
                                }
                            });*/
        $('#bt_FullDopRekv').click(function () {
            if ($('.trPersonFIO').hasClass('displayNone')) {
                $('.trPersonFIO').removeClass('displayNone');
            }
            else {
                $('.trPersonFIO').addClass('displayNone');
            }
        });
        $('#bt_fullADR').click(function () { ShowfullADR(); });
        //$('#ed_DATEA, #ed_DATET, #ed_PDATE, #ed_BDAY').datepicker({
        $('.date').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            firstDay: 1,
            dateFormat: 'dd/mm/yy',
            onClose: function (selectedDate) {
                try {
                    $(this).removeClass('error2').removeClass('error');
                    var option = 'setDate';
                    instance = $(this).data('datepicker'),
                    date = $.datepicker.parseDate(
                    instance.settings.dateFormat ||
                    $.datepicker._defaults.dateFormat,
                    selectedDate, instance.settings);
                    $(this).datepicker('option', option, date);
                }
                catch (e) { var t = e;   $(this).addClass('error2'); }
            }
        }).mask('99/99/9999');
        $('#ed_COUNTRYCd').parent().packetInputSelect();
        $('#ed_C_DST').parent().packetInputSelect();
        $('#ed_CRISK').parent().packetInputSelect();
        $('#ed_MB').parent().packetInputSelect();

        $('#ed_C_REG').parent().packetInputSelect({ changeFunc: function () { GetListLoad('ddl_C_DST', $('#ddl_C_REG option:selected').val(), 'spr_reg'); } });
        $('#ed_ISE').parent().packetInputSelect('fromUrl', { url: '/barsroot/customers/gethandbookload/', tableName: 'ise' });
        $('#ed_FS').parent().packetInputSelect('fromUrl', { url: '/barsroot/customers/gethandbookload/', tableName: 'fs' });
        $('#ed_VED').parent().packetInputSelect('fromUrl', { url: '/barsroot/customers/gethandbookload/', tableName: 'VED' });
        $('#ed_OE').parent().packetInputSelect('fromUrl', { url: '/barsroot/customers/gethandbookload/', tableName: 'OE' });
        $('#ed_K050').parent().packetInputSelect('fromUrl', {
            url: '/barsroot/customers/gethandbookload/',
            tableName: 'SP_K050',
            changeFunc: function () { GetListLoad('ddl_SED_com', $('#ddl_K050_com option:selected').val(), 'KL_K051'); }
        });
        /*
        $('#CustomerForm').validate({
            rules: {
                ed_C_DST: {
                    equalTo: '#ddl_C_DST'
                },
                ed_CRISK: {
                    equalTo: '#ddl_CRISK'
                },
                ed_MB: {
                    equalTo: '#ddl_MB'
                }
            },
            messages:{
                ed_C_DST: {
                    equalTo: ''
                },
                ed_CRISK: {
                    equalTo: ''
                },
                ed_MB: {
                    equalTo: ''
                }
            }
        });*/

    });
    
   /* $.validator.addMethod('required', $.validator.methods.required, '');
    $.validator.addMethod('date', $.validator.methods.date, '');

    $.validator.addClassRules({
        name: {
            required: true,
            minlength: 2
        },
        zip: {
            required: true,
            digits: true,
            minlength: 5,
            maxlength: 5
        }
    });*/
    
    function ShowfullADR() {
        $('#fullAdr' + '@Model.RNK').dialog({ cache: false, autoOpen: true, position: 'center', title: 'Повна адреса клієнта', modal: true, resizable: false, minWidth: '600', minHeight: '500', close: function () { $(this).dialog('destroy'); /*$('#newPrintHtmlDialog').remove();*/ } });;
    }

    function GetListLoad(elemId, id, tableName) {
        var elem = $('#' + elemId);
        $.post('/barsroot/customers/gethandbookload/',
                { id: id, tablename: tableName },
                function (data) {
                    elem.html('');
                    if (data != 'err') {
                        elem.html(data);
                        elem.find('option:first').attr('selected', 'selected');
                    }
                    elem.parent().find('input[type="text"]').removeClass('error').val(elem.find('option:first').val());
                }
        );
    }

    function validateForm(elem) {
        var result = true;
        elem.find('input.required').each(function () {
            if ($.trim($(this).val()).length == 0) {
                $(this).addClass('error');
                result = false;
            }
        });
        elem.find('select.required').each(function () {
            if (!$(this).val()) {
                $(this).addClass('error');
                result = false;
            }
        });
        elem.find('input.date').each(function () {
            /*if ($(this).val().split('_').length > 1) {
                $(this).addClass('error');
                result = false;
            }*/
            try {
                //$(this).removeClass('error-date').removeClass('error');
                var option = 'setDate';
                var selectedDate = $(this).val();
                instance = $(this).data('datepicker'),
                date = $.datepicker.parseDate(
                instance.settings.dateFormat ||
                $.datepicker._defaults.dateFormat,
                selectedDate, instance.settings);
                $(this).datepicker('option', option, date);
            }
            catch (e) {
                //alert(e);
                $(this).addClass('error2');
                result = false;
            }
        });
        return result;
    }
    function validAll() {
        var validTab1 = validateForm($('#tabsCustomer-1'));
        var validTab2 = validateForm($('#tabsCustomer-2'));
        var validTab3 = validateForm($('#tabsCustomer-3'));
        var validTab4 = validateForm($('#tabsCustomer-4'));
        var validTab5 = validateForm($('#tabsCustomer-5'));
        var validTab6 = validateForm($('#tabsCustomer-6'));
        var validTab7 = validateForm($('#tabsCustomer-7'));
        if (validTab1 != true) {
            $('#tabsCustomer').tabs('select', 0);
            return;
        }
        if (($('#ckb_mainRPP').prop('checked') || $('#ckb_mainRPP').prop('checked')==undefined) && !validTab2) {
            $('#tabsCustomer').tabs('select', 1);
            return;            
        }
        if (($('#ckb_mainEN').prop('checked') || $('#ckb_mainEN').prop('checked')==undefined ) && !validTab3) {
            $('#tabsCustomer').tabs('select', 2);
            return;            
        }
        if (($('#ckb_mainPRPers').prop('checked') || $('#ckb_mainPRPers').prop('checked')==undefined) && !validTab4) {
            $('#tabsCustomer').tabs('select', 3);
            return;            
        }
        if (($('#ckb_mainDR').prop('checked') || $('#ckb_mainDR').prop('checked')==undefined) && !validTab6) {
            $('#tabsCustomer').tabs('select', 5);
            var test = $('#tabsDopRekv div[id^="tabsDR-"]');
            $('#tabsDopRekv div[id^="tabsDR-"]').each(function () {
                var test2 = validateForm($(this));
                if (!validateForm($(this))) {
                    $('#tabsDopRekv').tabs('select', $(this).attr('id'));
                    return false;
                }
            });
            return;            
        }
    }

    // при заполнении названия клиента национального автоматически подтягивать его в остальные два названия
    function CopyNMK() {
        if ($.trim($('#ed_NMKK').val()).length == 0) {
            $('#ed_NMKK').removeClass('error').val($('#ed_NMK').val().substr(0, 38));
        }
        if ($.trim($('#ed_NMKV').val()).length == 0) {
            $('#ed_NMKV').addClass('load');
            $.post('/barsroot/customers/transletenmk/', { nmk: $('#ed_NMK').val() }, function (data) {
                if ($.trim(data).length != 0) {
                    //newNMK = data;
                    $('#ed_NMKV').removeClass('error').val(data.substr(0, 70));
                }
                $('#ed_NMKV').removeClass('load');
            });
        }
    }

    function TranslateNMK(nmk) {
        var newNMK = '';
        $.post('/barsroot/customers/transletenmk/', { nmk: nmk }, function (data) {
            if ($.trim(data).length != 0) {
                newNMK = data;
                return newNMK;
            }
        });
    }

    function ToUpperInputText(elem) {
        $(elem).val($(elem).val().toUpperCase());
    }

    function EditNMK() {
        var newNMK = $('#ed_FIO_LN').val() + ' ' + $('#ed_FIO_FN').val() + ' ' + $('#ed_FIO_MN').val() + ' ' + ($('#ed_FIO_4N_NR').val()==undefined?'':$('#ed_FIO_4N_NR').val());
        $('#ed_NMK').removeClass('error').val($.trim(newNMK).toUpperCase());
        $('#ed_NMKK').val('');
        $('#ed_NMKV').val('');
        CopyNMK();
    }
</script>

<style>
    /*#bt_FullDopRekv,#bt_fullADR{
    padding:0px 0px 0px 0px;
    margin:0px 0 0px 0;
    height:18px;
}*/

</style>
@*@{var dateEnd = DateTime.Now;}
<div>start: @ViewBag.TimeStart</div>
<div>end: @(dateEnd.ToString()+"."+dateEnd.Millisecond.ToString())</div>*@

<h1>Перегляд/редагування контрагента RNK - @Model.RNK </h1>
<form id="CustomerForm">
@*<input type="button" onclick="validAll();" value="valid" />*@
<div id="tabsCustomer">
    <ul>
        <li><a style="" href="#tabsCustomer-1">Основні реквізити</a></li>
        <li><a style="" href="#tabsCustomer-2">Рекв. платника под.</a></li>
        <li><a style="" href="#tabsCustomer-3">Ек. нормативи</a></li>
        <li><a style="" href="#tabsCustomer-4">Реквізити клієнта</a></li>
        <li><a style="" href="#tabsCustomer-5">Дод. інформація</a></li>
        <li><a style="" href="#tabsCustomer-6">Дод. реквізити</a></li>
        @if(Model.RNK!=0)
        {<li><a style="" href="#tabsCustomer-7">Пов'язані особи</a></li>}
    </ul>
    <div id="tabsCustomer-1" >
        <table id="tblEdits" border="0" cellpadding="1" cellspacing="0" style="">
            <tr>
                <td>Дата реєстрації</td>
                <td>
                    <input value="@Model.DATE_ON.ToShortDateString()" class="edit date" id="ed_DATE_ON" disabled="disabled" tabindex="1" type="text" maxlength="8" />
                </td>
            </tr>
            <tr>
                <td>Дата закриття</td>
                <td>
                    <input value="@(Model.DATE_OFF == null ? "" : Convert.ToDateTime(Model.DATE_OFF).ToShortDateString())" class="edit date" id="ed_DATE_OFF" disabled="disabled" tabindex="2" type="text" maxlength="8" />
                </td>
            </tr>
            <tr>
                <td>Реєстр. №</td>
                <td>
                    <input value="@(Convert.ToString(Model.RNK)=="0"?"":Convert.ToString(Model.RNK))" class="edit centered" id="ed_ID" disabled="disabled" tabindex="3" type="text" maxlength="70" />
                </td>
            </tr>
            <tr>
                <td>№ дог.</td>
                <td>
                    <input value="@Model.ND" class="edit centered" id="ed_ND" tabindex="4" type="text" maxlength="70" />
                </td>
            </tr>
            <tr>
                <td>Найменування клієнта (нац.)</td>
                <td>

                    <input value="@Model.NMK"  @(Model.CUSTTYPE==3?"disabled=\"disabled\"":"") class="edit long required" id="ed_NMK" tabindex="5" type="text" maxlength="70" onchange="ToUpperInputText(this);CopyNMK();" />
                    @if (Model.CUSTTYPE == 3)
                    {                        
                    <button id="bt_FullDopRekv" style="" title="Режим ввода доп. реквизитов" class="ref"
                            type="button" value="test" tabindex="8">
                            ...</button>  
                    }
                    <span class="required">*</span>
                </td>
            </tr>
            @if (Model.CUSTTYPE == 3)
            {
                string SN_LN = customeW.Where(i => i.TAG == "SN_LN").FirstOrDefault() == null ? "" : customeW.Where(i => i.TAG == "SN_LN").FirstOrDefault().VALUE;
                string SN_FN = customeW.Where(i => i.TAG == "SN_FN").FirstOrDefault() == null ? "" : customeW.Where(i => i.TAG == "SN_FN").FirstOrDefault().VALUE;
                string SN_MN = customeW.Where(i => i.TAG == "SN_MN").FirstOrDefault() == null ? "" : customeW.Where(i => i.TAG == "SN_MN").FirstOrDefault().VALUE;
                string SN_4N = customeW.Where(i => i.TAG == "SN_4N").FirstOrDefault() == null ? "" : customeW.Where(i => i.TAG == "SN_4N").FirstOrDefault().VALUE;
                string SN_LN_lable = "", SN_FN_lable = "", SN_MN_lable = "";
                if (rezid == 1)
                {
                    SN_LN_lable = "Прізвище клієнта"; SN_FN_lable = "Ім'я клієнта"; SN_MN_lable = "По-батькові клієнта";
                }
                else
                {
                    SN_LN_lable = "Ім'я-1 нерезидента"; SN_FN_lable = "Ім'я-2 нерезидента"; SN_MN_lable = "Ім'я-3 нерезидента";
                }
                <tr class="trPersonFIO"  style="">
                    <td style="text-align: right">@SN_LN_lable:</td>
                    <td>
                        <input value="@SN_LN" class="edit required" id="ed_FIO_LN" tabindex="114" type="text" maxlength="70" onchange="EditNMK();" />
                        <span class="required">*</span>
                    </td>
                </tr>
                <tr class="trPersonFIO">
                    <td style="text-align: right">@SN_FN_lable:</td>
                    <td>
                        <input value="@SN_FN" class="edit @(rezid==1?"required":"")" id="ed_FIO_FN" tabindex="114" type="text" maxlength="70" onchange="EditNMK();" />
                        @if (rezid == 1)
                        {<span class="required">*</span>}
                    </td>
                </tr>
                <tr class="trPersonFIO">
                    <td style="text-align: right">@SN_MN_lable:</td>
                    <td>
                        <input value="@SN_MN" class="edit @(rezid==1?"required":"")" id="ed_FIO_MN" tabindex="114" type="text" maxlength="70" onchange="EditNMK();" />
                        @if (rezid == 1)
                        {<span class="required">*</span>}
                    </td>
                </tr>  
                if (rezid == 2){            
                <tr class="trPersonFIO">
                    <td style="text-align: right">Ім'я-4 нерезидента:</td>
                    <td>
                        <input value="@SN_4N" class="edit" id="ed_FIO_4N_NR" tabindex="114" type="text" maxlength="70"  onchange="EditNMK();"/>
                    </td>
                </tr>            
                }
            }
            <tr>
                <td>Найменування (міжн.)</td>
                <td>
                    <input value="@Model.NMKV" class="edit long required" id="ed_NMKV" tabindex="6" type="text" maxlength="70" onchange="ToUpperInputText(this);" />
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td>Найменування (скорочене)</td>
                <td>
                    <input value="@Model.NMKK" class="edit long" id="ed_NMKK" tabindex="7" type="text" maxlength="35" onchange="ToUpperInputText(this);" />
                </td>
            </tr>
            <tr>
                <td>Адреса клієнта</td>
                @{var adres = Model.CUSTOMER_ADDRESS;
                  string adr = "";
                  var adres1 = adres.Where(i => i.TYPE_ID == 1).FirstOrDefault();
                  if (adres1 == null) { 
                      adres1 = new Models.CUSTOMER_ADDRESS(); 
                      adres1.TYPE_ID = 1; }
                  else{adr = adres1.LOCALITY + ", " + adres1.ADDRESS;}
                  var adres2 = adres.Where(i => i.TYPE_ID == 2).FirstOrDefault();
                  if (adres2 == null) { adres2 = new Models.CUSTOMER_ADDRESS(); adres2.TYPE_ID = 2; }                  
                  var adres3 = adres.Where(i => i.TYPE_ID == 3).FirstOrDefault();
                  if (adres3 == null) { adres3 = new Models.CUSTOMER_ADDRESS(); adres3.TYPE_ID = 3; }                    
                 }
                <td>
                    <input value="@adr" disabled="disabled" class="edit long required" id="ed_ADR" tabindex="20" type="text" maxlength="70" />
                    <button id="bt_fullADR" title="Режим ввода полного адреса" class="ref" @*onclick="ShowfullADR(); ToDoOnChange();"*@
                        type="button" value="..." tabindex="8" >...</button>
                    <span class="required">*</span>
                    <div id="@("fullAdr" + Model.RNK)" style="display:none">
                        <div id="adrUR">
                            <b>Юридична</b>
                            @Html.Partial("_Adres", adres1)
                            <hr />
                        </div>
                        <div id="adrFACT">
                            <b>Фактична</b>
                            @Html.Partial("_Adres", adres2)
                            <hr />
                        </div>
                        <div id="adrPOST">
                            <b>Поштова</b>
                            @Html.Partial("_Adres", adres3)
                            <hr />
                        </div>
                        <div class="buttons_layout">
                            <button type="button" value="Зберегти" onclick="ReturnVal();">Зберегти</button>
                            <button type="button" value="Відміна" onclick="Close(); ">Відміна</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Характеристика клієнта (К010)</td>
                <td>
                    <select class="edit long" id="ddl_CODCAGENT" title="Выбор по нажатию левой кнопки мыши"
                        tabindex="9" onchange="OnCodecagentChange();">
                        <option value="@Model.CODCAGENT">@Model.CODCAGENT1.NAME</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Країна клієнта (К040)</td>
                <td>
                    @if (rezid == 1)
                    {
                        <input value="@Model.COUNTRY" disabled="disabled" id="ed_COUNTRYCd" class="edit composite1-code" tabindex="10" type="text" maxlength="10" />
                        <select class="edit composite1-value" id="ddl_COUNTRY" title="Выбор по нажатию левой кнопки мыши" tabindex="11">
                            <option value="@Model.COUNTRY" selected="selected">@Model.COUNTRY1.NAME</option>
                        </select>
                    }
                    else
                    {
                        string whereCOUNTRY = ""; if (Model.COUNTRY != 804) { whereCOUNTRY = "country<>804"; }
                        var country = ServicesClass.GetHandbookList(tableName: "country", idRow: "country", valueRow: "name", whereString: whereCOUNTRY).OrderBy(i => i.ID);
                        <input value="@(Model.COUNTRY == null ? Convert.ToString(country.FirstOrDefault().ID) : Convert.ToString(Model.COUNTRY))" id="ed_COUNTRYCd" class="edit composite1-code" tabindex="10" type="text" maxlength="10" />
                        @HtmlHelpers.CreateDropDownList(optionList: country.ToList(),
                                                    optionSelected: Convert.ToString(Model.COUNTRY),
                                                    attr: new string[,] { { "class", "edit composite1-value" }, { "id", "ddl_COUNTRY" }, { "tabindex", "11" } })
                    }
                </td>
            </tr>
            <tr>
                <td>Ознака інсайдера (К060)</td>
                <td>
                    @HtmlHelpers.CreateDropDownList(optionList: ServicesClass.GetHandbookList(tableName: "PRINSIDER",
                                                                                         idRow: "PRINSIDER",
                                                                                         valueRow: "NAME").OrderBy(i => i.ID).ToList(),
                                                optionSelected: Convert.ToString(Model.PRINSIDER),
                                                attr: new string[,] { { "name", "ddl_PRINSIDER" }, { "id", "ddl_PRINSIDER" }, { "class", "edit long" }, { "tabindex", "12" } })
                </td>
            </tr>
            <tr>
                <td>Тип держ. реєстру</td>
                <td>
                    @{string whereTGR = ""; if (Model.CUSTTYPE != 3) { whereTGR = "tgr<>2"; }}
                    @HtmlHelpers.CreateDropDownList(optionList: ServicesClass.GetHandbookList(tableName: "tgr", idRow: "tgr", valueRow: "name", whereString: whereTGR).OrderBy(i => i.ID).ToList(),
                                                optionSelected: Convert.ToString(Model.TGR),
                                                attr: new string[,] { { "class", "edit long" }, { "id", "ddl_TGR" }, { "tabindex", "13" } })
                </td>
            </tr>
            <tr>
                <td>Ідентифікаційний код</td>
                <td>
                    <input value="@Model.OKPO" class="edit centered required" id="ed_OKPO" onblur="checkOKPO(getEl('ed_OKPO'));" tabindex="14"
                    type="text" maxlength="10" />
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td>Електронний код клієнта</td>
                <td>
                    <input value="@Model.SAB" class="edit centered" id="ed_SAB" tabindex="15" type="text" maxlength="4" />
                </td>
            </tr>
            <tr>
                <td>Вид виписки</td>
                <td>
                    @HtmlHelpers.CreateDropDownList(optionList: ServicesClass.GetHandbookList(tableName: "stmt", idRow: "stmt", valueRow: "name").OrderBy(i => i.ID).ToList(),
                                                optionSelected: Convert.ToString(Model.STMT),
                                                attr: new string[,] { { "name", "ddl_STMT" }, { "id", "ddl_STMT" }, { "class", "edit long" }, { "tabindex", "16" } })
                </td>
            </tr>
            <tr>
                <td>Код безбалансн. відділення</td>
                <td>
                    <input value="@Model.BRANCH" name="ed_TOBOCd" type="text" id="ed_TOBOCd" class="edit composite2-code" tabindex="17" maxlength="22" onchange="OnTOBOCdChange();" />
                    <select name="ddl_TOBO" id="ddl_TOBO" class="edit composite2-value" tabindex="18" onchange="PutTOBOCd();">
                        <option selected="selected" value="@Model.BRANCH">@Model.BRANCH</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Не є клієнтом банку</td>
                <td>
                    <input id="ckb_BC" type="checkbox" size="20" onclick="ToDoOnChange();" />
                </td>
            </tr>
        </table>
    </div>
    <div id="tabsCustomer-2" >
        <input name="ckb_main" type="checkbox" id="ckb_mainRPP" tabindex="1" checked="checked" />
        <label for="ckb_mainRPP" class="simpleTextStyle">Заповнити реквізити платника податків</label><br />
        <br />
        <table id="tb_rekv" cellspacing="0" cellpadding="1" border="0">
            <tr>
                <td>Обласна ПІ</td>
                <td>
                    <input value="@Model.C_REG" id="ed_C_REG" class="edit composite1-code" type="text" maxlength="10" />
                    @HtmlHelpers.CreateDropDownList(optionList: ServicesClass.GetHandbookList(
                                                                                            tableName: "spr_obl",
                                                                                            idRow: "c_reg",
                                                                                            valueRow: "name_reg").OrderBy(i => Convert.ToInt32(i.ID)).ToList(),
                                                    optionSelected: Convert.ToString(Model.C_REG),
                                                    attr: new string[,] { { "name", "ddl_C_REG" }, { "id", "ddl_C_REG" }, { "class", "tab_main_rekv_ed2_style" }, { "onchange", "/*GetListLoad('ddl_C_DST',$(this).find('option:selected').val(),'spr_reg'); if(trim(parent.obj_Parameters['TGR']) != '3') document.getElementById('ddl_C_DST').remove(0);ToDoOnChange();*/" } })
                </td>
            </tr>
            <tr>
                <td>Района ПІ</td>
                <td>
                    @if (Model.C_REG != null)
                    {
                        <input value="@Model.C_DST" id="ed_C_DST" class="edit composite1-code" type="text" maxlength="10" />
                        @HtmlHelpers.CreateDropDownList(optionList: ServicesClass.GetHandbookList(tableName: "spr_reg",
                                                                                             idRow: "c_dst",
                                                                                             valueRow: "name_sti",
                                                                                             whereString: "c_reg=" + Convert.ToString(Model.C_REG)).OrderBy(i => i.ID).ToList(),
                                                    optionSelected: Convert.ToString(Model.C_DST),
                                                    attr: new string[,] { { "id", "ddl_C_DST" }, { "tabIndex", "3" } })
                    }
                    else
                    {                    
                        <input value="" id="ed_C_DST" name="ed_C_DST" class="edit composite1-code" type="text" maxlength="10" />
                        <select id="ddl_C_DST" tabindex="3">
                            <option selected></option>
                        </select>
                    }
                </td>
            </tr>
            <tr>
                <td>Адм. орган реєстрації</td>
                <td>
                    <input value="@Model.ADM" class="edit long" id="ed_ADM" tabIndex="4" type="text" maxLength="70" onchange="ToDoOnChange();"></td>
            </tr>
            <tr>
                <td>Реєстр. номер в адм.</td>
                <td>
                    <input value="@Model.RGADM" class="edit centered" id="ed_RGADM" tabIndex="5" type="text" maxLength="30" onchange="ToDoOnChange();"></td>
            </tr>
            <tr>
                <td>Реєстр. номер у ПІ</td>
                <td>
                    <input value="@Model.RGTAX" class="edit centered" id="ed_RGTAX" tabIndex="6" type="text" maxLength="15" onchange="ToDoOnChange();"></td>
            </tr>
            <tr>
                <td>Податковий код (К050)</td>
                <td>
                    <input value="@Model.TAXF" class="edit centered" id="ed_TAXF" tabIndex="7" type="text" maxLength="12" onblur="isNumberCheck(document.getElementById('ed_TAXF'));ToDoOnChange();"></td>
            </tr>
            <tr>
                <td>Дата реєстр. у ПІ</td>
                <td>
                    <input value="@(Model.DATET == null ? "" : Convert.ToDateTime(Model.DATET).ToShortDateString())" class="edit date centered required" id="ed_DATET" tabIndex="8"
									type="text" maxLength="10"/>
                    <span class="required">*</span>
                </td>
            </tr>
            <tr>
                <td>Дата реєстр. у Адм.</td>
                <td>
                    <input value="@(Model.DATEA == null ? "" : Convert.ToDateTime(Model.DATEA).ToShortDateString())" class="edit date centered required" id="ed_DATEA" tabIndex="9"
									type="text" maxLength="10" />
                    <span class="required">*</span>
                </td>
            </tr>
        </table>
    </div>
    <div id="tabsCustomer-3">
        <input id="ckb_mainEN" name="ckb_mainEN" onclick="MyChengeEnable(getEl('ckb_main').checked); ToDoOnChange();" type="checkbox" checked="checked" />
        <label for="ckb_mainEN" class="simpleTextStyle">Заповнити Економічні нормативи</label><br />
        <br />
        <table id="tb_ek_norm" cellspacing="0" cellpadding="1" border="0">
            <tr>
                <td>Інст. сектор економіки (К070)</td>
                <td>
                    <input value="@Model.ISE" class="edit composite1-code" id="ed_ISE" type="text" maxlength="5" tabindex="1" />
                    <span class="required">*</span>
                    <select name="ddl_ISE_com" id="ddl_ISE_com" class="tab_ek_norm_ed2_style required" onclick="GetHelpValue(getEl('ed_ISE'), getEl('ddl_ISE_com'), 'ISE');ToDoOnChange();">
                        <option selected="selected" value="@Model.ISE">@(Model.ISE == null ? "" : Model.ISE1.NAME)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Форма власності (К080)</td>
                <td>
                    <input value="@Model.FS" class="edit composite1-code" id="ed_FS" tabindex="2" type="text" maxlength="2"/>
                    <span class="required">*</span>
                    <select class="tab_ek_norm_ed2_style required" id="ddl_FS_com" onclick="GetHelpValue(getEl('ed_FS'), getEl('ddl_FS_com'), 'FS');ToDoOnChange();">
                        <option value="@Model.FS" selected="selected">@(Model.FS == null ? "" : Model.F.NAME)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Вид ек. діяльності(К110)</td>
                <td>
                    <input value="@Model.VED" class="edit composite1-code" id="ed_VED" tabindex="3" type="text" maxlength="5"/>
                    <span class="required">*</span>
                    <select class="tab_ek_norm_ed2_style required" id="ddl_VED_com" onclick="GetHelpValue(getEl('ed_VED'), getEl('ddl_VED_com'), 'VED');ToDoOnChange();">
                        <option value="@Model.VED" selected="selected">@(Model.VED == null ? "" : Model.VED1.NAME)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Галузь економіки (К090)</td>
                <td>
                    <input value="@Model.OE" class="edit composite1-code" id="ed_OE" tabindex="4" type="text" maxlength="5" />
                    <span class="required">*</span>
                    <select class="tab_ek_norm_ed2_style required" id="ddl_OE_com" onclick="GetOEHelpValue();ToDoOnChange();">
                        <option value="@Model.OE" selected="selected">@(Model.OE == null ? "" : Model.OE1.NAME)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td id="Td1">Форма господарювання (К050)</td>
                <td>
                    <input value="@Model.K050" class="edit composite1-code" id="ed_K050" tabindex="5" type="text" maxlength="3" />
                    <span class="required">*</span>
                    <select class="tab_ek_norm_ed2_style required" id="ddl_K050_com" onclick="GetHelpValue(getEl('ed_K050'), getEl('ddl_K050_com'), 'SP_K050');ToDoOnChange();CalcSedValue(getEl('ed_K050').value);">
                        <option value="@Model.K050" selected="selected">@(Model.K050 == null ? "" : Model.SP_K050.NAME)</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Форма господарювання (К051)</td>
                <td>
                    <input value="@Model.SED" class="edit composite1-code" id="ed_SED" tabindex="6" type="text" maxlength="2"
                                disabled="disabled" />
                    <span>&nbsp;</span>
                    <select class="tab_ek_norm_ed2_style" id="ddl_SED_com" disabled="disabled">
                        <option value="@Model.SED" selected>@(Model.SED == null ? "" : ServicesClass.GetHandbookList(tableName: "kl_k051", idRow: "K051", valueRow: "txt", whereString: "k051='" + Model.SED + "'").FirstOrDefault().NAME)</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div id="tabsCustomer-4" >
        @switch (Model.CUSTTYPE)
        {
            case 1:
                @Html.Partial("_RekvBank", Model.CUSTBANK ?? new Models.CUSTBANK()); 
                break;
            case 2:
                @Html.Partial("_RekvCorp", Model.CORPS ?? new Models.CORPS());
                break;
            case 3:
                @Html.Partial("_RekvPerson", Model.PERSON ?? new Models.PERSON());
                break;
        }
    </div>
    <div id="tabsCustomer-5">
        <table id="tb_edits" cellspacing="0" cellpadding="1" border="0">
            <tr>
                <td>Менеджер клієнту (код)</td>
                <td>
                    <input value="@Model.ISP" class="edit centered" id="ed_ISP" tabindex="1" type="text" maxlength="20"
                                onchange="ToDoOnChange();" onblur="isNumberCheck(getEl('ed_ISP'))">
                    <img src="/Common/Images/default/16/help.png" id="bt_help" height="16" width="16" alt="Довідка" onclick="var result = window.showModalDialog('dialog.aspx?type=metatab&amp;tabname=staff&amp;tail=\'\'&amp;role=WR_CUSTREG', 'dialogHeight:600px; dialogWidth:600px'); if(result != null) PutIntoEdit(getEl('ed_ISP'), result[0]);ToDoOnChange();" />
                </td>
            </tr>
            <tr>
                <td>Примітка</td>
                <td>
                    <input value="@Model.NOTES" class="edit long" id="ed_NOTES" tabindex="2" type="text" maxlength="140"
                                onchange="ToDoOnChange();">
                </td>
            </tr>
            <tr>
                <td>Клас позичальника </td>
                <td>
                    <input value="@Model.CRISK" id="ed_CRISK" name="ed_CRISK" class="edit composite1-code" tabindex="0" type="text" maxlength="5"/>
                    @HtmlHelpers.CreateDropDownList(optionList: ServicesClass.GetHandbookList(tableName: "stan_fin", idRow: "fin", valueRow: "name").OrderBy(i => i.ID).ToList(),
                                                optionSelected: Convert.ToString(Model.CRISK),
                                                attr: new string[,] { { "name", "ddl_CRISK" }, { "id", "ddl_CRISK" }, { "tabindex", "3" } })
                </td>
            </tr>
            <tr>
                <td>Належність до малого бізнесу</td>
                <td>
                    <input value="@Model.MB" id="ed_MB" name="ed_MB" class="edit composite1-code" tabindex="0" type="text" maxlength="5"/>
                    @HtmlHelpers.CreateDropDownList(optionList: ServicesClass.GetHandbookList(tableName: "kl_k140", idRow: "k140", valueRow: "txt", whereString: "d_close is null").OrderBy(i => i.ID).ToList(),
                                                optionSelected: Convert.ToString(Model.MB),
                                                nullFirstRow:true,
                                                attr: new string[,] { { "name", "ddl_MB" }, { "id", "ddl_MB" }, { "tabindex", "4" } })
                </td>
            </tr>
            <tr>
                @{var rnkRekv = Model.RNK_REKV.FirstOrDefault() == null ? new Models.RNK_REKV() : Model.RNK_REKV.FirstOrDefault();}
                <td>Альтернативна адреса</td>
                <td>
                    <input value="@rnkRekv.ADR_ALT" class="edit long" id="ed_ADR_ALT" tabindex="5" type="text" maxlength="70"/>
                </td>
            </tr>
            <tr>
                <td>Ліміт на активні операції</td>
                <td>
                    <input value="@Model.LIM" class="edit centered" id="ed_LIM" tabindex="6" type="text" maxlength="20"/>
                </td>
            </tr>
            <tr>
                <td>Ліміт каси</td>
                <td>
                    <input value="@rnkRekv.LIM_KASS" class="edit centered" id="ed_LIM_KASS" tabindex="7" type="text" maxlength="20"/>
                </td>
            </tr>
            <tr>
                <td>№ дог. за супроводження</td>
                <td>
                    <input value="@rnkRekv.NOM_DOG" class="edit centered" id="ed_NOM_DOG" tabindex="8" type="text" maxlength="10" />
                </td>
            </tr>
            <tr>
                <td>№ у реєстрі платників ПДВ</td>
                <td>
                    <input value="@Model.NOMPDV" class="tab_main_rekv_ed_style" id="ed_NOMPDV" tabindex="9" type="text" maxlength="10"/>
                </td>
            </tr>
            <tr>
                <td>Реєстр. № холдінгу</td>
                <td>
                    <input value="@Model.RNKP" class="tab_main_rekv_ed_style" id="ed_RNKP" tabindex="10" type="text" maxlength="10"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">Примітка для служби безпеки:</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea class="tab_ek_norm_ed1_style" id="ed_NOTESEC" style="width: 100%; height: 100px" tabindex="11">
                        @Model.NOTESEC
                    </textarea>
                </td>
            </tr>
        </table>
    </div>
    <div id="tabsCustomer-6" >
        <input type="checkbox" id="ckb_mainDR" name="ckb_mainDR" checked="checked" />
        <label for="ckb_mainDR">Перевіряти заповнення обов'язкових реквізитів</label>
        @{var risk=Model.RNK==0? 
              ServicesClass.GetHandbookList(tableName:"fm_risk_criteria",idRow:"id", valueRow:"name"):
              ServicesClass.GetHandbookList(tableName:"v_customer_risk",idRow:"risk_id", valueRow:"risk_name",dataRow:"value",whereString:"rnk="+Model.RNK);
          ViewBag.Risk = risk;
          ViewBag.CusType = Model.CUSTTYPE;}
        @switch (Model.CUSTTYPE)
        {
            case 1: @Html.Partial("_DopRekv", Model.CUSTOMERWs.Where(i => i.CUSTOMER_FIELD.B == 1)) break;
            case 2: @Html.Partial("_DopRekv", Model.CUSTOMERWs.Where(i => i.CUSTOMER_FIELD.U == 1)) break;     
            case 3: @Html.Partial("_DopRekv", Model.CUSTOMERWs.Where(i => i.CUSTOMER_FIELD.F == 1)) break;
            default: break;                                                                                                               
        }
    </div>
    @if(Model.RNK!=0)
    {
    <div id="tabsCustomer-7" style="">
        @Html.Partial("CustomerRel", Convert.ToInt32(Model.RNK))
    </div>
    }
</div>
</form>
@*
@{var dateEnd2 = DateTime.Now;}
<div>end2: @(dateEnd2.ToString()+"."+dateEnd2.Millisecond.ToString())</div>*@