@model IEnumerable<BarsWeb.Models.DocSchemeReport>
@{  
    Layout = null;
 }
@foreach (var contract in Model)
{
  <tr id="@contract.Id" name="@contract.Name" structcode ="@contract.Struct_Code" dkbo_number="@contract.DKBO_NUMBER" >
    <td><input type="checkbox" id ="rowcheck" onclick="selectRow(this);" /></td>
    <td>@contract.Id</td>
    <td>@contract.Name</td>

    @*var isDKBO = bars.extension.getParamFromUrl('ISDKBO', document.location.href);*@
  
    @if (ViewBag.DKBOEA_ON)
    {

        if (@contract.State == null)
        {
            <td>
                @Html.Label(contract.State.ToString(), new { @class = "label" })
            </td>
        }
        else
        {
            if (@contract.State < 0)
            {
            <td>
                <input type="checkbox"
                       id="signed"
                       onclick="if(confirm('Підписати документ?')) SignDocument(@contract.State); else UpdatePage();" />
                @Html.Label(contract.State.ToString().Replace("-", ""), new { @class = "label" })
            </td>
            }

            if (@contract.State > 0)
            {
            <td>
                <input type="checkbox"
                       id="signed"
                       checked="checked"
                       disabled="disabled" />
                @Html.Label(contract.State.ToString(), new { @class = "label" })

                @if (contract.DKBO_NUMBER != null)
                {
                    <a href="" onclick="EADocsView_ShowDialog('@contract.RNK.ToString()',@contract.State.ToString().Replace("-", ""))">Перегляд док. ЕА</a>
                }
        
            </td>
            }
        }
    }

  </tr>
}



