@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Видалення / Відновлення заявок користувачів на купівлю-продаж валюти";
}


<script>
    var currencyOperationData = {
        getNmkMethod: '@Url.Action("GetCustomerNmk", "currencyOperations")',
        getTabvalNameMethod: '@Url.Action("GetTabvalName", "currencyOperations")',
        GetApplicationMethod: '@Url.Action("GetApplication", "currencyOperations")',
        deleteApplicationMethod: '@Url.Action("DeleteApplication", "currencyOperations")',
        restoreApplicationMethod: '@Url.Action("RestoreApplication", "currencyOperations")',
        getNrefSosMethod: '@Url.Action("GetNrefSos", "currencyOperations")'
    }
</script>

<style>
    input, .k-datepicker {
        float: right;
    }

    .col-sm-5 label {
        text-align: right;
    }
</style>

<link href="~/Areas/Zay/Css/styles.css" rel="stylesheet">

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>

<div ng-controller="currencyOpCtrl">
    <div kendo-window="errorWindow" k-visible="false" ></div>

        <div class="container">
            <div class="col-md-8 col-md-offset-1 col-sm-12">
                <form name="myForm" novalidate>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <label>№ заявки:</label>
                                <input ng-model="dfID" name="dfID" type="text" class="k-textbox" style="width: 120px;"  required>
                            </div>
                            <div class="row">
                                <label>Рег.№ Клієнта:</label>
                                <input ng-model="rnk" name="rnk" type="text" class="k-textbox" style="width: 120px;" ng-blur="getCustomerNmk()"  required>
                            </div>
                            <div class="row">
                                <label>Валюта звявки:</label>
                                <input ng-model="dfKV" name="dfKV" type="text" class="k-textbox" style="width: 120px;" ng-blur="getTabvalName()"  required>
                            </div>
                            <div class="row">
                                <label>Сумма заявки:</label>
                                <input ng-model="DK" ng-disabled="true" type="text" class="k-textbox" style="width: 120px;">
                            </div>
                            <div class="row">
                                <label>Дата заявки:</label>
                                <input ng-model="FDAT" ng-disabled="true" class="k-textbox" type="text" style="width: 120px;">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <input type="text" disabled ng-model="nmk" class="k-textbox" style="margin-top:26px; width: 100%;">
                            </div>
                            <div class="row">
                                <input type="text" disabled ng-model="dfKVNAME" class="k-textbox" style="width: 100%;">
                            </div>
                            <div class="row">
                            </div>
                                <div class="row" style="margin: 8px 0px 8px 0px;">
                                    <input ng-model="nDk" ng-value="1" type="radio" name="currAction" id="currActionBuy" class="k-radio" checked="checked">
                                    <label class="k-radio-label" style="margin-left:15px;" for="currActionBuy">Купівля валюти</label>
                                </div>
                                <div class="row" style="margin: 8px 0px 8px 0px;">
                                    <input ng-model="nDk" ng-value="2" type="radio" name="currAction" id="currActionSell" class="k-radio">
                                    <label class="k-radio-label" style="margin-left:15px;" for="currActionSell">Продаж Валюти</label>
                                </div>
                            </div>
                        </div>
                </form>

                <div class="row" style="margin-top: 20px;">
                    <button class="k-button" ng-click="findApplication()"><span class="k-icon k-i-search"></span>Знайти заявку</button>
                    <button class="k-button" ng-click="deleteApplication()" ng-disabled="!(sos>=0)"><span class="k-icon k-i-close"></span>Видалити заявку</button>
                    <button class="k-button" ng-click="restoreApplication()" ng-disabled="!(sos<0)"><span class="k-icon k-i-refresh"></span>Відновити заявку</button>
                   @* <kendo-button><span class="k-icon k-i-cancel"></span>Закінчити роботу</kendo-button>*@
                </div>
            </div>
        </div>
    </div>
    


<script src="~/Areas/Zay/Scripts/CurrencyOperations/currencyOperationsCtrl.js"></script>