@inherits System.Web.Mvc.WebViewPage<IEnumerable<BarsWeb.Models.BARS_BOARD>>
@{
  ViewBag.Title = "Оголошення";
  //Layout = null;
}
<link href="~/Content/Themes/ModernUI/css/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/Scripts/jquery/jquery-te-1.4.0.min.js"></script>
<style>
    .selection-tab .buttons {
      display: none;
    }

    .selection-tab:hover .buttons {
      display: block;
    }

</style>

<script>
  $(function () {
    $('.board').on('change', '.selection-tab-check',
      function () {
        if (this.checked) {
          $(this).parent().addClass('selection-tab-active');
        } else {
          $(this).parent().removeClass('selection-tab-active');
        };
      });
  });

  function dialogAddNews() {
    var $form = $('<div />');
    $form.load('/barsroot/board/add/',function() {
      $form.parent().loader('remove');
    }).dialog({
      autoOpen: true,
      modal: true,
      resizable: true,
      title: 'Нове оголошення',
      width: '560',
      height: '460',
      close: function () {
        $form.remove();
      },
      buttons: [
        {
          text: 'відмінити',
          'class': 'ui-button-link',
          click:
            function () {
              $form.dialog('close');
            }
        },
        {
          text: 'Зберегти',
          'id': 'bt_saveNews',
          click: function () { saveNews($form,'/barsroot/board/add/'); }
        }
      ]
    }).parent().loader();
  }
  
  function dialogEditNews(id) {
    var $form = $('<div />');
    $form.load('/barsroot/board/edit/?id='+id + '&rnd=' + Math.random(),function() {
      $form.parent().loader('remove');
    }).dialog({
      autoOpen: true,
      modal: true,
      resizable: true,
      title: 'Редагування оголошення',
      width: '560',
      height: '460',
      close: function () {
        $form.remove();
      },
      buttons: [
        {
          text: 'відмінити',
          'class': 'ui-button-link',
          click:
            function () {
              $form.dialog('close');
            }
        },
        {
          text: 'Зберегти',
          'id': 'bt_saveNews',
          click: function () { saveNews($form, '/barsroot/board/edit/'); }
        }
      ]
    }).parent().loader();
  }
  function saveNews($form, url) {
    if (validNews($form)) {
      $form.parent().loader();
      var id = $form.find('input[name=id]').val();
      var title = $form.find('input[name=msg_title]').val();
      var text = $form.find('textarea[name=msg_text]').text();
      $.post(url,
        {
          id: id,
          title: title,
          text: text
        }, function (data, textStatus) {
          if (textStatus == 'success') {
            if (data.status == 'ok') {
              $form.dialog('close');
              barsUiAlert({text:data.message,title: 'Повідомлення'});
              $('#main').loader();
              var url = document.location.href;
              var testParam = url.split('?');
              if (testParam.length > 1) {
                url = url + '&rnd=' + Math.random();
              } else {
                url = url + '?rnd=' + Math.random();
              }
              $('.board').load(url + ' .board', function () { $('.tiptip a.button, .tiptip button').tipTip(); $('#main').loader('remove'); });
            }
            if (data.status == 'error') {
              $form.parent().loader('remove');
              barsUiError({ text: data.message, title: 'Помилка' });
            }
          }
        }, 'json');
    }
  }
  function validNews($form) {
    var result = true;
    var title = $form.find('input[name=msg_title]');
    var text = $form.find('textarea[name=msg_text]');
    if (title.val() == '') {
      result = false;
      title.addClass('error');
      $form.find('span[for=msg_title]').remove();
      title.after('<span for=msg_title style=color:red >поле не може бути пустим</span>');
    } else {
      title.removeClass('error');
      $form.find('span[for=msg_title]').remove();
    }
    if (text.text() == '') {
      result = false;
      $form.find('span[for=msg_text]').remove();
      if (text.parent().parent().hasClass('jqte')) {
        text.parent().parent().addClass('error');
        text.parent().parent().after('<span for=msg_text style=color:red >поле не може бути пустим</span>');
      } else {
        text.addClass('error');
        text.after('<span for=msg_text style=color:red >поле не може бути пустим</span>');
      }    
    } else {
      text.parent().parent().removeClass('error');
      text.removeClass('error');
      $form.find('span[for=msg_text]').remove();
    }
    
    return result;
  }
  function deleteNews(id) {
    var checkedNews = '';
    if (typeof id == 'undefined') {
      checkedNews = $('.board input[name="newsid"]:checked').checkedToObj();
      if (checkedNews.length != 0) {
        id = checkedNews.arr;
      }else {
        barsUiError({ text: 'Невибрано жодного оголошення', title: 'Помилка' });
        return;
      }
    }

    barsUiConfirm({text:'Підтвердіть видалення', func: function() {
      $('#main').loader();
      $.post('/barsroot/board/delete/',
        { id: id },
        function (data, textStatus) {
          if (textStatus == 'success') {
            if (data.status == 'ok') {
              var url = document.location.href;
              var testParam = url.split('?');
              if (testParam.length > 1) {
                url = url + '&rnd=' + Math.random();
              } else {
                url = url + '?rnd=' + Math.random();
              }
              $('.board').load(url + ' .board', function() {
                $('.tiptip a.button, .tiptip button').tipTip();
                $('#main').loader('remove');
              });
            }
            if (data.status == 'error') {
              $('#main').loader('remove');
              barsUiError({ text: data.message, title:'Помилка' });
            }
          }
        }, 'json');
    }});
  }
</script>

<h1>Оголошення</h1>
<div style="margin:0 0 5px 0;" class="buttons tiptip">
  <a id="bt_addYear" href="#" onclick="dialogAddNews();return false;" class="button left hover" title="Додати оголошення"><span class="icon icon3"></span><span class="label">Додати</span></a>
  <a id="bt_removeYear" href="#" onclick="deleteNews();return false;" class="button right" title="Видалити відмічені оголошення"><span class="icon icon48"></span><span class="label">Видалити відмічені</span></a>
</div>
@*<textarea cols="20" rows="6" style="width: 100%;"></textarea>*@
<div class="board">
  @foreach (var item in Model)
  {
    <div class="selection-tab" >
      <div class="selection-tab-background"></div>
      <input name="newsid" class="selection-tab-check" value="@item.ID" type="checkbox" />

      <div style="margin:0 0 0 50px; position: absolute;" class="buttons tiptip">
        <a id="bt_editYear" href="#" onclick="dialogEditNews('@item.ID');return false;" class="button left hover" title="Редагувати"><span class="icon icon145"></span><span class="label">Редагувати</span></a>
        <a id="bt_removeYear" href="#" onclick="deleteNews('@item.ID');return false;" class="button right hover" title="Видалити"><span class="icon icon48"></span><span class="label">Видалити</span></a>
      </div>
      @Html.Partial("News",item)
    </div>
    }
    <div style="margin-top: 10px;">
      @BarsWeb.HtmlHelpers.HtmlHelpers.Pager(count: ViewBag.count, pageNum: ViewBag.pageNum, pageSize: ViewBag.pageSize)
    </div>
  </div>
