@{
    var bid_id = Request.Params["bid_id"];
    var read_only = Request.Params["readonly"];
    var srvhr = Request.Params["srvhr"];
    var survey_id = "SURVEY_CLIENT_MAIN";
    string title = "Анкета клієнта заявки №" + bid_id;
}
<h1 id="lbHeader">@title</h1>
<div id="GroupList" class="sideBarStyle"></div>
<div class='form-group'>
    <div class='col-xs-6 col-sm-6 col-md-6' style="text-align:right;padding:4px 4px 15px 4px">
        <button id='btnPrev' class='k-button'>
            <span class='pf-icon pf-16 pf-arrow_left'></span> Назад
        </button>
    </div>
    <div class='col-xs-6 col-sm-6 col-md-6' style="text-align:left;padding:4px 4px 15px 4px">
        <button id='btnNext' class='k-button'>
            Далі <span class='pf-icon pf-16 pf-arrow_right'></span>
        </button>
    </div>
</div>
<script>
    var requiredText = "Поле обов`язкове для заповнення";
    String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    $(document).ready(function () {
        $("#btnNext").on("click", function () {
            nextTab();
        });
        $("#btnPrev").on("click", function () {
            prevTab();
        });

        $("#lbHeader").hide();
        $("#btnNext").hide();
        $("#btnPrev").hide();

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    async: true,
                    cache: false,
                    type: "GET",
                    url: bars.config.urlContent("/wcs/questionnaire/GetGroup?bid_id=" + @bid_id)
                }
            }
        });
        dataSource.fetch(function (){
            var groups = dataSource.view();
            var tabStrip = $("#GroupList").kendoTabStrip({
                activate: onActivate,
                tabPosition: "left",
                animation: false
            }).data("kendoTabStrip");
            for (i=0; i < groups.length; i++) {
                tabStrip.append({
                    text: groups[i].GROUP_NAME,
                    content: "<form id='" + groups[i].GROUP_ID + "' style='width:100%'></form>"
                });
                if (groups[i].IS_FILLED == 0) {
                    tabStrip.enable(tabStrip.tabGroup.children().eq(i), false);
                }
            }
            $(".k-link").click(function() {
                var valid = validQuestions();
                if (valid.validate()) {
                    questionSave("tab");
                }
                else return false;
            });
            tabStrip.select(0);
        });
        bidStateCheckOut("NEW_SURVEY");
    });
    function onActivate(e) {
        var valid = validQuestions();
        var tabStrip = $("#GroupList").data("kendoTabStrip");
        var form = $(".k-content.k-state-active form");
        if (form[0].children.length == 0) {
            mainGroup(form);
        }
        if (tabStrip.select().index() > 0) $("#btnPrev").show();
        else $("#btnPrev").hide();
    }
    function mainGroup(form) {
        bars.ui.loader($('#GroupList'), true);
        $("#btnPrev").attr("disabled","disabled");
        $("#btnNext").attr("disabled","disabled");
        var dataSQuestions = new kendo.data.DataSource({
            transport: {
                read: {
                    async: true,
                    cache: false,
                    type: "GET",
                    url: bars.config.urlContent("/wcs/questionnaire/GetGroupQuestion?bid_id=@bid_id&survey_id=@survey_id&group_id=" + form[0].id)
                }
            }
        });
        dataSQuestions.fetch(function () {
            main(dataSQuestions.view(), form);
            bars.ui.loader($('#GroupList'), false);
            $("#btnPrev").removeAttr("disabled");
            $("#btnNext").removeAttr("disabled");
            $("#lbHeader").show();
            $("#btnNext").show();
        });
    }
    function main(questions, form) {
        for (j = 0; j < questions.length; j++)
        {
            var obj = questions[j];
            var element;
            var group;
            var req;
            var col = $("<div class='col-xs-6 col-sm-6 col-md-6'></div>");
            var loader = $("<img id='ig" + obj.QUESTION_ID + "' src='\\Common\\Images\\loadingforelement.gif' alt='loader' style='width:30px;height:30px'>").hide();
            switch(obj.TYPE_ID)
            {
                case "SECTION": {
                    group = $("<div class='form-group sectionTitle' id='g" + obj.QUESTION_ID + "'></div>");
                    group.append("<span id='" + obj.QUESTION_ID + "' name='" + obj.QUESTION_ID + "'>" + obj.QUESTION_NAME + "</span>");
                    form.append(group);
                    if (obj.DNSHOW_IF == 1) {
                        group.hide();
                    }
                    break;
                }
                case "TEXT": {
                    group = $("<div class='form-group' id='g" + obj.QUESTION_ID + "'><label for='" + obj.QUESTION_ID + "' class='control-label col-xs-4 col-sm-4'>" + obj.QUESTION_NAME + ":</label></div>");
                    element = $("<input type='text' id='" + obj.QUESTION_ID + "' name='" + obj.QUESTION_ID +
                    "' class='k-textbox' value='" + (obj.VALUE == null ? obj.QUEST_PARAMS.TEXT_VAL_DEFAULT == null ? "" : obj.QUEST_PARAMS.TEXT_VAL_DEFAULT : obj.VALUE) + "'" +
                    (obj.QUEST_PARAMS.TEXT_LENG_MAX == null ? "" : "maxlength='" + obj.QUEST_PARAMS.TEXT_LENG_MAX + "'") +
                    (obj.IS_REQUIRED == 1 ? "required data-required-msg='" + requiredText + "'" : "") + " style='width:" + (obj.QUEST_PARAMS.TEXT_WIDTH == null ? "250" : obj.TEXT_WIDTH) + "px;max-width:300px'" +
                    (obj.IS_CHECKABLE == 1 ? "data-check data-check-msg=''" : "") + " />");
                    req = (obj.IS_REQUIRED == 1 ? "<span style='color:red;font-size:large'>*</span>" : "");
                    col.append(element);
                    col.append(req);
                    group.append(col);
                    form.append(group);
                    if (obj.HAS_RELATED == 1)
                    {
                        col.append(loader);
                        onChange(@bid_id,element,obj.SURVEY_ID,obj.TYPE_ID);
                    }
                    if (obj.DNSHOW_IF == 1) {
                        group.hide();
                        element.hide();
                        element.val("");
                    }
                    break;
                }
                case "DECIMAL": {
                    group = $("<div class='form-group' id='g" + obj.QUESTION_ID + "'><label for='" + obj.QUESTION_ID + "' class='control-label col-xs-4 col-sm-4'>" + obj.QUESTION_NAME + ":</label></div>");
                    element = $("<input type='number' id='" + obj.QUESTION_ID + "' name='" + obj.QUESTION_ID +
                    "' class='k-numerictextbox decimal' value='" + (obj.VALUE == null ? obj.QUEST_PARAMS.NMBDEC_VAL_DEFAULT == null ? "" : obj.QUEST_PARAMS.NMBDEC_VAL_DEFAULT : obj.VALUE) + "'" +
                    (obj.QUEST_PARAMS.NMBDEC_VAL_MIN == null ? "" : "data-mindec='" + obj.QUEST_PARAMS.NMBDEC_VAL_MIN + "' data-decminval-msg='Значення&nbsp;меньше&nbsp;за&nbsp;мінімальне&nbsp;(" + obj.QUEST_PARAMS.NMBDEC_VAL_MIN + ")'") +
                    (obj.QUEST_PARAMS.NMBDEC_VAL_MAX == null ? "" : "data-maxdec='" + obj.QUEST_PARAMS.NMBDEC_VAL_MAX + "' data-decmaxval-msg='Значення&nbsp;більше&nbsp;за&nbsp;максимальне&nbsp;(" + obj.QUEST_PARAMS.NMBDEC_VAL_MAX + ")'") +
                    (obj.IS_REQUIRED == 1 ? "required data-required-msg='" + requiredText + "'" : "") + " style='width:250px'" + (obj.IS_CHECKABLE == 1 ? "data-check data-check-msg=''" : "") + " />");
                    req = (obj.IS_REQUIRED == 1 ? "<span style='color:red;font-size:large'>*</span>" : "");
                    col.append(element);
                    col.append(req);
                    group.append(col);
                    form.append(group);
                    element.kendoNumericTextBox({
                        format: "#.00"
                    });
                    if (obj.HAS_RELATED == 1)
                    {
                        col.append(loader);
                        onChange(@bid_id,element,obj.SURVEY_ID,obj.TYPE_ID);
                    }
                    if (obj.DNSHOW_IF == 1) {
                        group.hide();
                    }
                    break;
                }
                case "NUMB": {
                    group = $("<div class='form-group' id='g" + obj.QUESTION_ID + "'><label for='" + obj.QUESTION_ID + "' class='control-label col-xs-4 col-sm-4'>" + obj.QUESTION_NAME + ":</label></div>");
                    element = $("<input type='text' id='" + obj.QUESTION_ID + "' name='" + obj.QUESTION_ID +
                    "' class='k-textbox integer' value='" + (obj.VALUE == null ? obj.QUEST_PARAMS.NMBDEC_VAL_DEFAULT == null ? "" : obj.QUEST_PARAMS.NMBDEC_VAL_DEFAULT : obj.VALUE) +
                    "'" + (obj.IS_REQUIRED == 1 ? "required data-required-msg='" + requiredText + "'" : "") + " style='width:250px'" + (obj.IS_CHECKABLE == 1 ? "data-check data-check-msg=''" : "") + " />");
                    req = (obj.IS_REQUIRED == 1 ? "<span style='color:red;font-size:large'>*</span>" : "");
                    col.append(element);
                    col.append(req);
                    group.append(col);
                    form.append(group);
                    element.on('input', function () {
                        var position = this.selectionStart -1;
                        if (this.value != this.value.replace(/[^0-9]/g, '')) {
                            this.value = this.value.replace(/[^0-9]/g, '');
                            this.selectionStart = position;
                            this.selectionEnd = position;
                        }
                    });
                    if (obj.HAS_RELATED == 1)
                    {
                        col.append(loader);
                        onChange(@bid_id,element,obj.SURVEY_ID,obj.TYPE_ID);
                    }
                    if (obj.DNSHOW_IF == 1) {
                        group.hide();
                        element.hide();
                    }
                    break;
                }
                case "DATE": {
                    var maxDate = "";
                    if (obj.QUEST_PARAMS.DAT_VAL_MAX != null) {
                        maxDate = new Date(obj.QUEST_PARAMS.DAT_VAL_MAX.match(/(\d+)|(-\d+)/)[0] * 1);
                        var day = maxDate.getDate() < 10 ? "0" + maxDate.getDate() : maxDate.getDate();
                        var month = maxDate.getMonth() < 10 ? "0" + maxDate.getMonth() : maxDate.getMonth();
                        maxDate = day + "." + month + "." + maxDate.getFullYear();
                    }
                    var minDate = "";
                    if (obj.QUEST_PARAMS.DAT_VAL_MIN != null) {
                        minDate = new Date(obj.QUEST_PARAMS.DAT_VAL_MIN.match(/(\d+)|(-\d+)/)[0] * 1);
                        var day = minDate.getDate() < 10 ? "0" + minDate.getDate() : minDate.getDate();
                        var month = minDate.getMonth() < 10 ? "0" + minDate.getMonth() : minDate.getMonth();
                        minDate = day + "." + month + "." + minDate.getFullYear();
                    }
                    var default_val = "";
                    if (obj.QUEST_PARAMS.DAT_VAL_DEFAULT != null) {
                        default_val = new Date(obj.QUEST_PARAMS.DAT_VAL_DEFAULT.match(/(\d+)|(-\d+)/)[0] * 1);
                        var day = default_val.getDate() < 10 ? "0" + default_val.getDate() : default_val.getDate();
                        var month = default_val.getMonth() < 10 ? "0" + default_val.getMonth() : default_val.getMonth();
                        default_val = day + "." + month + "." + default_val.getFullYear();
                    }
                    group = $("<div class='form-group' id='g" + obj.QUESTION_ID + "'><label for='" + obj.QUESTION_ID + "' class='control-label col-xs-4 col-sm-4'>" + obj.QUESTION_NAME + ":</label></div>");
                    element = $("<input type='text' id='" + obj.QUESTION_ID + "' name='" + obj.QUESTION_ID +
                    "' class='k-input date' value='" + (obj.VALUE == null ? obj.QUEST_PARAMS.DAT_VAL_DEFAULT == null ? "" : default_val : obj.VALUE) +
                    "'" + (obj.IS_REQUIRED == 1 ? "required data-required-msg='" + requiredText + "'" : "") +
                    (obj.QUEST_PARAMS.DAT_VAL_MIN == null ? "" : "data-mindate='" + obj.QUEST_PARAMS.DAT_VAL_MIN + "' data-dateminval-msg='Дата&nbsp;меньша&nbsp;за&nbsp;мінімальну&nbsp;(" + minDate + ")'") +
                    (obj.QUEST_PARAMS.DAT_VAL_MAX == null ? "" : "data-maxdate='" + obj.QUEST_PARAMS.DAT_VAL_MAX + "' data-datemaxval-msg='Дата&nbsp;більша&nbsp;за&nbsp;максимальну&nbsp;(" + maxDate + ")'") + " style='width:250px'" +
                    (obj.IS_CHECKABLE == 1 ? "data-check data-check-msg=''" : "") + " />");
                    req = $(obj.IS_REQUIRED == 1 ? "<span style='color:red;font-size:large'>*</span>" : "");
                    col.append(element);
                    col.append(req);
                    group.append(col);
                    form.append(group);
                    element.kendoMaskedTextBox({
                        mask: "99.99.9999"
                    }).kendoDatePicker({
                        culture: "uk-UA",
                        format: "dd.MM.yyyy"
                    }).removeClass('k-textbox').parent().parent().removeClass('k-textbox');
                    if (obj.HAS_RELATED == 1)
                    {
                        col.append(loader);
                        onChange(@bid_id,element,obj.SURVEY_ID,obj.TYPE_ID);
                    }
                    if (obj.DNSHOW_IF == 1) {
                        group.hide();
                        element.hide();
                    }
                    break;
                }
                case "LIST": {
                    if (obj.QUEST_LIST_ITEMS != null) {
                        group = $("<div class='form-group' id='g" + obj.QUESTION_ID + "'><label for='" + obj.QUESTION_ID + "' class='control-label col-xs-4 col-sm-4'>" + obj.QUESTION_NAME + ":</label></div>");
                        element = $("<select id='" + obj.QUESTION_ID + "' class='k-dropdown ddlist' name='" + obj.QUESTION_ID + "'" +
                        (obj.IS_REQUIRED == 1 ? "required data-required-msg='" + requiredText + "'" : "") +
                        " style='width:250px' " + (obj.IS_CHECKABLE == 1 ? "data-check data-check-msg=''" : "") + "></select>");
                        req =  (obj.IS_REQUIRED == 1 ? "<span style='color:red;font-size:large'>*</span>" : "");
                        col.append(element);
                        col.append(req);
                        group.append(col);
                        form.append(group);
                        element.kendoDropDownList({
                            optionLabel: " ",
                            dataTextField: "TEXT",
                            dataValueField: "ORD",
                            dataSource: obj.QUEST_LIST_ITEMS
                        });
                        $(element).data("kendoDropDownList").value((obj.VALUE == null ? obj.QUEST_PARAMS.LIST_SID_DEFAULT == null ? "" : obj.QUEST_PARAMS.LIST_SID_DEFAULT : obj.VALUE));
                        if (obj.HAS_RELATED == 1)
                        {
                            col.append(loader);
                            onChange(@bid_id,element,obj.SURVEY_ID,obj.TYPE_ID);
                        }
                        if (obj.DNSHOW_IF == 1) {
                            group.hide();
                        }
                    }
                    break;
                }
                case "REFER": {
                    group = $("<div class='form-group' id='g" + obj.QUESTION_ID + "'><label for='" + obj.QUESTION_ID + "' class='control-label col-xs-4 col-sm-4'>" + obj.QUESTION_NAME + ":</label></div>");
                    element = $("<input type='text' id='" + obj.QUESTION_ID + "' name='" + obj.QUESTION_ID +
                    "' class='k-textbox refer' value='" + (obj.VALUE == null ? obj.QUEST_PARAMS.REFER_SID_DEFAULT == null ? "" : obj.QUEST_PARAMS.REFER_SID_DEFAULT : obj.VALUE) +
                    "'" + (obj.IS_REQUIRED == 1 ? "required data-required-msg='" + requiredText + "'" : "") + " style='width:250px'" + (obj.IS_CHECKABLE == 1 ? "data-check data-check-msg=''" : "") + " disabled='disabled' />");
                    var whereClause = (obj.QUEST_PARAMS.WHERE_CLAUSE == null ? "null" : "'" + obj.QUEST_PARAMS.WHERE_CLAUSE/*.replaceAll("'","''")*/ + "'");
                    var showClause = "showReferen(" + (obj.QUESTION_ID == null ? "null" : "'" + obj.QUESTION_ID + "'") +
                        "," + (obj.QUEST_PARAMS.TAB_NAME == null ? "null" : "'" + obj.QUEST_PARAMS.TAB_NAME + "'") +
                        "," + whereClause +
                        "," + (obj.QUEST_PARAMS.SHOW_FIELDS == null ? "null" : "'" + obj.QUEST_PARAMS.SHOW_FIELDS + "'") + ")";
                    var link = $("<a class='k-button' onclick=\"" + showClause + "\"><i class='pf-icon pf-16 pf-book'></i></a>");
                    req = (obj.IS_REQUIRED == 1 ? "<span style='color:red;font-size:large'>*</span>" : "");
                    col.append(element);
                    col.append(link);
                    col.append(req);
                    group.append(col);
                    form.append(group);
                    if (obj.HAS_RELATED == 1)
                    {
                        col.append(loader);
                        onChange(@bid_id,element,obj.SURVEY_ID,obj.TYPE_ID);
                    }
                    if (obj.DNSHOW_IF == 1) {
                        group.hide();
                        element.hide();
                    }
                    break;
                }
                case "BOOL": {
                    group = $("<div class='form-group' id='g" + obj.QUESTION_ID + "'><label for='" + obj.QUESTION_ID + "' class='control-label col-xs-4 col-sm-4'>" + obj.QUESTION_NAME + ":</label></div>");
                    var state = (obj.VALUE == null ? obj.QUEST_PARAMS.REFER_SID_DEFAULT == null ? "" : obj.QUEST_PARAMS.REFER_SID_DEFAULT : obj.VALUE) == 1 ? true : false;
                    element = $("<input type='checkbox' name='" + obj.QUESTION_ID + "' id='" + obj.QUESTION_ID + "'" +
                    ((obj.QUEST_PARAMS.REFER_SID_DEFAULT == null ? obj.VALUE == null ? "" : obj.VALUE : obj.QUEST_PARAMS.REFER_SID_DEFAULT) == 1 ? "checked" : "") + "/>");
                    col.append(element);
                    group.append(col);
                    form.append(group);
                    element.bootstrapSwitch({
                        size: "small",
                        onText: "Так",
                        offText: "Ні",
                        state: state
                    });
                    if (obj.HAS_RELATED == 1)
                    {
                        col.append(loader);
                        onChange(@bid_id,element,obj.SURVEY_ID,obj.TYPE_ID);
                    }
                    if (obj.DNSHOW_IF == 1) {
                        group.hide();
                        element.hide();
                    }
                }
                default: break;
            }
        }
    }
    function onChange(bid_id, element, survey_id, type) {
        switch(type) {
            case "DECIMAL":
            case "TEXT":
            case "DATE":
            case "LIST":
            case "REFER":
            case "NUMB": {
                element.on("change", function(e){
                    //$("#" + e.target.id).attr("disabled","disabled");
                    $("#ig" + e.target.id).show();
                    $("#btnPrev").attr("disabled","disabled");
                    $("#btnNext").attr("disabled","disabled");
                    var arrayQuestion = $.ajax({
                        async: true,
                        cache: false,
                        type: "POST",
                        url: bars.config.urlContent('/wcs/questionnaire/GetQuestRelation/'),
                        data: { bid_id: bid_id, survey_id: survey_id, group_id: e.target.form.id, question_id: e.target.id, val: e.target.value },
                        success: function(result) {
                            var arrayObj = result;
                            for (i=0; i < arrayObj.length; i++) {
                                $('#' + arrayObj[i].CQID).val("");
                                if (arrayObj[i].HAS_REL == 1 && $('#g' + arrayObj[i].CQID).is(':visible')) {
                                    $('#' + arrayObj[i].CQID).change();
                                }
                                if (arrayObj[i].DNSHOW_IF) {
                                    $('#g' + arrayObj[i].CQID).hide(300);
                                    if (arrayObj[i].CQ_TYPE_ID != "LIST" && arrayObj[i].CQ_TYPE_ID != "DECIMAL") {
                                        $('#' + arrayObj[i].CQID).hide(300);
                                    }
                                    $('#' + arrayObj[i].CQID).change();
                                }
                                else {
                                    $('#g' + arrayObj[i].CQID).show(300);
                                    if (arrayObj[i].CQ_TYPE_ID != "LIST" && arrayObj[i].CQ_TYPE_ID != "DECIMAL") {
                                        $('#' + arrayObj[i].CQID).show(300);
                                    }
                                }
                                if (arrayObj[i].CALC_RESULT != null) {
                                    SetCalcResult(arrayObj[i]);
                                }
                                if (arrayObj[i].CQ_TYPE_ID == "REFER" && arrayObj[i].TAB_NAME != null) {
                                    var showClause = "showReferen('" + arrayObj[i].CQID + "','" + arrayObj[i].TAB_NAME + "','" + arrayObj[i].WHERE_CLAUSE + "','" + arrayObj[i].SHOW_FIELDS + "')";
                                    $('#' + arrayObj[i].CQID).change();
                                    $('#' + arrayObj[i].CQID).parent().find("a").attr("onclick",showClause);
                                }
                            }
                            //$("#" + e.target.id).removeAttr("disabled");
                            $("#ig" + e.target.id).hide();
                            $("#btnPrev").removeAttr("disabled");
                            $("#btnNext").removeAttr("disabled");
                        }
                    }).responseText;
                });
                break;
            }
            case "BOOL": {
                element.on("switchChange.bootstrapSwitch", function(e, state){
                    //$("#" + e.target.id).attr("disabled","disabled");
                    $("#ig" + e.target.id).show();
                    $("#btnPrev").attr("disabled","disabled");
                    $("#btnNext").attr("disabled","disabled");
                    var arrayQuestion = $.ajax({
                        async: true,
                        cache: false,
                        type: "POST",
                        url: bars.config.urlContent('/wcs/questionnaire/GetQuestRelation/'),
                        data: { bid_id: bid_id, survey_id: survey_id, group_id: e.target.form.id, question_id: e.target.id, val: (state ? '1' : '0')},
                        success: function(result) {
                            var arrayObj = result;
                            for (i=0; i < arrayObj.length; i++) {
                                if (arrayObj[i].HAS_REL == 1 && $('#g' + arrayObj[i].CQID).is(':visible')) {
                                    $('#' + arrayObj[i].CQID).change();
                                }
                                if (arrayObj[i].DNSHOW_IF) {
                                    $('#g' + arrayObj[i].CQID).hide(300);
                                    if (arrayObj[i].CQ_TYPE_ID != "LIST" && arrayObj[i].CQ_TYPE_ID != "DECIMAL") {
                                        $('#' + arrayObj[i].CQID).hide(300);
                                    }
                                    $('#' + arrayObj[i].CQID).change();
                                }
                                else {
                                    $('#g' + arrayObj[i].CQID).show(300);
                                    if (arrayObj[i].CQ_TYPE_ID != "LIST" && arrayObj[i].CQ_TYPE_ID != "DECIMAL") {
                                        $('#' + arrayObj[i].CQID).show(300);
                                    }
                                }
                                if (arrayObj[i].CALC_RESULT != null) {
                                    SetCalcResult(arrayObj[i]);
                                }
                            }
                            //$("#" + e.target.id).removeAttr("disabled");
                            $("#ig" + e.target.id).hide();
                            $("#btnPrev").removeAttr("disabled");
                            $("#btnNext").removeAttr("disabled");
                        }
                    }).responseText;
                });
                break;
            }
            default: break;
        }
    }
    function SetCalcResult(obj) {
        switch(obj.CQ_TYPE_ID) {
            case "DECIMAL": $('#' + obj.CQID).data("kendoNumericTextBox").value(obj.CALC_RESULT); break;
            case "LIST": $('#' + obj.CQID).data("kendoDropDownList").value(obj.CALC_RESULT); break;
            case "BOOL": $('#' + obj.CQID).bootstrapSwitch('state', obj.CALC_RESULT == 1 ? true : false); break;
            //case "REFER": $('#' + obj.CQID).val(obj.CALC_RESULT); $('#' + obj.CQID).change(); break;
            default: $('#' + obj.CQID).val(obj.CALC_RESULT); break;
        }
    }
    function checkMinDate(input) {
        var val_date = kendo.parseDate(input.val());
        var min_date = kendo.parseDate(input.data("mindate"));
        if (val_date < min_date) {
            return false;
        }
        return true;
    }
    function checkMaxDate(input) {
        var val_date = kendo.parseDate(input.val());
        var max_date = kendo.parseDate(input.data("maxdate"));
        if (val_date > max_date) {
            return false;
        }
        return true;
    }
    function checkMinIntDec(input) {
        var val_dec = kendo.parseFloat(input.val());
        var min_dec = kendo.parseFloat(input.data("mindec"));
        if (val_dec < min_dec) {
            return false;
        }
        return true;
    }
    function checkMaxIntDec(input) {
        var val_dec = kendo.parseFloat(input.val());
        var max_dec = kendo.parseFloat(input.data("maxdec"));
        if (val_dec > max_dec) {
            return false;
        }
        return true;
    }
    function check(input) {
        var arrayQuestion = $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: bars.config.urlContent('/wcs/questionnaire/GetCheckQuestion/'),
            data: { bid_id: @bid_id, survey_id: '@survey_id', group_id: input[0].form.id, question_id: input[0].id, val: input[0].value  },
            success: function(result) {
                $(input).attr("data-check-msg",result);
            }
        }).responseText;
        if (arrayQuestion != "null") {
            return false;
        }
        return true;
    }
    function validQuestions() {
        var validator = $(".k-content.k-state-active").kendoValidator({
            rules: {
                required: function(input) {
                    if ($(input).data("kendoNumericTextBox") != undefined) {
                        if (!$('#g' + input[0].id).is(":hidden") && input[0].value == "" && input.is("[data-required-msg]")) return false;
                    }
                    if ($(input).data("kendoDropDownList") != undefined) {
                        if (!$('#g' + input[0].id).is(":hidden") && input[0].value == "" && input.is("[data-required-msg]")) return false;
                    }
                    else if ($(input).val() == "" && input.is("[data-required-msg]") && !input.is(":hidden")) return false;
                    return true;
                },
                dateminval: function (input) {
                    if (input.is("[data-dateminval-msg]") && !input.is(":hidden")) {
                        return checkMinDate(input);
                    }
                    return true;
                },
                datemaxval: function (input) {
                    if (input.is("[data-datemaxval-msg]") && !input.is(":hidden")) {
                        return checkMaxDate(input);
                    }
                    return true;
                },
                decminval: function (input) {
                    if (input.is("[data-decminval-msg]") && $(input).val() != "" && (!input.is(":hidden") || $(".k-content.k-state-active .form-group:visible > .col-xs-6.col-sm-6.col-md-6 > span > span > input:not(.date)").filter("[id]") != undefined)) {
                        return checkMinIntDec(input);
                    }
                    return true;
                },
                decmaxval: function (input) {
                    if (input.is("[data-decmaxval-msg]") && $(input).val() != "" && (!input.is(":hidden") || $(".k-content.k-state-active .form-group:visible > .col-xs-6.col-sm-6.col-md-6 > span > span > input:not(.date)").filter("[id]") != undefined)) {
                        return checkMaxIntDec(input);
                    }
                    return true;
                },
                check: function (input) {
                    if (input.is("[data-check-msg]") && $(input).val() != "" && (!input.is(":hidden") || $(".k-content.k-state-active .form-group:visible > .col-xs-6.col-sm-6.col-md-6 > span > select")!=undefined)) {
                        return check(input);
                    }
                    return true;
                }
            }
        }).data("kendoValidator");
        return validator;
    }
    function showReferen(elementId, tabName, whereClause, showFields) {
        bars.ui.handBook(tabName, function (data) {
            $('#'+elementId).val($(data).map(function () {
                return this.PrimaryKeyColumn;
            }).get());
            $('#'+elementId).change();
        },
        {
            multiSelect: false,
            clause: whereClause,
            columns: showFields
        });
    }
    function prevTab() {
        var tabStrip = $("#GroupList").data("kendoTabStrip");
        var indx = tabStrip.select().index();
        if (indx != 1) tabStrip.select(indx - 1);
        else {
            tabStrip.select(indx - 1);
            $("#btnPrev").hide();
        }
    }
    function nextTab() {
        var valid = validQuestions();
        if (valid.validate()) {
            questionSave("btn");
        }
    }
    function questPostSaveBtn(param) {
        $.ajax({
            async: true,
            type: "POST",
            contentType: "application/json",
            url: bars.config.urlContent("/wcs/questionnaire/SetAllAnsw/"),
            data: param,
            success: function() {
                var tabStrip = $("#GroupList").data("kendoTabStrip");
                var indx = tabStrip.select().index();
                tabStrip.enable(tabStrip.tabGroup.children().eq(indx), true);
                tabStrip.select(indx + 1);
                $("#btnPrev").show();
                if (tabStrip.contentElements.length - 1 == indx) {
                    tabStrip.enable(tabStrip.tabGroup.children().eq(indx), true);
                    deleteState();
                    window.location = bars.config.urlContent('/credit/manager/bid_card.aspx?bid_id=@bid_id&srvhr=@srvhr');
                }
            }
        });
    }
    function questPostSaveTab(param) {
        $.ajax({
            async: true,
            type: "POST",
            contentType: "application/json",
            url: bars.config.urlContent("/wcs/questionnaire/SetAllAnsw/"),
            data: param
        });
    }
    function questionSave(type) {
        var json = [];
        @*TEXT;NUMB;DATE;REFER*@
        $(".k-content.k-state-active input:visible:not(.refer)").not("[type=checkbox]").filter("[id]").each(function (indx, element) {
            json = jsonPush(json,@bid_id,"@survey_id",$(element)[0].form.id,element.id,element.value);
        });
        @*DECIMAL*@
        $(".k-content.k-state-active .form-group:visible > .col-xs-6.col-sm-6.col-md-6 > span > span > input:not(.date)").filter("[id]").each(function (indx, element) {
            json = jsonPush(json,@bid_id,"@survey_id",$(element)[0].form.id,element.id,element.value);
        });
        @*LIST*@
        $(".k-content.k-state-active .form-group:visible > .col-xs-6.col-sm-6.col-md-6 > span > select").each(function (indx, element) {
            json = jsonPush(json,@bid_id,"@survey_id",$(element)[0].form.id,element.id,element.value);
        });
        @*REFER*@
        $(".k-content.k-state-active .k-textbox.refer:visible").each(function (indx, element) {
            json = jsonPush(json,@bid_id,"@survey_id",$(element)[0].form.id,element.id,$(element).val());
        });
        @*BOOL*@
        $(".k-content.k-state-active input:visible").filter("[type=checkbox]").each(function (indx, element) {
            json = jsonPush(json,@bid_id,"@survey_id",$(element)[0].form.id,element.id,(element.checked ? "1" : "0"));
        });
        var param = JSON.stringify(json);
        if (type == "btn") {
            questPostSaveBtn(param);
        }
        else {
            questPostSaveTab(param);
        }
    }
    function jsonPush(json,bid_id,survey_id,group_id,question_id,value) {
        json.push({ "bidId": bid_id, "surveyId": survey_id, "groupId": group_id, "questionId": question_id, "value": value });
        return json;
    }
    function bidStateCheckOut(state_id) {
        $.ajax({
            async: false,
            type: "GET",
            url: bars.config.urlContent("/wcs/questionnaire/BidStateCheckOut/?bid_id=@bid_id&state_id=" + state_id)
        });
    }
    function deleteState() {
        $.ajax({
            async: false,
            type: "GET",
            url: bars.config.urlContent("/wcs/questionnaire/DeleteState/?bid_id=@bid_id")
        });
    }
</script>
<style>
    body {
        min-height: 300px;
    }

    .sideBarStyle {
        background-color: #E3EAEB;
    }

    .k-content.k-state-active {
        min-height: 170px;
    }

    .sectionTitle {
        font-weight: bold;
        color: #5178d5;
        text-align: center;
        padding: 3px 10px 1px 10px;
        background-color: #E3EAEB;
    }

    .k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg.field-validation-error {
        width: auto;
        position: relative;
    }

    .control-label.col-xs-4.col-sm-4 {
        width: 250px;
    }

    table {
        width: 100%;
    }

        table td {
            padding: 30px 15px 4px 4px;
        }

    .form-group {
        overflow: hidden;
    }

        .form-group label {
            text-align: right;
        }
</style>
