@model BarsWeb.Areas.Async.Models.TaskParamViewModel
@{
    ViewBag.Title = "Відкладений запуск процедури";
    var count = 0;
}

<h1>@ViewBag.Title</h1>
<div class="" style="padding: 10px; padding-top: 0">
    <h2>@Model.Name</h2>
    <div>@Model.Description</div>
    <div style="padding-top: 10px">
        @if (ViewBag.Code != null && IsPost)
        {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <div>Задачу запущено! Код: @ViewBag.Code</div>
            </div>
        }
        else
        {
            <form id="startTaskForm" name="Form" method="POST" action="@Url.Content("~/async/tasks/start")">
                <input type="hidden" name="schedulerCode" value="@Model.SchedelerCode" />
                <div id="errorMsg" style="display: none;">
                    <div class="alert alert-danger">Не всі поля заповнено! <br /> Запуск не можливий.</div>
                </div>
                <table>
                    @foreach (var item in Model.Parameters.OrderBy(i => i.Position))
                    {
                        if (item.Value.ToString().Contains("ui.confirm"))
                        {
                            <input type="hidden" name="parameters[@count].Id" value="@item.Id" />
                            <input type="hidden" name="parameters[@count].Name" value="@item.Name" />
                            <input type="hidden" name="parameters[@count].Value" value="@item.Value" />
                            <input type="hidden" name="parameters[@count].Type" value="@item.Type.ToString()" />
                            <input type="hidden" name="parameters[@count].Description" value="@item.Description" />
                            <input type="hidden" name="parameters[@count].Position" value="@item.Position" />
                            <input type="hidden" name="parameters[@count].SchedulerCode" value="@item.SchedulerCode" />
                            <input type="submit" id="btnSubmit" style="display:none" />
                            if (ViewBag.Code == null)
                            {
                                <script>
                                    $(document).ready(function () {
                                        bars.ui.confirm({ text: '@item.Description' }, function () {
                                            $("#btnSubmit").click(); 
                                        });
                                    });
                                </script>
                            }
                        }
                        else
                        {
                            <tr>
                                <td style="padding:5px">
                                    <div class="editor-label">
                                        <label for="@item.Name">@item.Description</label>
                                    </div>
                                </td>
                                <td style="padding:5px">
                                    <div id="editDiv" class="editor-field">
                                        <input type="text"
                                               name="parameters[@count].Value"
                                               id="@item.Name"
                                               value="@item.Value"
                                               required
                                               data-required-msg="обов'язкове поле"
                                               class="k-textbox" />

                                        <input type="hidden" name="parameters[@count].Name" value="@item.Name" />
                                        <input type="hidden" name="parameters[@count].Type" value="@item.Type.ToString()" />
                                        <input type="hidden" name="parameters[@count].Description" value="@item.Description" />
                                        <input type="hidden" name="parameters[@count].Position" value="@item.Position" />
                                        <input type="hidden" name="parameters[@count].SchedulerCode" value="@item.SchedulerCode" />
                                        @if (item.Type == TypeCode.DateTime)
                                        {
                                            <script>
                                                $(function () {
                                                    var elem = $('#@item.Name'); 
                                                    var today = new Date();
                                                    var dd = today.getDate();
                                                    var mm = today.getMonth() + 1;
                                                    var yyyy = today.getFullYear(); 
                                                    if (dd < 10) {
                                                        dd = '0' + dd
                                                    }
                                                    if (mm < 10) {
                                                        mm = '0' + (mm + 1)
                                                    } 
                                                    raportDate = '01/' + mm + '/' + yyyy;
                                                    elem.attr('validationMessage', 'некоректна дата');
                                                    elem.attr('data-type', 'date').attr('data-format', 'dd/MM/yyyy');
                                            elem.kendoDatePicker({
                                                format: 'dd/MM/yyyy',
                                                value: raportDate,
                                                change: function (e) {
                                                    var selectedDate = elem.data("kendoDatePicker").value();
                                                    var sDD = selectedDate.getDate();
                                                    var sMM = selectedDate.getMonth() + 1;
                                                    var sYY = selectedDate.getFullYear();
                                                    selectedDate = sDD <= 10 ? '01/' + sMM + '/' + sYY : '01/' + (sMM + 1) + '/' + sYY;
                                                    return elem.data("kendoDatePicker").value(selectedDate);
                                                }
                                            }); /*.attr("disabled", "disabled")*/

                                                    elem.kendoMaskedTextBox({ mask: '99/99/9999' });
                                                    elem.parentsUntil('.k-widget').parent().removeClass('k-textbox');
                                                    elem.removeClass('k-textbox')/*.prop("readonly", "readonly")*/.on('click', function () {
                                                        $(this).parent().find('span.k-select').click();
                                                    });
                                                })
                                            </script>
                                        }
                                        else if (item.Type == TypeCode.Decimal)
                                        {
                                            <script>
                                                $(function () {
                                                    var elem = $('#@item.Name');
                                            var desc = $("input[name='parameters[@count].Description']").val();
                                            var ref = desc.indexOf('Реф');
                                            if (ref != -1) {
                                                elem.attr('maxlength', '8');
                                                elem.attr("value", "0");
                                            } else if (desc.indexOf('(1/0)')) {
                                                var defInputValue = $("input[name='parameters[@count].Value']").val('1');
                                                elem.prop('step', 1);
                                                elem.prop('min', 0);
                                                elem.prop('max', 1);
                                            }
                                                    elem.removeClass('k-textbox').parentsUntil('.k-widget').parent().removeClass('k-textbox');
                                                    elem.kendoNumericTextBox({ format: '{0:n0}' });
                                                })
                                            </script>
                                        }
                                    </div>
                                </td>
                            </tr> 
                        }
                        count++;
                    }
                    @if (!IsPost)
                    {
                        <tr>
                            <td></td>
                            <td style="padding:5px">
                                <button id="submit" type="submit" class="k-button"><i class="pf-icon pf-16 pf-gears"></i>Запуск</button>
                            </td>
                        </tr>
                    }
                </table>
            </form>
        }
    </div>
</div>

<script>

    $(function () {
        var validatorRules = {
            rules: {
                greaterdate: function (input) {
                    if (input.is("[data-greaterdate-msg]") && input.val() != "") {
                        var date = kendo.parseDate(input.val()),
                            otherDate = kendo.parseDate($("[name='" + input.data("greaterdateField") + "']").val());
                        return otherDate == null || otherDate.getTime() < date.getTime();
                    }

                    return true;
                }
            }
        };
        var validator = $("#startTaskForm").kendoValidator().data("kendoValidator");

        $('#startTaskForm').submit(function (e) {
            //e.preventDefault();
            if (validator.validate()) {
                $("#errorMsg").hide();
                return true;
            } else {
                $("#errorMsg").show();
                return false;
            }


            /*$("#errorMsg").hide();
            $('form input[type="text"]').not('.k-formatted-value').map(function () {
                if ($(this).val() === "") {
                    $("#errorMsg").show();
                }
            });
            if ($("#errorMsg").is(":visible")) {
                return false;
            } */
        });
    })
</script>