@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Довідник нотаріусів";
    var isCaMode = ViewBag.Mode != null && ViewBag.Mode == "CA";
}

<h2>@ViewBag.Title @(isCaMode ? "(Центральний апарат)" : "")</h2>

@Styles.Render("~/bundles/cdnt/styles")

<script src="~/lib/jsZip/jszip.min.js"></script>
<script>
    var isCaMode = @isCaMode.ToString().ToLower();
</script>

<div id="tabstrip">
    <ul>
        <li id="notaryTab">Нотаріуси</li>
        <li id="accreditationsTab">Акредитації</li>
        <li id="transactionsTab">Транзакції</li>
    </ul>
    <div>
        <div id="toolbar"></div>
        <div id="grid"></div>
    </div>
    <div>
        <div id="accr_toolbar"></div>
        <div id="accr_grid"></div>
    </div>
    <div>
        <div id="tran_toolbar"></div>
        <div id="tran_grid"></div>
    </div>
</div>

@*<div id="editNotaryDlg" style="display: none;" class="notaDlg">
    <form id="notary">
        <input name="notary_id" class="k-textbox" type="hidden"/>
        <label>Тип нотаріуса: <input name="notary_type" class="k-textbox" type="text" required /></label>
        <label>ІПН: <input name="tin" class="k-textbox" type="text" data-tincheck-msg="ІПН має складатись із 10 цифр!" /></label>
        <label>Прізвище: <input name="last_name" class="k-textbox" type="text" required /></label>
        <label>Ім'я: <input name="first_name" class="k-textbox" type="text" required /></label>
        <label>По батькові: <input name="middle_name" class="k-textbox" type="text" required /></label>
        <label>Дата народження: <input name="date_of_birth" class="k-textbox" type="text" required /></label>
        <label>Вид документу: <input name="document_type" class="k-textbox" type="text" required /></label>
        <label hidden>Документ №: <input name="idcard_document_number" class="k-textbox" type="text" data-idcardnumcheck-msg="Номер ID-картки має складатись із 9 цифр" /></label>
        <label hidden>Запис №: <input name="idcard_notation_number" class="k-textbox" type="text" data-idcardnotationnumcheck-msg="Номер запису ID-картки має складатись із 8 та 5 цифр записаних через дефіс" /></label>
        <label>Серія паспорту: <input name="passport_series" class="k-textbox" type="text" required data-passpseriescheck-msg="Серія має складатись із 2х символів" /></label>
        <label>Номер паспорту: <input name="passport_number" class="k-textbox" type="text" required data-passnumcheck-msg="Номер паспорту має складатись із 6 цифр"/></label>
        <label>Виданий:<input name="passport_issued" class="k-textbox" type="text" required /></label>
        <label hidden>Дійсний до:<input name="passport_expiry" class="k-textbox" type="text" /></label>
        <label>Орган видачі:<input name="passport_issuer" class="k-textbox" type="text" required /></label>
        <label>Адреса офісного приміщення: <input name="address" class="k-textbox" type="text" required /></label>
        <label>Номер телефону/факс: <input name="phone_number" class="k-textbox" type="text" /></label>
        <label>Мобільний номер: <input name="mobile_phone_number" class="k-textbox" type="text" data-mobphonecheck-msg="Невірний формат моб. телефону" /></label>
        <label>Email: <input name="email" class="k-textbox" type="text"/></label>
        <label>Номер свідоцтва про держ.реєстрацію: <input name="certificate_number" required class="k-textbox" type="text" /></label>
        <div style="float: right; margin-top: 10px;">
            <button id="saveNotary" class="k-button k-state-default"></button>
            <button id="cancelNotary" class="k-button">Відмінити</button>
        </div>
    </form>
</div>*@
<div id="editNotaryDlg" style="display: none;" class="notaDlg">
    <form id="notary" class="k-form-inline">
        <input name="notary_id" class="k-textbox" type="hidden" />
        <fieldset>
            <label class="k-form-field">
                <span>Тип нотаріуса: </span>
                <input name="notary_type" class="k-textbox" required/>
            </label>
            <label class="k-form-field">
                <span>ІПН: </span>
                <input name="tin" class="k-textbox" data-tincheck-msg="ІПН має складатись із 10 цифр!" />
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>Прізвище: </span>
                <input name="last_name" class="k-textbox" required />
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>Ім'я: </span>
                <input name="first_name" class="k-textbox" required />
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>По батькові: </span>
                <input name="middle_name" class="k-textbox" required />
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>Дата народження: </span>
                <input name="date_of_birth" class="k-textbox" data-for="#date_of_birth_span"/>
                <span class="k-required" id="date_of_birth_span">*</span>
            </label>
        </fieldset>
        <fieldset>
            <legend>Паспортні дані</legend>
            <label class="k-form-field">
                <span>Тип документу: </span>
                <input name="document_type" class="k-textbox" required />
            </label>
            <label class="k-form-field">
                <span>Документ №: </span>
                <input name="idcard_document_number" class="k-textbox" data-idcardnumcheck-msg="Номер ID-картки має складатись із 9 цифр" />
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>Запис №: </span>
                <input name="idcard_notation_number" class="k-textbox" data-idcardnotationnumcheck-msg="Номер запису ID-картки має складатись із 8 та 5 цифр записаних через дефіс" />
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>Серія паспорту: </span>
                <input name="passport_series" class="k-textbox" data-passpseriescheck-msg="Серія має складатись із 2х символів"/>
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>Номер паспорту: </span>
                <input name="passport_number" class="k-textbox" data-passnumcheck-msg="Номер паспорту має складатись із 6 цифр" />
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>Виданий: </span>
                <input name="passport_issued" class="k-textbox" data-for="#passport_issued_span"/>
                <span class="k-required" id="passport_issued_span">*</span>
            </label>
            <label class="k-form-field">
                <span>Дійсний до: </span>
                <input name="passport_expiry" class="k-textbox" data-for="#passport_expiry_span"/>
                <span class="k-required" id="passport_expiry_span">*</span>
            </label>
            <label class="k-form-field">
                <span>Орган видачі: </span>
                <input name="passport_issuer" class="k-textbox" data-issuercheck-msg="Для ID-картки дозволяються тільки числові значення"/>
                <span class="k-required">*</span>
            </label>
        </fieldset>
        <fieldset>
            <legend>Контактні дані</legend>
            <label class="k-form-field">
                <span>Адреса офісного приміщення: </span>
                <input name="address" class="k-textbox" />
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>Номер телефону/факсу: </span>
                <input name="phone_number" class="k-textbox" />
            </label>
            <label class="k-form-field">
                <span>Мобільний номер: </span>
                <input name="mobile_phone_number" class="k-textbox" data-mobphonecheck-msg="Невірний формат моб. телефону"/>
                <span class="k-required">*</span>
            </label>
            <label class="k-form-field">
                <span>Email: </span>
                <input name="email" class="k-textbox" />
            </label>
            <label class="k-form-field">
                <span>Номер свідоцтва про держ.реєстрацію: </span>
                <input name="certificate_number" class="k-textbox" required />
                <span class="k-required">*</span>
            </label>
        </fieldset>
        
        <div style="float: right; margin-top: 10px;">
            <button id="saveNotary" class="k-button k-state-default"></button>
            <button id="cancelNotary" class="k-button">Відмінити</button>
        </div>
    </form>
</div>

<div id="editAccreditationDlg" style="display: none;" class="notaDlg">
    <form id="accreditation">
        <input name="accreditation_id" class="k-textbox" type="hidden" />
        <input name="accreditation_notary_id" class="k-textbox" type="hidden" />
        <label>Тип акредитації: <input name="accreditation_type_id" class="k-textbox" type="text" /></label>
        <label>Дата початку дії: <input name="start_date" class="k-textbox" type="text" /></label>
        <label>Дата припинення: <input name="close_date" class="k-textbox" type="text" /></label>
        <label>Номер рахунку: <input name="account_number" class="k-textbox" type="text" /></label>
        <label>Стан акредитації: <input name="state_id" class="k-textbox" type="text" /></label>
        <label>
            Заявник:
            <select name="branches" multiple="multiple" class="k-textbox" required></select>
        </label>
        <label>
            Акредитовані бізнеси:
            <select name="businesses" multiple="multiple" class="k-textbox" required></select>
        </label>
        <div style="float: right; margin-top: 100px;">
            <button id="saveAccreditation" class="k-button k-state-default">Зберегти</button>
            <button id="cancelAccreditation" class="k-button">Відмінити</button>
        </div>
    </form>
</div>

@Scripts.Render("~/bundles/cdnt/scripts")