@using Kendo.Mvc.UI
@using Areas.GDA.Models

@model SMBDepositTranche
<script src="~/Areas/GDA/Scripts/GDABack/EarlyRepaymentTranche.js"></script>
<script src="~/Areas/GDA/Scripts/GDABack/Index.js"></script>
<link rel="stylesheet" href="~/Areas/GDA/Css/GDA/Main.css" />

@Html.HiddenFor(x => x.ProcessId)
@Html.HiddenFor(x => x.ReturnAccount)
@Html.HiddenFor(x => x.FrequencyPayment)

<div>
@(Html.Kendo().ToolBar()
    .Name("ToolBar")
    .Items(items =>
    {
        if (ViewBag.StateCode == "DONE")
        {
            items.Add().Type(CommandType.Button).Text("Відхилити").Icon("pf-icon pf-16 pf-delete_button_error").Click("reject").Enable(false);
            items.Add().Type(CommandType.Button).Text("Авторизувати").Icon("pf-icon pf-16 pf-user").Click("autorize").Enable(false);
        }
        else
        {
            items.Add().Type(CommandType.Button).Text("Відхилити").Icon("pf-icon pf-16 pf-delete_button_error").Click("reject").Enable(true);
            items.Add().Type(CommandType.Button).Text("Авторизувати").Icon("pf-icon pf-16 pf-user").Click("autorize").Enable(true);
        }
        items.Add().Template("<a class='k-button clientBtn' onclick='showClientCard(" + @Model.CustomerId + ")'><span class='pf-icon pf-16 pf-book'></span>Відкрити картку клієнта</a>");
    })
)
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <table border="0">
                <tr>
                    <td>
                        <label>№ Заяви про розміщення траншу</label>
                        <input type="text" class="k-textbox" @*ng-model="editreplenishmentTranche.DealNumber"*@
                               ng-disabled="true" style="width: 160px;background-color:cornsilk" value="@Model.DealNumber" />

                        <label>Дата заяви про розміщення траншу</label>
                        <input type="text" class="kendoDate form-control" style="width:140px" disabled value="@Model.StartDate" />

                    </td>
                </tr>
                <tr> <td> <hr /> </td> </tr>
                <tr>
                    <td>
                        <label>№ Заяви про дострокове повернення траншу</label>
                        <input type="text" class="k-textbox" style="width: 160px;background-color:cornsilk"
                               ng-disabled="true" @*kendo-masked-text-box k-mask="'000 000000 000000/000/000'"*@
                               @*ng-model="earlyRepaymentTranche.DealNumber"*@ value="@Model.DealNumber" />

                        <label>Дата заяви про дострокове повернення траншу</label>
                        @*<span style="color: red" ng-show="!isValueValid('earlyRepaymentTranche','dateReturnStatement')">*</span>*@
                        <input type="text" class="kendoDate form-control" style="width:140px" disabled value="@Model.ActionDate"/>

                    </td>
                </tr>
                <tr> <td> <hr /> </td> </tr>
                <tr>
                    <td>
                        <label>Сума:</label>
                        <input kendo-numeric-text-box k-min="0" style="width: 160px;background-color:cornsilk"
                               k-max="9999999" k-spinners="false" k-ng-disabled="true"
                               @*ng-model="earlyRepaymentTranche.amountTranche"*@ value="@Model.AmountTranche" />

                        <label>Валюта:</label>
                        <input type="text" class="k-textbox" @*ng-model="earlyRepaymentTranche.CurrencyId"*@ ng-disabled="true"
                               style="width: 80px;background-color:cornsilk" value="@Model.CurrencyId" />


                        <label>Депозитний рахунок:</label>
                        <input type="text" class="k-textbox" @*ng-model="earlyRepaymentTranche.PrimaryAccount"*@
                               style="width: 250px;background-color:cornsilk" ng-disabled="true" value="@Model.PrimaryAccount" />
                    </td>
                </tr>
                <tr> <td> <hr /> </td> </tr>
                <tr>
                    <td>
                        <label>Строк:</label>
                        <input type="text" class="k-textbox" @*ng-model="earlyRepaymentTranche.NumberTrancheDays"*@
                               style="width: 50px;background-color:cornsilk" ng-disabled="true" value="@Model.NumberTrancheDays"/>

                        <label>Дата розміщення:</label>
                        <input type="text" class="kendoDate form-control" style="width:140px" disabled value="@Model.StartDate" />
                    </td>
                </tr>
                <tr> <td> <hr /> </td> </tr>
                <tr>
                    <td>
                        <label>Рахунок для повернення:</label>
                        @*<span style="color: red" ng-show="!isValueValid('earlyRepaymentTranche','accCreit')">*</span>*@

                        <select id="DebitAccEarlyRepayment"
                                kendo-drop-down-list style="width: 30%" disabled
                                @*ng-model="earlyRepaymentTranche.ReturnAccount"*@></select>


                        <label>Дата повернення:</label>
                        <input type="text" class="kendoDate form-control" style="width:140px" disabled value="@Model.ExpiryDate" />
                    </td>
                </tr>
                <tr> <td> <hr /> </td> </tr>
                <tr>
                    <td>
                        <label>Варіанти виплати %:</label>
                        <input id="frequencyPayment" type="text" class="k-textbox" @*ng-model="earlyRepaymentTranche.FrequencyPaymentName"*@ ng-disabled="true"
                               style="width: 140px;background-color:cornsilk" @*value="@Model.FrequencyPayment"*@/>

                        <label>% ставка:</label>
                        <input kendo-numeric-text-box k-min="0" style="width: 80px;background-color:cornsilk"
                               k-max="100" ng-disabled="true" k-spinners="false"
                               @*ng-model="earlyRepaymentTranche.interestRate"*@ value="@Model.InterestRate" />
                    </td>
                </tr>
                <tr> <td> <hr /> </td> </tr>
                <tr>
                    <td>
                        <label>Індивідуальна % ставка:</label>
                        <input type="checkbox" @(String.Equals(Model.IsIndividualRate, "1") ? "checked='checked'" : string.Empty) ng-disabled="true" />
                        <input kendo-numeric-text-box style="width: 80px;background-color:cornsilk"
                               k-min="0" k-max="100" ng-disabled="true" k-spinners="false"
                               value="@Model.IndividualInterestRate" />
                        <br>

                        <label>Коментар:</label>
                        <textarea rows="3" @*ng-model="earlyRepaymentTranche.Comment"*@
                                  ng-disabled="true" style="background-color:cornsilk"
                                  class="k-textbox">@Model.Comment</textarea>
                    </td>
                </tr>
                <tr> <td> <hr /> </td> </tr>
                <tr>
                    <td>
                        <label>Штрафна % ставка:</label>
                        @*<span style="color: red" ng-show="!isValueValid('earlyRepaymentTranche','penaltyInterestRateValue')">*</span>*@
                        <input type="text" style="width: 40px;background-color:cornsilk;" class="k-textbox"
                               @*ng-disabled="!isEditable('earlyRepaymentTranche') || !earlyRepaymentTranche.penaltyInterestRate"*@ ng-disabled="true"
                               @*ng-model="earlyRepaymentTranche.PenaltyRate"*@ value="@Model.PenaltyRate"/>

                        <br>

                        <label>Коментар (максимум - 1000 символів):</label>
                        @*<span style="color: red" ng-show="!isValueValid('earlyRepaymentTranche','commentPenalty')">*</span>*@
                        <textarea rows="3" maxlength="1000" @*ng-model="earlyRepaymentTranche.AdditionalComment"*@
                                  ng-disabled="false"
                                  class="k-textbox">@Model.AdditionalComment</textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label><b>Оператор:</b></label>
                <input type="text" class="k-textbox" id="operator" style="width: 200px;background-color:cornsilk" disabled
                       @*ng-model="replacementTranche.OperatorName" ng-disabled="true"*@ />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label><b>Дата:</b></label>
                <input type="text" class="kendoDate form-control" id="operatorDate" style="width:110px" disabled />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label><b>Контролер:</b></label>
                <input type="text" class="k-textbox" id="controller" style="width: 200px;background-color:cornsilk" disabled
                       @*ng-disabled="true" ng-model="replacementTranche.ControllerName"*@ />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label><b>Дата:</b></label>
                <input type="text" class="kendoDate form-control" id="controllerDate" style="width:110px" disabled />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label><b>Статус:</b></label>
                <input type="text" class="k-textbox" style="width: 120px;background-color:cornsilk" disabled value="@(ViewBag.StateName)"
                       @*ng-disabled="true" ng-value="getStateTranche(replacementTranche.State)"*@ />
            </div>
        </div>
    </div>
</div>

<div id="ConfirmPopup"></div>