@*@model BarsWeb.Areas.Zay.Models.CurrencyMode*@
@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Візування введених угод (покупка).";
}

@Scripts.Render("~/bundles/Zay/currencyBuy")
@Styles.Render("~/bundles/Zay/styles")

<script>
    bars.helper.loadTemplate('@Url.Content("~/Areas/Zay/Scripts/CurrencyBuySighting/tpl/CencelReasonPattern.tpl.html")');
    bars.helper.loadTemplate('@Url.Content("~/Areas/Zay/Scripts/CurrencyBuySighting/tpl/RowEditPattern.tpl.html")');

    var glReserve = '@ViewBag.nReserve';
    var glCovered = '@ViewBag.nCovered';
</script>

<div class="page-header">
    <h1>
        @ViewBag.Title
    </h1>
</div>

<div id="toolbar"></div>
<div id="grid"></div>

<div id="window">
    <div id="box"></div>
</div>

<div id="cenceling-window">
    <div id="cencel-box"></div>
</div>


<style>
    .btns-group {
        float: right !important;
        margin-top: 20px;
        margin-right: 23px;
        margin-bottom: 20px;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 15px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .vresize {
        resize: vertical;
    }

    #container label {
        width: 150px;
        margin-left: 20px;
    }

    #container input {
        width: 360px;
        margin-bottom: 5px;
    }

    #container-reason label {
        width: 150px;
        margin-left: 20px;
    }

    #container-reason input {
        width: 360px;
        margin-bottom: 5px;
    }

    #container-reason textarea {
        width: 360px;
    }

    .date-picker {
        margin-bottom: 5px;
    }

    #meta_aim_name, #benef_country, #bank_code, #product_group_name {
        width: 385px;
        margin-bottom: 5px;
    }

    .need {
        padding: 4px 5px;
    }

    .simple {
        padding: 4px 5px;
    }

    .k-grid-header th.k-with-icon .k-link {
        margin-right: 0px;
        font-size: 11px;
    }

    .k-header .k-link {
        text-align: center;
        font-size: 11px;
    }

    .k-grid-header th.k-header, .k-filter-row th {
        text-align: center;
        font-size: 11px;
    }
    .k-list-optionlabel{
        font-size: 13px;
    }

  #currencyUse.k-state-active{
        background-color: #32408f !important;
        color: white !important;
    }
</style>