@inherits System.Web.Mvc.WebViewPage<Models.META_TABLES>
@{
    Layout = null;
}

<style>
    div.checkbox
    {
        width:16px;
        height:16px;
        border:1px solid #808080; 
    }
    .checked
    {
        background-image:url(/Common/Images/default/16/ok.png)
    }

    .selectDiv
    {
        overflow:hidden; margin:2px 2px 2px 2px;
    }
    .selectDiv select
    {
        margin:-2px -2px -2px -2px;
    }
    #filterString tbody td
    {
        padding:0 0 0 0;
        border-right:1px solid #d1d1d1;
    }
    .recycle,.recyclebin,.search
    {
        margin:0 3px 2px 3px;
        display: block;
        width:16px;height:16px;
    }
    .recycle
    {
        background-image:url(/common/images/16/recycle.png);
    }
    .recycle:hover
    {
        background-image:url(/common/images/16/recycle_hover.png);
    }

</style>
<script type="text/javascript">
  $(document).ready(function() {
    $('#tabsFilter').tabs();
    $('input[type="button"]').button();
    $('#tabsFilter .miniSimpleTable tbody tr').click(function() { clickFilterRow($(this)); });
    $('button[name="btSelFilter"]').click(function() { updateFilterObjrct(); });

    addRowToFilter();
  });

    function clickFilterRow(elem)
    {
        if (elem.find('td input:checkbox').prop('checked')) {
            elem.parent().find('tr td input:checkbox').removeAttr('checked');
            elem.parent().find('tr td div.checkbox').removeClass('checked');
        }
        else {
            elem.parent().find('tr td input:checkbox').removeAttr('checked');
            elem.parent().find('tr td div.checkbox').removeClass('checked');
            elem.find('td input:checkbox').attr('checked', 'checked');
            elem.find('td div.checkbox').addClass('checked');
        }
    }

    function addRowToFilter() {
        var newRow = $($('#filterString tfoot').html());
        newRow.find('div.recycle').click(function () { delSelectedRow(this); });
        $('#filterString tbody').append(newRow);
    }
    function delSelectedRow(e) {
        $(e).parent().parent().remove();
    }
    function delAllRow() {
        $('#filterString tbody').html('');
    }
    function showDialogSaveUserFilter() {
        var res = CheckFilter();
        if (res && $('#filterString tbody tr').length>0) {
            $('#saveFilterName').removeClass('error');
            $('#saveFilterName').val('');
            $('#seveUserFilterDialog').dialog({ autoOpen: true, position: 'center', title: 'Збереження поточного фільтра', modal: true, resizable: false, width: '250', height: '150', close: function () { /*$(this).html('');*/ } });
        }
    }
    function saveUserFilter() {
        var name = $('#saveFilterName').val();
        if (name == '') {
            $('#saveFilterName').addClass('error');
            return;
        }
        addLoader($('#tabsFilter #tabs-3'));
        $('#seveUserFilterDialog').dialog('close');
        
        var where = SaveFilterStr();
        $.post('/barsroot/webservices/SetFilter/',
               { name: name, tableId: '@Model.TABID', where:where.where,tables:where.tables },
               function getResp(data) {
                   removeLoader($('#addFilterDialog'));
                   switch (data) {
                       case 'ok':
                           barsUiAlert('Фільтр успішно збережено!','Повідомлення!');
                           addLoader($('#tabsFilter #tabs-2'));
                           $('#tabsFilter #tabs-2').load('/barsroot/webservices/filter/ #tabs-2 table',
                                              { id: '@Model.TABID' },
                                              function () {
                                                  removeLoader($('#tabs-2'));
                                                  $('#tabsFilter #tabs-2 .miniSimpleTable tbody tr').click(function () { clickFilterRow($(this)); });
                                              });
                           break;
                       default:
                           break;
                   }
                   removeLoader($('#tabsFilter #tabs-3'));
               });
    }
    function delFilter() {
        var filId = $('#userFilter input:checkbox:checked');
        if (filId.val() != undefined) {
            addLoader($('#tabsFilter #tabs-2'));
            $.post('/barsroot/webservices/DelFilter/', { id: filId.val() }, function getResp(data) {
                switch (data)
                {
                    case 'err':
                        barsUiAlert('Не вдалося видалити фільтр!', 'Помилка!','error');
                        break;
                    case 'ok':
                        filId.parent().parent().remove();
                        break;
                    default: break;
                }
                removeLoader($('#tabsFilter #tabs-2'));
            });
        }
    }
    function viewFilter() {
        var filId = $('#userFilter input:checkbox:checked');
        if (filId.val() != undefined) {
            barsUiAlert(filId.attr('data-where').replace(/\$~~ALIAS~~\$/g, 'a'), 'Повідомлення!');
        }
    }

</script>
@{var dinFilter = Model.DYN_FILTER.Where(i => i.USERID == null || i.USERID == Convert.ToInt32(ViewBag.UserId)).OrderBy(i => i.SEMANTIC).ToArray();}
<div id="tabsFilter">
  <ul>
    <li><a href="#tabs-1">Системний</a></li>
    <li><a href="#tabs-2">Фільтр користувача</a></li>
    <li><a href="#tabs-3">Новий</a></li>
  </ul>
  <div id="tabs-1"  style="overflow:auto;height:340px">
      <table id="sysFilter" class="miniSimpleTable" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
                <td></td>
                <td>Код фільтра</td>
                <td>Найменування</td>
            </tr>
          </thead>
          <tbody>
          @foreach (var item in dinFilter.Where(i=>i.USERID==null).OrderBy(i=>i.SEMANTIC) )
          {
            <tr>
                <td><div class="checkbox"></div><input value="@item.FILTER_ID" type="checkbox" style="display:none;"/></td>
                <td>@item.FILTER_ID</td>
                <td data-name="name">@item.SEMANTIC</td>
            </tr>                   
          }
          </tbody>
      </table>
            
  </div>
  <div id="tabs-2" style="overflow:auto;height:340px">
      <table id="userFilter" class="miniSimpleTable" cellpadding="0" cellspacing="0">
          <caption>
              <input onclick="delFilter();" type="image" src="/Common/Images/default/16/garbage_empty.png" title="Видалити фільтр з БД" />
              <input onclick="viewFilter();" type="image" src="/Common/Images/default/16/view.png" title="Показати значення фільтра" />
          </caption>
          <thead>
            <tr>
              <td></td>
              <td>Код фільтра</td>
              <td>Найменування</td>
            </tr>
          </thead>
          <tbody>
          @foreach (var item in dinFilter.Where(i=>i.USERID==Convert.ToInt32(ViewBag.UserId)).OrderBy(i => i.SEMANTIC)) 
          {
                <tr>
                    <td>
                        <div class="checkbox"></div>
                        <input value="@item.FILTER_ID" type="checkbox" data-where="@item.WHERE_CLAUSE"  style="display:none"/>
                    </td>
                    <td>@item.FILTER_ID</td>
                    <td data-name="name">@item.SEMANTIC</td>
                </tr>                   
          }
          </tbody>
      </table>

  </div>
  <div id="tabs-3" style="overflow:auto;height:340px">
    <div id="seveUserFilterDialog" style="display:none;text-align:center;">
        <div style="width:220px;">
            <div style="margin:10px 0 0 0;">Введіть назву фільтра:</div>
            <input id="saveFilterName" type="text" style="width:100%;margin:10px 0 0 0;"/>
            <input type="button" value="Зберегти" style="width:100%;margin:10px 0 0 0;" onclick="saveUserFilter();" />
        </div>
    </div>
    <table class="miniSimpleTable" id="filterString" cellSpacing="0" cellPadding="0" border="0">
        <caption>
            <input onclick="addRowToFilter();" type="image" src="/Common/Images/default/16/row_add.png" title="Додати рядок фільтру" />&nbsp;&nbsp;
            <input onclick="delAllRow();" type="image" src="/Common/Images/default/16/garbage_empty.png" title="Видалити всі рядки фільтру" />&nbsp;&nbsp;
            <input onclick="verifyFilter();" type="image" src="/Common/Images/default/16/table_preferences.png" title="Перевірити синтаксис сформованого фільтру" />
            <input onclick="showDialogSaveUserFilter();" type="image" src="/Common/Images/default/16/disk_blue.png" title="Зберегти сформований фільтр до БД" />
        </caption>
        <thead>
		    <tr>
                <td></td>
                <td>І\АБО</td>
				<td>Атрибут</td>
				<td>Оператор</td>
				<td>Значення</td>
			</tr>
        </thead>
        <tbody>
         </tbody>
         <tfoot style="display:none;">
             <tr>
                <td><div class="recycle" onclick="delSelectedRow(this);" title="Видалити рядок фільтру"></div></td>
                <td>
                    <div class="selectDiv" style="width:30px;">
                        <select style="width:50px;"  id="op" onblur="" >								                
                            <option value="1">І</option>
							<option value="2">АБО</option>
							<option value="3">(</option>
							<option value="4">)</option>
							<option value="5" selected="selected">&nbsp;</option>
						</select>
                    </div>
                </td>
                <td>
                    <div class="selectDiv" style="width:220px;">
                        <select name="attr" id="attr" style="width:240px;" onblur="" >
	                    @foreach (var item in Model.META_COLUMNS.Where(i => i.SHOWIN_FLTR == 1).OrderBy(i=>i.SHOWPOS))
                        {
                            <option value="@item.COLNAME;@Convert.ToDecimal(item.CASE_SENSITIVE);@item.COLTYPE">@item.SEMANTIC.Replace("~", " ")</option>
                            foreach (var i in item.META_BROWSETBL)
                            {
                                <option value="@i.META_COLUMNS2.COLNAME;@Convert.ToDecimal(item.CASE_SENSITIVE);@i.META_COLUMNS2.COLTYPE;@i.META_COLUMNS1.META_TABLES.TABNAME;@i.META_COLUMNS.COLNAME;@i.META_COLUMNS1.COLNAME">@i.COND_TAG.Replace("~", " ")</option>
                            }
                        }
	                        <option value="" selected="selected"></option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="selectDiv" style="width:70px;">
                        <select id="sign" style="width:90px;" onblur="">					                
                            <option value="1">=</option>
                            <option value="2"><</option>
							<option value="3"><=</option>
							<option value="4">></option>
							<option value="5">>=</option>
							<option value="6"><></option>
							<option value="7">cхожий</option>
							<option value="8">не схожий</option>
							<option value="9">пустий</option>
							<option value="10">не пустий</option>
							<option value="11">один з</option>
							<option value="12">не один з</option>
							<option value="13" selected="selected"></option>
						</select>
                    </div>
                </td>
                <td>
                    <input value="" type="text" style="width:170px;" onblur=""/>
                </td>
            </tr>
         </tfoot>
	 </table>
  </div>
</div>
@*<input name="btSelFilter" type="button" value="Застосувати" onclick="" style="margin:10px 0 0 0;"/>*@
<script>
    var filterObject = new Object;
    filterObject.SYS = null;
    filterObject.USER = null;
    filterObject.STR = '';
    filterObject.TABLE = '';
    var FLTR_START = 0;
    var FLTR_LPARANT = 1;
    var FLTR_RPARANT = 2;
    var FLTR_ATOM = 3;
    var FLTR_OPERATOR = 4;
    var FLTR_ISNULLOP = 7;
    var FLTR_SIGN = 5;
    var FLTR_STOP = 6;
    //проверить коректность фильтра строки
    function verifyFilter() {
        var res = CheckFilter();
        if (res) barsUiAlert('Коректність перевірено!', 'Повідомлення!');
    }
    //добавить параметры фильтра в обьект
    function updateFilterObjrct(userFunc) {
        var res = CheckFilter();
        var saveFilterStr = SaveFilterStr();
        if (res) {
            var sys = $('table#sysFilter tbody input:checkbox:checked').first().val();
            var user = $('table#userFilter tbody input:checkbox:checked').first().val();
            filterObject.SYS = sys == undefined ? null : sys;
            filterObject.USER = user == undefined ? null : user;
            filterObject.STR = saveFilterStr.where;
            filterObject.TABLE = saveFilterStr.tables;
            $('#addFilterDialog').dialog('close');
            if (userFunc) {
                userFunc.call();
            }
        }
    }

    function CheckFilter() {
        var rows = $('#filterString tbody tr');
        var str = '';
        var nParanteses = 0;
        var nLastState = FLTR_START;
        var nCurrState = FLTR_START;
        var fIsError = false;
        var sError = '';

        for (curr_row = 0; curr_row < rows.length; curr_row++) {
            var e = rows.get(curr_row);
            var op = $(e).find('td select option:selected').eq(0).val();
            var attr = $(e).find('td select option:selected').eq(1).val();
            var sign = $(e).find('td select option:selected').eq(2).val();
            var val = $(e).find('td input[type="text"]').val();
            if ((attr == null || attr == '') && (op == '' || op == null || op == '5')) {
                $(e).remove();
            }
            else {
                if (op == '3') nParanteses++;
                if (op == '4') nParanteses--;
                if (op != null && op != '5') {
                    if (op == '3') nCurrState = FLTR_LPARANT;
                    else if (op == '4') nCurrState = FLTR_RPARANT;
                    else nCurrState = FLTR_OPERATOR;
                    fIsError = CheckAllowence(nLastState, nCurrState);
                    if (fIsError) return false;
                    nLastState = nCurrState;
                }
                if (attr != null && attr != '') {
                    nCurrState = FLTR_ATOM;
                    fIsError = CheckAllowence(nLastState, nCurrState);
                    if (fIsError) return false;
                    nLastState = nCurrState;
                }
                if (sign != null && sign != '' && sign != '13' ) {
                    if (sign == '9' || sign == '10') nCurrState = FLTR_ISNULLOP;
                    else nCurrState = FLTR_SIGN;
                    fIsError = CheckAllowence(nLastState, nCurrState);
                    if (fIsError) return false;
                    nLastState = nCurrState;
                }
                if (val != null && val != '') {
                    nCurrState = FLTR_ATOM;
                    fIsError = CheckAllowence(nLastState, nCurrState);
                    if (fIsError) return false;
                    nLastState = nCurrState;
                }
            }
        }

        fIsError = CheckAllowence(nLastState, FLTR_STOP);
        if (fIsError) return false;
        if (nParanteses != 0) {
            if (nParanteses > 0)
                sError = $('#Mes1').val(); //"Пропущена ЗАКРЫВАЮЩАЯ скобка";
            else
                sError = $('#Mes2').val(); //"Пропущена ОТКРЫВАЮЩАЯ скобка";
            fIsError = true;
        }
        if (fIsError) {
            barsUiAlert(sError, 'Помилка!','error'); return false;
        }
        return true;
    }

    function GetCustFilter() {
        var array = new Array();
        var rows = $('#filterString tbody tr');
        var str = '';
        rows.each(function (i, e) {
            var obj = new Object();

            obj.op = $(e).find('td select option:selected').eq(0).val();
            obj.attr = $(e).find('td select option:selected').eq(1).val();
            obj.sign = $(e).find('td select option:selected').eq(2).val();
            obj.val = $(e).find('td input[type="text"]').val();

            array[array.length] = obj;
        });
        return array;
    }

    function SaveFilterStr() {
        var res=CheckFilter();
        if (!res || $('#filterString tbody tr').length<1) return '';
        var array = GetCustFilter();
        var where = "";
        var tables = "";
        for (var i = 0; i < array.length; i++) {
            var obj = array[i];
            var line_filter = "";
            var field = (obj.attr.split(';').length > 1) ? ("$~~ALIAS~~$." + obj.attr.split(';')[0]) : ("");
            var type = (obj.attr.split(';').length > 2) ? (obj.attr.split(';')[2]) : ("");
            if (obj.op == '4') {
                where += " ) ";
                continue;
            }
            line_filter += GetOperand(obj.op) + " ";
            var value = "";
            for (var j = 0; j < obj.val.length; j++) {
                if (obj.val.charAt(j) == '*') value += '%';
                else if (obj.val.charAt(j) == '?') value += '_';
                else value += obj.val.charAt(j);
            }
            if (type == "C" && obj.sign != '11' && obj.sign != '12') value = " '" + value + "' ";
            if (type == "D") value = " TO_DATE('" + value + "','dd/MM/yyyy')";
            if (obj.sign == '11' || obj.sign == '12') value = " (" + value + ") ";

            if (obj.attr.split(';').length == 3) {
                if (obj.sign == '7' || obj.sign == '8') line_filter += field + ' ';
                else line_filter += field + ' ';
                line_filter += GetOperation(obj.sign) + ' ';
                if (obj.sign != '9' && obj.sign != '10')
                    line_filter += value + " ";
            }
            else {
                var tabname = obj.attr.split(';')[3];
                var rel1 = obj.attr.split(';')[4];
                var rel2 = obj.attr.split(';')[5];
                line_filter += tabname + '.' + obj.attr.split(';')[0] + ' ';
                line_filter += GetOperation(obj.sign);
                if (tables == '') { tables += tabname; }
                else { 
                    if (tables.indexOf(tabname)==-1)tables += ','+ tabname;
                }
                if (obj.sign != '9' && obj.sign != '10')
                    line_filter += value + ' ';
                if (line_filter.indexOf(tabname + '\.' + rel2  + '=\$~~ALIAS~~\$\.' + rel1)==-1)
                    line_filter += ' AND ' + tabname + '.' + rel2  + '=$~~ALIAS~~$.' + rel1 + ' ';
            }
            where += line_filter;
        }
        where = " ( " + where + " ) ";
        var returnObj = new Object();
        returnObj.where = where;
        returnObj.tables = tables;
        return returnObj;
    }

    function CheckAllowence(nPrev, nNext) {
        var sError = null;
        if (nPrev == FLTR_SIGN && nNext != FLTR_ATOM)
            sError = $('#Mes3').val(); //'Недопустимое выражение после оператора сравнения';
        if (nPrev == FLTR_ISNULLOP && nNext != FLTR_OPERATOR && nNext != FLTR_SIGN && nNext != FLTR_RPARANT && nNext != FLTR_STOP)
            sError = $('#Mes4').val(); //'Недопустимое выражение после оператора IS NULL/IS NOT NULL';
        if (nPrev == FLTR_OPERATOR && nNext != FLTR_ATOM && nNext != FLTR_LPARANT)
            sError = $('#Mes5').val(); //'Недопустимое выражение после логического оператора';
        if (nPrev == FLTR_START && nNext != FLTR_ATOM && nNext != FLTR_LPARANT && nNext != FLTR_STOP)
            sError = $('#Mes6').val(); //'Недопустимое начало логического выражения фильтра';
        if (nPrev == FLTR_LPARANT && nNext != FLTR_ATOM && nNext != FLTR_LPARANT)
            sError = $('#Mes7').val(); //'Недопустимое выражение после открывающей скобки';
        if (nPrev == FLTR_RPARANT && nNext != FLTR_OPERATOR && nNext != FLTR_ISNULLOP && nNext != FLTR_RPARANT && nNext != FLTR_STOP)
            sError = $('#Mes8').val(); //'Недопустимое выражение после закрывающей скобки';
        if (nPrev == FLTR_ATOM && nNext != FLTR_OPERATOR && nNext != FLTR_ISNULLOP && nNext != FLTR_SIGN && nNext != FLTR_RPARANT && nNext != FLTR_STOP)
            sError = $('#Mes9').val(); //'Недопустимое выражение после атрибута или значения';
        if (sError) { barsUiAlert(sError,'Помилка!','error'); return true; }
        return false;
    }

    function GetOperation(index) {
        switch (index) {
            case '1': return '='; break;
            case '2': return '<'; break;
            case '3': return '<='; break;
            case '4': return '>'; break;
            case '5': return '>='; break;
            case '6': return '<>'; break;
            /*case '2': return '&lt;'; break;
            case '3': return '&lt;='; break;
            case '4': return '&gt;'; break;
            case '5': return '&gt;='; break;
            case '6': return '&lt;&gt;'; break;*/
            case '7': return 'LIKE'; break;
            case '8': return 'NOT LIKE'; break;
            case '9': return 'IS NULL'; break;
            case '10': return 'IS NOT NULL'; break;
            case '11': return 'IN'; break;
            case '12': return 'NOT IN'; break;
        }
    }
    function GetOperand(index) {
        switch (index) {
            case '1': return 'AND'; break;
            case '2': return 'OR'; break;
            case '3': return '('; break;
            case '4': return ')'; break;
            case '5': return ' '; break;
        }
    }
</script>
			<input name="Mes1" type="hidden" id="Mes1" value="Пропущена ЗАКРИВАЮЧА дужка" />
			<input name="Mes2" type="hidden" id="Mes2" value="Пропущена ВІДКРИВАЮЧА дужка" />
			<input name="Mes3" type="hidden" id="Mes3" value="Неприпустимий вираз після оператора порівняння" />
			<input name="Mes4" type="hidden" id="Mes4" value="Неприпустимий вираз після оператора" />
			<input name="Mes5" type="hidden" id="Mes5" value="Неприпустимий вираз після логічного оператора" />
			<input name="Mes6" type="hidden" id="Mes6" value="Неприпустимий початок логічного виразу фільтру" />
			<input name="Mes7" type="hidden" id="Mes7" value="Неприпустимий вираз після відкриваючої дужки" />
			<input name="Mes8" type="hidden" id="Mes8" value="Неприпустимий вираз після закриваючої дужки" />
			<input name="Mes9" type="hidden" id="Mes9" value="Неприпустимий вираз після атрибуту або значення" />
			<input name="Mes10" type="hidden" id="Mes10" value="Зберегти поточний фільтр з ім&#39;ям" />
			<input name="Mes11" type="hidden" id="Mes11" value="Зміни успішно збережені!" />
			<input name="Mes11" type="hidden" id="Mes12" value="Коректність перевірено!" />
			<input name="Title" type="hidden" id="Title" value="Фільтр" />
			<input name="OpAND" type="hidden" id="OpAND" value="І" />
			<input name="OpOR" type="hidden" id="OpOR" value="АБО" />
			<input name="Sign1" type="hidden" id="Sign1" value="схожий" />
			<input name="Sign2" type="hidden" id="Sign2" value="не схожий" />
			<input name="Sign3" type="hidden" id="Sign3" value="пустий" />
			<input name="Sign4" type="hidden" id="Sign4" value="не пустий" />
			<input name="Sign5" type="hidden" id="Sign5" value="один з" />
			<input name="Sign6" type="hidden" id="Sign6" value="не один з" />