@{
    Layout = null;
}
@inherits System.Web.Mvc.WebViewPage<Models.CUSTBANK>
<table id="tb_rekv" cellspacing="0" cellpadding="1" border="0">
    <tr>
        <td align="center" width="180">
            <b>Банк</b>
        </td>
        <td align="center">
            <b>@(Model.MFO==null?"":Model.BANKS_BASE.NB)</b>
        </td>
    </tr>
    <tr>
        <td>Рейтинг банку</td>
        <td>
            <input value="@Model.RATING" class="edit centered" id="ed_RATING" tabindex="1" type="text" maxlength="1" onchange="ToDoOnChange();" />
        </td>
    </tr>
    <tr>
        <td>Код банку - МФО</td>
        <td>
            <input value="@Model.MFO" class="edit centered required" id="ed_MFO" tabindex="2" type="text" maxlength="12"
                            onchange="GetMfoCom(getEl('ed_MFO').value);ToDoOnChange();" />
            <img src="/Common/Images/default/16/help.png" id="bt_help" height="16" width="16" alt="Довідка" onclick="var result = window.showModalDialog(&#39;dialog.aspx?type=metatab&amp;tabname=banks&amp;tail=\&#39;\&#39;&amp;role=WR_CUSTREG&#39;, &#39;dialogHeight:600px; dialogWidth:600px&#39;); if(result != null)PutIntoEdit(getEl(&#39;ed_MFO&#39;),result[0]); GetMfoCom(getEl(&#39;ed_MFO&#39;).value);ToDoOnChange();" />
            <span class="required">*</span>
        </td>
    </tr>
    <tr>
        <td>Код банку - ВІС </td>
        <td>
            <input value="@Model.BIC" class="edit centered" id="ed_BIC" tabindex="3" type="text" maxlength="11" onchange="ToDoOnChange();" />
            <img src="/Common/Images/default/16/help.png" id="Img1" height="16" width="16" alt="Довідка" onclick="var result = window.showModalDialog(&#39;dialog.aspx?type=metatab&amp;tabname=sw_banks&amp;tail=\&#39;\&#39;&amp;role=WR_CUSTREG&#39;, &#39;dialogHeight:600px; dialogWidth:600px&#39;); if(result != null) PutIntoEdit(getEl(&#39;ed_BIC&#39;), result[0]);ToDoOnChange();" />
        </td>
    </tr>
    <tr>
        <td>Альтернативний ВІС </td>
        <td>
            <input value="@Model.ALT_BIC" class="edit centered" id="ed_ALT_BIC" tabindex="4" type="text" maxlength="11" onchange="ToDoOnChange();" />
        </td>
    </tr>
    <tr>
        <td>Код банку для 1ПБ</td>
        <td>
            <input value="@Model.KOD_B" class="edit centered" id="ed_KOD_B" tabindex="5" type="text" maxlength="4" onchange="isNumberCheck(getEl('ed_KOD_B'));ToDoOnChange();" />
        </td>
    </tr>
    <tr>
        <td>Керівник</td>
        <td>
            <input value="@Model.RUK" class="edit long" id="ed_RUK" tabindex="6" type="text" maxlength="70" onchange="ToDoOnChange();" />
        </td>
    </tr>
    <tr>
        <td>Гол. бухгалтер банку</td>
        <td>
            <input value="@Model.BUH" class="edit long" id="ed_BUH" tabindex="7" type="text" maxlength="70" onchange="ToDoOnChange();" />
        </td>
    </tr>
    <tr>
        <td>Телефон керівника</td>
        <td>
            <input value="@Model.TELR" class="" id="ed_TELR" tabindex="8" type="text" maxlength="20" onchange="ToDoOnChange();" />
        </td>
    </tr>
    <tr>
        <td>Телефон гол. бухгалтеру</td>
        <td>
            <input value="@Model.TELB" class="" id="ed_TELB" tabindex="9" type="text" maxlength="20" onchange="ToDoOnChange();" />
        </td>
    </tr>
</table>
