@{
  Layout = null;
}
@model List<GROUPS_ACC>
<style>
  #listAccess, #listHandbook{
    min-height: 40px;
    margin: 0;
    padding: 0;
  }
  #listAccess .k-item, #listHandbook .k-item {
    padding: 2px;
    margin-top: 2px;
    list-style-type: none; 
  }
  .k-item {
    list-style-type: none; 
  }
  .list-wrapper table td {
    vertical-align: top;
  }
</style>

<div style="position: relative;">
  <div class="list-wrapper" >
    <table style="width: 100%">
      <tr>
        <td>
          <div class="well">
            <div class="ra-well-title">Видані групи </div>
            <div style="max-height:350px;overflow: auto;" class="k-list-container">
              <ul id="listAccess" class="k-list" style="min-height: 100px;">
                @foreach (var item in Model)
                {
                  <li class="k-item k-state-focused" data-id="@item.ID"><input type="checkbox" value="@item.ID"> @item.NAME</li>
                }
              </ul>
            </div>
          </div>
        </td>
        <td>
          <div id="commandPanel"></div>
        </td>
        <td>
          <div class="well">
            <div class="ra-well-title">Доступні групи </div>
            <div style="max-height:350px;overflow: auto;" class="k-list-container">
              <ul id="listHandbook" class="k-list" style="min-height: 110px;">
                @foreach (var item in ViewBag.handbookGroupsAcc)
                {
                  <li class="k-item k-state-focused" data-id="@item.ID"><input type="checkbox" value="@item.ID"> @item.NAME</li>
                }
              </ul>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<script>
  $(function() {
    $("#listAccess").kendoSortable({ "connectWith": "#listHandbook", "cursor": "move", "hint": hint });
    $("#listHandbook").kendoSortable({ "connectWith": "#listAccess", "cursor": "move", "hint": hint });
  });

  function hint(element) {
    return element.clone().addClass("k-state-hover");
  }
</script>