@{
  Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<style>
  html {
    padding-bottom: 2px;
  }
  body {
    padding: 0;
  }

  #main-pane > .k-tabstrip-wrapper {
    height: 100%;
  }
  #mainPaneTabs {
    border-width: 0;
    height: 100%;
  }
  #mainPaneTabs > .k-tabstrip-items {
    padding: 0
  }
  #mainPaneTabs > .k-tabstrip-items > .k-item > .k-link {
    padding: .3em .5em;
  }
  #mainPaneTabs > .k-content {
    padding: 0;
    margin: 0;
    height: 100% ;
    height: calc(100% - 30px);
  }
  #mainPaneTabs > .k-tabstrip-items > .k-item > .k-tabstrip-action.k-link {
    padding-left: 0;
    padding-right: 0;
  }
  /*bug: невідповідність MVC хелпра та JS при створенні табів*/
  #mainPaneTabs > .k-tabstrip-items > .k-item > .k-link > .k-tabstrip-action{
    padding-left: .3em;
    padding-right: -0.5em;
  }

</style>
@using Kendo.Mvc.UI
@helper BindIframe(string url)
{
  <iframe id="mainFrame" src="@url" onload="onLoadMainPane(this);" width="100%" height="100%" style="margin-bottom: -3px" frameborder="0"></iframe>
}
@helper BindMainPaneContent()
{
  if (!false)
  {
    @(Html.Kendo().TabStrip()
      .Name("mainPaneTabs")
      .Animation(false)
      .Items(items =>
      {
        items.Add().Selected(true)
          .Content(BindIframe(Url.Content("~/board/index/")).ToHtmlString())
          //.Content("")
          .Text("Oголошення <a class=\"k-tabstrip-action\" onclick=\"removeTab($(this).parent());return false;\" role=\"button\" href=\"#\"><span class=\"k-icon k-i-close\" role=\"presentation\">Close</span></a>").Encoded(false);
      }))
      @(Html.Kendo().Sortable()
            .For("#mainPaneTabs ul.k-tabstrip-items")
            .Filter("li.k-item")
            .Axis(SortableAxis.X)
            .ContainerSelector("ul.k-tabstrip-items"))
  }
  else
  {
    @BindIframe(Url.Content("~/board/index/"))
  }
}

@Html.Action("Head","Home")

@(Html.Kendo().Splitter().HtmlAttributes(new { style = "height: 100%;border:0;" })
      .Name("mainSplitter")
      .Orientation(SplitterOrientation.Vertical)
      .Panes(verticalPanes =>
      {
        verticalPanes.Add()
            .Size("50px")
            .HtmlAttributes(new { id = "bottom-pane", style = "border-bottom:1px solid #ccc;" })
            .Resizable(false)
            .Collapsible(false)
            .Content("");
        verticalPanes.Add()
            .HtmlAttributes(new { id = "head-pane" ,style = "top:50px"})
            .Scrollable(false)
            .Collapsible(false)
            .Content(Html.Kendo().Splitter()
                  .Name("mainHorizontalSplitter")
                  .HtmlAttributes(new { style = "height: 100%;" })
                  .Panes(horizontalPanes =>
                  {
                    horizontalPanes.Add()
                        .HtmlAttributes(new { id = "modules-pane", style = "border-right:1px solid #ccc;" })
                        .Size("220px")
                        .Collapsible(true)
                        .Content(Html.Action("Applist","Home").ToHtmlString());
                    horizontalPanes.Add()
                        .HtmlAttributes(new { id = "main-pane" })
                        .Content(BindMainPaneContent().ToHtmlString());
                    horizontalPanes.Add()
                        .HtmlAttributes(new { id = "right-pane" })
                        .Collapsible(true)
                        .Size("200px").Collapsed(true)
                        .Content("");
                  }).ToHtmlString()
              );

        verticalPanes.Add()
            .Resizable(false)
            .Size("16px")
            .HtmlAttributes(new { id = "middle-pane" , style = "border-top:1px solid #ccc;" })
            .Collapsible(false)
            .Content(@<div style="text-align: center;font-size:12px;"> © 2003-2014 UNITY-BARS</div>);
      })
    )
<script>
  function onLoadMainPane(mainFrame) {
    var mainPane = $('#main-pane');
    mainPane.data('isload', false);
    kendo.ui.progress(mainPane, false);
    /*var loadWinHeight = mainFrame.contentWindow.document.body.scrollHeight;
    var parentHeight = $(mainFrame).parent().parent().height();
    mainFrame.height = loadWinHeight > parentHeight ? parentHeight : parentHeight;

    var scriptError = mainFrame.contentWindow.document.createElement('script');
    scriptError.type = 'text/javascript';
    scriptError.text = 'window.onerror=function(message, source, lineno){parent.showErrorJS(message, source, lineno);};';
    mainFrame.contentWindow.document.getElementsByTagName('body')[0].appendChild(scriptError);

    $('#main').loader('remove');
    blockArms = false;*/
  }

  function removeTab(item) {
    var tabStrip = $('#mainPaneTabs').data('kendoTabStrip');
    var curentSelTab = tabStrip.tabGroup.children('li.k-state-active');
    if (item.attr('aria-controls') == curentSelTab.attr('aria-controls')) {
      var otherTab = item.next();
      otherTab = otherTab.length ? otherTab : item.prev();
      tabStrip.select(otherTab);
    }
    tabStrip.remove(item);
  }
  function appendTab(url, text, operId, isFrame) {
    
    var tabStrip = $('#mainPaneTabs').data('kendoTabStrip');
    var tab = tabStrip.tabGroup.children('li[data-operid="' + operId + '"]');
    if (tab.length == 0) {
      var tabContent = '';
      if (isFrame) {
        tabContent = '<iframe id="mainFrame" src="' + url + '" onload="onLoadMainPane(this);" width="100%" height="100%" style="margin-bottom: -3px" frameborder="0"></iframe>';
      }
      var textLenght = text.length;
      tabStrip.append({
        text: '<span title="' + text + '">' + (textLenght > 30 ? text.substring(0, 30) + '...' : text) + '</span>' + '<a class="k-tabstrip-action" onclick="removeTab($(this).parent().parent());return false;" role="button" href="#"><span class="k-icon k-i-close" role="presentation">Close</span></a>',
        content: tabContent,
        encoded: false,
        cssClass: 'test'
      });
      tab = tabStrip.tabGroup.children("li.k-last");
      tab.attr('data-operid', operId);
    } else {
      onLoadMainPane();
    }
    tabStrip.select(tab);

    /*var otherTab = item.prev();
    otherTab = otherTab.length ? otherTab : item.prev();
    tabStrip.remove(item);*/
    //tabStrip.select(tab);
  }
</script>