@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Анкета приєднання клієнта до ДКБО";
}
@* 2.1). БАЗОВОЕ ПРЕДСТАВЛЕНИЕ СОБИРАЕТ ДОЧЕРНИЕ ПРЕДСТАВЛЕНИЯ ПО ТИПАМ ЭУ*@
<h2>@ViewBag.Title</h2>
@using BarsWeb.Areas.BpkW4.Models;
@using System.Collections;
@model IEnumerable<W4_DKBO_QUESTION_Result>
@using (Html.BeginForm("SaveAnswers", "Checkdkbo", Model, FormMethod.Post, null))
{
        @*<input type="hidden" value="@ViewBag.CUSTOMER_BDAY" id="CUSTOMER_BDAY" name="CUSTOMER_BDAY" />
        <input type="hidden" value="@ViewBag.CUSTOMER_ZKPO" id="CUSTOMER_ZKPO" name="CUSTOMER_ZKPO" />
        <input type="hidden" value="@ViewBag.CUSTOMER_NAME" id="CUSTOMER_NAME" name="CUSTOMER_NAME" />
        <input type="hidden" value="@ViewBag.PASS_SERIAL" id="PASS_SERIAL" name="PASS_SERIAL" />
        <input type="hidden" value="@ViewBag.PASS_NUMBER" id="PASS_NUMBER" name="PASS_NUMBER" />*@
        <input type="hidden" value="@ViewBag.CUSTOMER_ID" id="CUSTOMER_ID" name="CUSTOMER_ID" />
        <input type="hidden" value="@ViewBag.DEAL_ID" id="DEAL_ID_HIDDEN" name="DEAL_ID" /> 
            <div class="col-md-8">
                <div class="panel panel-primary" id="pnlAnswers">
                    <div class="panel-header" align="center">
                        <h4>@ViewBag.CUSTOMER_NAME</h4>
                    </div>
                    <div class="panel-body" style="max-height: 700px; overflow-y: scroll;">
                        <ul class="list-group">
                            @foreach (var item in Model)
                            {
                                <li class="list-group-item">
                                    <p class="list-group-item-text">@item.QUEST_NAME</p>
                                    <span>
                                        @Html.Action("GetQuestionByType", "Checkdkbo", item)
                                    </span>
                                    @if (ViewBag.htResult != null && ViewBag.htResult.Count > 0)
                                    {
                                        Hashtable ht = ViewBag.htResult as Hashtable;
                                        string s = "";
                                        if (ht[item.QUEST_CODE] != null)
                                        {
                                            s = ht[item.QUEST_CODE].ToString();
                                            if (s == "-1")
                                            {
                                                <p class="list-group-item-text list-group-item-success">&nbsp;</p>
                                            }
                                            else
                                            {
                                                <p class="list-group-item-text list-group-item-danger">@s </p>
                                            }

                                        }
                                        if (item.LIST_CODE != null && ht[item.LIST_CODE] != null)
                                        {
                                            s = ht[item.LIST_CODE].ToString();
                                            if (s == "-1")
                                            {
                                                <p class="list-group-item-text list-group-item-success">&nbsp;</p>
                                            }
                                            else
                                            {
                                                <p class="list-group-item-text list-group-item-danger">@s </p>
                                            }
                                        }
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" type='submit' id='btn_SaveQuest'
                                name="submitButton" value="Save">
                            <i class='fa fa-save'></i>&nbsp;Зберегти
                        </button>
                        <button class="btn btn-default" name="submitButton" value="Close">
                            <i class='fa fa-close'> </i> &nbsp;Закрити
                        </button>
                    </div>
                </div> 
            </div>
            <div class="col-md-4">
            </div> 
}

