@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Результат імпорту";
}
@model List<BarsWeb.Areas.BpkW4.Models.KievCardImported>

<link href="@Url.Content("~/Areas/BpkW4/Content/style.css")" rel="stylesheet" />
<div id="importResults">
    <h2>@ViewBag.Title</h2>
    @(
 Html.Kendo().Grid(Model)
        .Name("ImportLog")
        .Columns(columns =>
        {
            columns.Bound(o => o.Idn).Title("Номер").Format("{0:n0}");
            columns.Bound(o => o.Str_Err).Title("Помилка обробки");
            columns.Bound(o => o.FullName).Title("ПІБ клієнта");
            columns.Bound(o => o.FullDocNumber).Title("Паспорт");
            columns.Bound(o => o.BDay).Title("Дата Народження").Format("{0:dd/MM/yyyy}");
            columns.Bound(o => o.Okpo).Title("ОКПО");
            columns.Bound(o => o.Phone_Mob).Title("Телефон");
            columns.Bound(o => o.FullAddress).Title("Адреса реєстрації");
            columns.Bound(o => o.Work).Title("Місце роботи");
        })
        .Pageable()
          )
    <button id="nextFormParams" class="k-button" >Далі</button>
</div>
<div id="additionalParams">
    <h2>Параметри обробки</h2>
    <div id="parameters_form">
        <div class="input_wrap">
            <label for="edtBranch">Відділення</label>
            <span class="k-textbox k-button k-space-right">
                <input id="edtBranch" disabled="disabled" />
                <a class="k-icon" id="selectBranch" style="float: right;"></a>
            </span>
        </div>
        <div class="input_wrap">
            <label for="edtExecutor">Виконавець</label>
            <span class="k-textbox k-button k-space-right">
                <input disabled="disabled" id="edtExecutor" />
                <a class="k-icon k-disabled" id="selectExecutor"></a>
            </span>
        </div>
        <div class="input_wrap" style="margin: 0px 0 2px 0">
            <label for="project_group">Група проектів</label>

            <input id="project_group" type="text"/>

        </div>

        <div class="input_wrap">
            <label for="project" id="project_label">Проект</label>
            <span class="k-textbox k-button k-space-right">
                <input id="project" type="text" />
                <a class="k-icon k-disabled" id="selectProject"></a>
            </span>
        </div>
        <div class="input_wrap">
            <label for="card_type">Тип картки</label>
            <span class="k-textbox k-button k-space-right">
                <input id="card_type">
                <a class="k-icon k-disabled" id="selectCard"></a>
            </span>
        </div>
        <div class="btn_container" style="float: right; margin-top: 8px;">
            <button class="k-button" id="to_imported_projects">Назад</button>
            <button class="k-button" id="saveFile">Підтвердити</button>
        </div>
    </div>
</div>

<div id="processResults" style="display: none;">
    <h2>Результати обробки</h2>
    <div id="results">
        
    </div>
    <div class="btn_container" style="float: right; margin-top: 8px;">
        <button class="k-button" id="to_params">Назад</button>
        <button class="k-button" id="getReceipt">Отримати квитанцію</button>
    </div>
</div>



<div id="branchList" style="display: none;">
    <div id="branches">

    </div>
    <div style="float: right; margin: 10px;">
        <button class="k-button select-button" disabled="disabled">Обрати</button>
        <button class="k-button cancel-button">Відмінити</button>
    </div>
</div>

<div id="userList" style="display: none;">
    <div id="users">

    </div>
    <div style="float: right; margin: 10px;">
        <button class="k-button select-button" disabled="disabled">Обрати</button>
        <button class="k-button cancel-button">Відмінити</button>
    </div>
</div>

<div id="prodList" style="display: none;">
    <div id="products">

    </div>
    <div style="float: right; margin: 10px;">
        <button class="k-button select-button" disabled="disabled">Обрати</button>
        <button class="k-button cancel-button">Відмінити</button>
    </div>
</div>

<div id="cardList" style="display: none;">
    <div id="cards">

    </div>
    <div style="float: right; margin: 10px;">
        <button class="k-button select-button" disabled="disabled">Обрати</button>
        <button class="k-button cancel-button">Відмінити</button>
    </div>
</div>

<script>
    var currentFileId = @ViewBag.FileId;
</script>
@Scripts.Render("~/bundles/BpkW4/scripts/import")




