@{
    ViewBag.Title = "Довідник груп пов’язаних осіб";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}

        <div class="pageTitle">
            <span>
                Довідник груп пов’язаних осіб
            </span>
        </div>    

        <fieldset id="formsSet">
            <div class="container">
                <div class="row">
                    <div class="functiomName">Обрання <b> Excel-файлу </b> "Довідника груп пов'язаних осіб" для завантаження.</div>

                    <form id="uploadForm" action="@Url.Action("UploadDocument", "LGroupsReference")">
                        <input name="file" id="uploadInput" type="file" accept=".xlsx" />
                        <p>
                            <button id="uploadBtn" onclick="fileUpload();">Завантажити файл довідника</button>
                        </p>
                    </form>

                    <form id="logForm" style="display:none" action="@Url.Action("SaveLog", "LGroupsReference", new { id = "upload" })">
                        <div>
                            <label for="ErrorLogArea">При завантаженні виявлено наступні помилки: </label>
                            <textarea id="ErrorLogArea" readonly="readonly">
                            </textarea>
                            <input type="submit" id="loadErrorLog" value="Зберегти лог помилок у файл" />
                        </div>
                    </form>
                </div>

                <hr/>

                <div class="row">
                    <div class="functiomName">Проставлення Кодів груп пов’язаних осіб на картки контрагентів.</div>
                    <form id="LaunchProcedureForm" action="@Url.Action("LaunchProcedure", "LGroupsReference")">
                        <p>
                            <button id="btnSubmit" type="button" onclick="launchClick();">Запустити</button>
                        </p>
                    </form>

                    <form id="ProcedureLogForm" style="display:none" action="@Url.Action("SaveLog", "LGroupsReference",  new { id = "procedure" })">
                        <div>
                            <label for="ProcedureLogArea">При заповненні Кодів груп пов'язаних осіб виявлено наступні помилки: </label>
                            <textarea id="ProcedureLogArea" readonly="readonly">
                            </textarea>
                            <input type="submit" id="execProcedureLog" value="Зберегти лог помилок у файл"/>
                        </div>
                    </form>
                </div>
            </div>
        </fieldset>

<script src="@Url.Content("~/Areas/LinkedGroupReference/Scripts/LGroupsReference/linkedGroupsRef.js")"></script>
<link rel="stylesheet" href="~/Areas/LinkedGroupReference/CSS/LGroupsReference/linkedGroupsRef.css">
