@{
  Layout = null;
}
@model ACCOUNT
<div class="row">
  <div class="form-horizontal form-widgets col-sm-11">
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Дата відкриття</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <span class="k-widget k-datepicker k-header">
          <span class="k-picker-wrap k-state-disabled">
            @Html.TextBox("DAOS",Model.DAOS.ToShortDateString(),new {disabled = "disabled",@class="k-input"})
            <span class="k-select" role="button">
              <span class="k-icon k-i-calendar">select</span>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Дата закриття</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <span class="k-widget k-datepicker k-header">
          <span class="k-picker-wrap k-state-disabled">
            @Html.TextBox("DAZS",Model.DAZS == null ? "" : Convert.ToDateTime(Model.DAZS).ToShortDateString() ,new {disabled = "disabled",@class="k-input"})
            <span class="k-select" role="button">
              <span class="k-icon k-i-calendar">select</span>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Балансовий рахунок (R020)</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <span class="k-widget k-datepicker k-header">
          <span class="k-picker-wrap k-state-default">
            @Html.TextBox("NBS",Model.NBS ,new {@class="k-input"})
            <span class="k-select" role="button">
              <span class="k-icon k-i-note">select</span>
            </span>
          </span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">№ рахунку</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("NLS",Model.NLS,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Альтернативний рахунок</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("NLSALT",Model.NLSALT,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Назва рахуноку</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("NMS",Model.NMS,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Валюта (R030)</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("KV",Model.KV,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Виконавець</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("ISP",Model.ISP,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Актив/Пасив (T020)</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("PAP",Model.PAP,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Характеристика</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("PAP",Model.PAP,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Тип рахунку</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("TIP",Model.TIP,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Ознака рахунку</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("POS",Model.POS,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Вид рахунку (ПІ)</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("VID", Model.VID,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">МФО для процесинг. рахунку</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("NMS", Model.NMS,new {@class="k-textbox"})
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Код відділення</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("TOBO", Model.TOBO,new {@class="k-textbox"})
      </div>
    </div>

  </div>
</div>
