@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "АРМ Дедублікації";
}
@Styles.Render("~/bundles/cdm/styles")

<div class="q-container q-title">
    @ViewBag.Title
</div>

<div id="dupesList">
    <h3 id="advGroupName" style="font-weight: bold; margin-left: 30px;"></h3>
    <div class="q-list">
        <div id="sidebar">
            <ul id="filterBlock" class="q-side-content q-panel" style="margin-top: 4px;">
                <li style="color: #74b1df; font-size: 14px;" id="mainFilter">
                    Фільтри
                    <ul>
                        <li style="margin-top: 4px;">
                            <label><input id="fio" style="width: 200px; margin-top: 4px;" type="text" class="k-input" placeholder=" ПІБ (назва клієнта)" data-bind="value: custName" /></label>
                            <label>РНК <input style="width: 168px;" type="text" class="k-input numeric" data-bind="value: custRnk" /></label>
                            <label>ІНН <input style="width: 170px;" type="text" class="k-input numeric" data-bind="value: custInn" /></label>
                            <label>
                                Документ
                                <input style="width: 46px; margin-left: 4px;" type="text" class="k-input" data-bind="value: custDocSerial" />
                                <input style="width: 60px; margin-left: 4px; display: inline-block" type="text" class="k-input" data-bind="value: custDocNumber" />
                            </label>
                            <label style="padding-right: 4px;">
                                Якість
                                <input id="qulityFilterSlider" style="width: 200px; margin-top: 8px;" data-bind="value: custQuality"/>
                            </label>
                            <label>BRANCH
                                <input id="branches" style="width: 200px; margin-left: 14px;" data-bind="value: custBranch" />
                            </label>
                            <button class="k-button k-default" style="width: 200px;" data-bind="click: doFilter">Фільтрувати</button>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
        <div id="main-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

<div id="dupesWork" style="display: none;">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="dupeGrpNavigator">
            <div class="prevDupeGrp" data-bind="click: loadPrevGrp, disabled: isPrevGrpDisabled"><i class="pf-icon pf-16 pf-arrow_left"></i><span> Попередня</span></div>
            <div class="nextDupeGrp" data-bind="click: loadNextGrp, disabled: isNextGrpDisabled"><span>Наступна </span><i class="pf-icon pf-16 pf-arrow_right"></i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 q-column ">
            <div class="q-dupe-block q-main-dupe">
                <table style="width: 100%;">
                    <tr>
                        <td width="20%">
                            Продукт
                        </td>
                        <td width="35%" style="color: #aeaeae;">
                            RNK
                        </td>
                        <td width="35%" style="color: #aeaeae;">
                            Дата останньої модифікації
                        </td>
                        <td width="10%" style="text-align: right; color: #aeaeae;">
                            Якість картки
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #aeaeae">
                        <td data-bind="text: mainCard.PRODUCT" class="q-group"></td>
                        <td data-bind="text: mainCard.M_RNK" style="font-size: 20px; color: #000;"></td>
                        <td data-bind="text: mainLastDateModifStr" style="font-size: 20px; color: #000;"></td>
                        <td data-bind="text: mainCard.CARD_QUALITY + '%'" style="text-align: right; font-size: 20px; color: #aeaeae;"></td>
                    </tr>
                    <tr class="q-first-info-row">
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            ПІБ
                        </td>
                        <td colspan="2" data-bind="text: mainCard.NMK"></td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            ІПН
                        </td>
                        <td colspan="2" data-bind="text: mainCard.OKPO"></td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            Паспорт
                        </td>
                        <td colspan="2" data-bind="text: mainCard.DOCUMENT"></td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            Дата народження
                        </td>
                        <td colspan="2" data-bind="text: mainCard.BIRTH_DAY_STR"></td>
                    </tr>
                </table>
                <ul id="mainAttributesPanel" class="q-panel"></ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 q-column">
            <div class="q-dupe-block q-child-dupe">
                <table style="width: 100%;">
                    <tr>
                        <td width="25%" rowspan="2">

                            <div class="q-child-selector">
                                <div class="q-sub-prev" data-bind="click: selectPrevChild, disabled: isPrevChildDisabled">
                                    <i class="pf-icon pf-16 pf-arrow_left"></i>
                                </div>
                                <div class="q-sub-indicator">
                                    <span class="q-sub-number" data-bind="text: getCurrentChild"></span>
                                    <span style="color: #aeaeae;">( з <span data-bind="text: getChildsCount"></span> )</span>
                                </div>
                                <div class="q-sub-next" data-bind="click: selectNextChild, disabled: isNextChildDisabled">
                                    <i class="pf-icon pf-16 pf-arrow_right"></i>
                                </div>
                            </div>
                            <div data-bind="text: currentChildCard.PRODUCT" style="text-align: center;"></div>

                        </td>
                        <td width="35%" style="color: #aeaeae;">
                            RNK
                        </td>
                        <td width="30%" style="color: #aeaeae;">
                            Дата останньої модифікації
                        </td>
                        <td width="10%" style="text-align: right; color: #aeaeae;">
                            Якість картки
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #aeaeae">

                        <td data-bind="text: currentChildCard.D_RNK" style="font-size: 20px; color: #000;"></td>
                        <td data-bind="text: currChildLastDateModifStr" style="font-size: 20px; color: #000;"></td>
                        <td data-bind="text: currentChildCard.CARD_QUALITY + '%'" style="text-align: right; font-size: 20px; color: #aeaeae;"></td>
                    </tr>
                    <tr class="q-first-info-row">
                        <td style="text-align: center;">
                            <button class="k-button k-state-default" data-bind="click: mergeCurrentChild">Об'єднати</button>
                        </td>
                        <td>
                            <div class="q-cbcontainer">
                               <label for="atr_NMK">ПІБ</label>
                            </div>
                        </td>
                        <td colspan="2" data-bind="text: currentChildCard.NMK"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <button class="k-button" data-bind="click: setCurrentChildAsMain">Зробити основною</button>
                        </td>
                        <td>
                            <div class="q-cbcontainer">
                               <label for="atr_OKPO">ІПН</label>
                            </div>
                        </td>
                        <td colspan="2" data-bind="text: currentChildCard.OKPO"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <button class="k-button" data-bind="click: ignoreCurrentChild">Ігнорувати дублікат</button>
                        </td>
                        <td>
                            <div class="q-cbcontainer">
                               <label for="atr_DOCUMENT">Паспорт</label>
                            </div>
                        </td>
                        <td colspan="2" data-bind="text: currentChildCard.DOCUMENT"></td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            <div class="q-cbcontainer">
                                <label for="atr_BIRTH_DAY">Дата народження</label>
                            </div>
                        </td>
                        <td colspan="2" data-bind="text: currentChildCard.BIRTH_DAY_STR"></td>
                    </tr>
                </table>
                <ul id="childrenAttributesPanel" class="q-panel"></ul>
            </div>
        </div>
    </div>
    <button id="copyAttributesToMainCard" class="k-button k-state-default" data-bind="click: moveAttributesFromCurrentChild" style="display: none;">ЗАМІНИТИ</button>
</div>



@Scripts.Render("~/bundles/cdm/scripts")
<script>
    bars.quality.loadTemplate('@Url.Content("~/Areas/Cdm/Scripts/dupes_maincard_attributes.tpl.htm")');
    bars.quality.loadTemplate('@Url.Content("~/Areas/Cdm/Scripts/dupes_childcard_attributes.tpl.htm")');
    bars.dupes.initMainPage();
</script>


