@{
    ViewBag.Title = "Прийом файлу обміну";
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
}
<script src="~/Areas/DepoFiles/Scripts/DepoFilesCtrl.js"></script>
<script src="~/lib/jsZip/jszip.min.js"></script>
<style>
    #add_form_validationMessage.k-widget.k-tooltip-validation {
    position: relative;
    float: left
}
    span.k-tooltip {
    position: relative;
    float: left
}
.form-group .k-widget, .form-group .k-textbox {
    width: 100%;
}
    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-header .k-link {
        text-align: center;
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    #tbNewHeader input {
        float: right;
        margin-left: 10px;
        width: 50%;
    }

    #editform p {
        padding: 5px;
    }

    .red {
        color: red;
    }

    .gray {
        color: gray;
    }

    .blue {
        color: blue;
    }

    .orange {
        color: orange;
    }

    .green {
        color: green;
    }

    .zoom {
        zoom: 0.9;
    }
</style>
<div class="zoom" ng-app="Bars.Controllers" ng-controller="DepoFiles" ng-init="Init('@ViewBag.FileName', '@ViewBag.Header_id', '@ViewBag.Dat', '@ViewBag.Mode', '@ViewBag.GB')">
    <h2>@ViewBag.Title</h2>

    <form id="dptFileForm" action="/barsroot/api/depofiles/depofilesapi/UpFile" method="post" enctype="multipart/form-data">
        Оберіть файл <input name="file" id="file" type="file" /><br />
        <div style="width: 50%">
            <input id="idEncodeDos" name="ENCODE" type="radio" checked /> CP866 (DOS)
            <input id="idEncodeWin" name="ENCODE" type="radio" style="margin-left: 250px" /> windows-1251
        </div>
        <div>
            <h3 align="center">Файл зарахувань</h3>
            <div id="tbNewHeader">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 45%">
                            <p>Назва файлу<input id="FILENAME" class="k-textbox" readonly /></p>
                            <p>Кількість інформаційних рядків<input id="INFO_NUM" class="k-textbox" readonly /></p>
                            <p>МФО А<input id="MFO_A" class="k-textbox" readonly value="000000" /></p>
                            <p>МФО Б<input id="MFO_B" class="k-textbox" readonly value="000000" /></p>
                            <p>Дебет/Кредит<input id="DK" class="k-textbox" readonly value="0" /></p>
                            <p>Вид платежу<input id="TYPE" class="k-textbox" readonly value="00" /></p>
                            <p>Ознака наявності додатку до платежу<input id="HAS_ADD" class="k-textbox" /></p>
                            <p>Найменування платика<input id="NAME_A" class="k-textbox" readonly value="000" /></p>
                            <p>Номер філії<input id="BRANCH_CODE" class="k-textbox" readonly value="00000" /></p>
                            <p>Режим обробки<input id="EXEC_ORD" class="k-textbox" /></p>
                            <button id="btCreateHeader" type="button" ng-click="CreateHeader()" class="k-button" style="width: 150px;">Створити заголовок</button>
                        </td>
                        <td style="width: 10%"></td>
                        <td style="width: 45%">
                            <p>Дата<input id="DAT" class="k-textbox" readonly /></p>
                            <p>Довжина заголовка<input id="HEADER_LENGTH" class="k-textbox" readonly value="000" /></p>
                            <p>Рахунок А <input id="NLS_A" class="k-textbox" readonly value="000000000000000" /></p>
                            <p>Рахунок Б<input id="NLS_B" class="k-textbox" readonly value="000000000000000" /></p>
                            <p>Сума<input id="SUM" class="k-textbox" readonly value="0" /></p>
                            <p>Операційний номер платежу<input id="NUM" class="k-textbox" /></p>
                            <p>Призначення<input id="NAZN" class="k-textbox" /></p>
                            <p>Найменування одержувача<input id="NAME_B" class="k-textbox" readonly value="000" /></p>
                            <p>Код вкладу<input id="DPT_CODE" class="k-textbox" readonly value="000" /></p>
                            <p>КС або ЕП<input id="KS_EP" class="k-textbox" /></p>
                            <button id="btFinish" ng-click="Finish()" type="button" class="k-button" style="width: 150px;" disabled>Завершити введення</button>
                        </td>
                    </tr>
                </table>
            </div><br />
            <textarea id="statistics" ng-model="statistics" class="k-textbox k-state-disabled" style="width: 100%; height: 100px" disabled></textarea>
        </div>
        <br />
        <div>
            <text>Показати записи:</text>
            <input id="incorrect" type="checkbox" name="show_filter" style="margin-left: 100px" /> Помилкові
            <input id="excluded" type="checkbox" name="show_filter" style="margin-left: 100px" /> Виключені
            <input id="unknown" type="checkbox" name="show_filter" style="margin-left: 100px" /> Невизначені
        </div>
        <br />
        <kendo-grid id="fileGrid" options="fileGridOptions"></kendo-grid>
        <table align="center" style="width: 90%; margin-left: 10%">
            <tr>
                <th style="color: red; width: 18%" align="center">
                    Помилка
                </th>
                <th style="color: gray; width: 22%" align="center">
                    Не вибрані до оплати
                </th>
                <th style="color: blue; width: 18%" align="center">
                    Нові
                </th>
                <th style="color: green; width: 18%" align="center">
                    Виключені
                </th>
                <th style="color: orange; width: 18%" align="center">
                    Закртиті
                </th>
            </tr>
        </table>
        <br />
        <div>
            Оберіть район та тип зарахування: <br />
            <kendo-drop-down-list id="listTypes" options="listTypesOptions" style="width: 50%; margin-bottom: 10px"></kendo-drop-down-list><br />
            <kendo-drop-down-list id="listAgencyType" options="listAgencyTypeOptions" style="width: 50%; margin-bottom: 10px"></kendo-drop-down-list><br />
            @if (Convert.ToBoolean(ViewBag.GB))
            {
                <kendo-drop-down-list id="ddAgencyInGb" options="ddAgencyInGbOptions" style="width: 50%; margin-bottom: 10px"></kendo-drop-down-list><br />
            }
            <kendo-drop-down-list id="ddAccType" options="ddAccTypeOptions" style="width: 50%"></kendo-drop-down-list><br />
        </div>
        <br />
        Місяць зарахування:  <kendo-drop-down-list id="ddMonth" options="ddMonthOptions" style="width: 24%; margin-bottom: 10px; margin-left: 133px;"></kendo-drop-down-list><br />
        Рік зарахування:  <input id="textYear" type="text" class="k-textbox" style="width: 24%; margin-bottom: 10px; margin-left: 156px;" /><br />
        <button id="btUpload" class="k-button" style="width: 150px;  margin-bottom: 5px;">Прийом</button><br />
        <button id="btPay" class="k-button" style="width: 150px">Зарахування</button><br /><br />
        <kendo-grid id="gvBranch" options="gvBranchOptions" k-rebind="gvBranchOptions"></kendo-grid>@*('@ViewBag.Header_id')*@
    </form>
    <br />
    <div id="editWin" kendo-window="editWin" k-visible="false" k-modal="true" width="700">
        <div style="width: 690px">
            <table style="width: 70%" id="editform">
                <tr>
                    <td>
                        <p><text style="color:red">*</text>Рахунок: <input id="edit_nls" class="k-textbox" value="{{editable_row.NLS}}" style="float: right; width: 250px;" /></p>
                        <p><text style="color:red">*</text>Код відділення: <input id="edit_branch_code" value="{{editable_row.BRANCH_CODE}}" class="k-textbox" style="float: right; width: 250px;" /></p>
                        <p><text style="color:red">*</text>Код вкладу: <input id="edit_dpt_code" value="{{editable_row.DPT_CODE}}" class="k-textbox" style="float: right; width: 250px;" /></p>
                        <p><text style="color:red">*</text>Сума: <input id="edit_sum" value="{{editable_row.SUM}}" class="k-textbox" style="float: right; width: 250px;" /></p>
                        <p><text style="color:red">*</text>ПІБ: <input id="edit_fio" value="{{editable_row.FIO}}" class="k-textbox" style="float: right; width: 250px;" /></p>
                        <p><text style="color:red">*</text>Ид. код <input id="edit_id_code" value="{{editable_row.ID_CODE}}" class="k-textbox" style="float: right; width: 250px;" /></p>
                        <p>Дата зарахування: <input id="edit_payoff_date" class="k-input" kendo-date-picker data-k-format="'dd/MM/yyyy'" style="left:107px" /></p>
                        <p>Відділення: <kendo-drop-down-list id="edit_branchTypes" options="branchTypesOptions" style="float: right; width: 250px;"></kendo-drop-down-list></p>
                        <p>Орган соц. захисту: <input id="edit_agency_name" value="{{editable_row.AGENCY_NAME}}" class="k-textbox k-state-disabled" style="float: right; width: 250px;" disabled /></p>
                        <p>Тип рахунку: <kendo-drop-down-list id="edit_ddAccTypes" options="ddAccTypeOptions" style="float: right; width: 250px;"></kendo-drop-down-list></p>
                        <p>Референс: <input id="edit_ref" value="{{editable_row.REF}}" class="k-textbox k-state-disabled" style="float: right; width: 250px;" disabled /></p>
                        <p>Рахунок некоректний: <input id="edit_incorrect" type="checkbox" style="margin-left:90px" disabled /></p>
                        <p>Рахунок закритий: <input id="edit_closed" type="checkbox" style="margin-left:111px" disabled /></p>
                        <p>Рахунок виключений: <input id="edit_exluded" type="checkbox" style="margin-left:91px" /></p>
                </tr>
            </table><br />
            Рахунки у системі:<br />
            <div id="depositbfrowgrid" kendo-grid="depositbfrowgrid" k-options="depositbfrowgridOptions" k-rebind="depositbfrowgridOptions" k-on-save-changes="saveChanges(kendoEvent)"></div>
            <br />
            <div class="window-footer">
                <button type="button" class="k-primary k-button" style="margin-left: 10px" ng-click="UpdateRow()">Оновити</button>
                <button type="button" class="k-button" ng-click="editWin.close()" style="margin-left: 5px">Закрити</button>
            </div>
        </div>
    </div>
    <div id="addWin" kendo-window="addWin" k-visible="false" k-modal="true" width="500" k-scrollable="false">
        <div class="container" style="width: 450px">
            <form id="add_form">
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">ID стрічки:</label>
                    <div class="col-xs-6">
                        <input class="k-textbox" type="text" id="add_infoid" name="add_infoid" style="width: 100%;" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Рахунок:</label>
                    <div class="col-xs-6">
                        <input class="k-textbox" type="text" id="add_nls" name="add_nls" style="width:100%;" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Код відділення:</label>
                    <div class="col-xs-6">
                        <input class="k-textbox" type="text" id="add_branch_code" name="add_branch_code" style="width: 100%;" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Код вкладу:</label>
                    <div class="col-xs-6">
                        <input class="k-textbox" type="text" id="add_dpt_code" name="add_dpt_code" style="width: 100%;" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Сума:</label>
                    <div class="col-xs-6">
                        <input class="k-textbox" type="text" id="add_sum" name="add_sum" style="width: 100%;" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">ПІБ:</label>
                    <div class="col-xs-6">
                        <input class="k-textbox" type="text"  id="add_fio" name="add_fio" style="width: 100%;" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Ид. код:</label>
                    <div class="col-xs-6">
                        <input class="k-textbox" type="text" id="add_id_code" name="add_id_code" style="width: 100%;" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-2 col-form-label">Дата зарахування:</label>
                    <div class="col-xs-6">
                        <input id="add_payoff_date" name="add_payoff_date" kendo-date-picker data-k-format="'dd/MM/yyyy'" kendo-date-picker data-k-format="'dd/MM/yyyy'" style="width: 100%;" required>
                    </div>
                </div>
            </form>
                <br />
                <br />
                <button type="button" class="k-primary k-button" style="margin-left: 10px" ng-click="InsertRow()">Зберегти</button>
                <button type="button" class="k-button" ng-click="addWin.close()" style="margin-left: 5px">Закрити</button>
        </div>
    </div>
</div>

