@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Документи з майбутньою датою валютування, що Не настала";
}

<h2>@ViewBag.Title</h2>

<style>
    .k-blueColor {
        color: #000080;
    }
</style>

<div id="SepFutureDocsBar"></div>
<div id="SepFutureDocsGrid"></div>
<div id="SepFutureDocsInfo"></div>


<script type="text/x-kendo-template" id="futureDocsTemplate">
    <table>
        <tr>
            <td colspan="2"><b>Відправник:</b> #=nam_a#</td>
        </tr>
        <tr>
            <td><b>МФО: </b>#=mfoa#</td>
            <td><b>Рахунок: </b>#=nlsa#</td>
        </tr>
        <tr>
            <td colspan="2"><b>Отримувач: </b>#=nam_b#</td>
        </tr>
        <tr>
            <td><b>МФО: </b>#=mfob#</td>
            <td><b>Рахунок: </b>#=nlsb#</td>
        </tr>
        <tr>
            <td colspan="2"><b>Призначення платежу: </b>#=nazn#</td>
        </tr>
    </table>
</script>

<script>
    //from centura, convert date
    function toDt(date) {
        if(date == null) return new Date();
        var year = '20' + date.substring(0, 2);
        var month = date.substring(2, 4) - 1;
        var day = date.substring(4, 6);
        return new Date(year, month, day);
    }

    function refreshGrid() {
        $(".k-pager-refresh").trigger('click');
    }

    function rowInfo() {

        var record = this.dataItem(this.select());
        var div = $("#SepFutureDocsInfo");
        if (record) {
            div.show();
            var template = kendo.template($("#futureDocsTemplate").html());
            div.html(template(record));

            var accparams = { ref_: record.ref_ };
            $.get('@Url.Action("GetSepFutureDocAccount")', accparams).done(function (res) {
                $("#nlsInput").val(res.data.nls);
                $("#ostcInput").val((res.data.ostc * 0.01).toFixed(2));
            });
        }
        else {
            div.hide();
        }
    }

    function setOstc() {
        var dataSource = grid.data('kendoGrid').dataSource;
        var results = dataSource.at(0);

        if(results != undefined) {

            var accparams = { ref_: results.ref_ };
            $.get('@Url.Action("GetSepFutureDocAccount")', accparams).done(function (res) {
                $("#nlsInput").val(res.data.nls);
                $("#ostcInput").val((res.data.ostc * 0.01).toFixed(2));
            });

        } else {
            $("#nlsInput").val('');
            $("#ostcInput").val('0.00');
        }
    }

    function retPayer() {//Вернуть плательщику

        var kGrid = grid.data('kendoGrid');

        if (kGrid == null || kGrid.select().length == 0)
            return;

        var record = kGrid.dataItem(kGrid.select());

        bars.ui.confirm({ title: "Увага", text: 'Повернути кошти платнику?<br>Буде сформовано зворотній міжбанківський платіж' },
            function () {
                var accparams = { ref_: record.ref_ };
                $.get('@Url.Action("GetSepFutureDocAccount")', accparams).done(function (res) {
                    var params = {
                        tt: record.mfoa == @ViewBag.MFO ? 'DV1': 'DV2',
                        Nls_A: res.data.nls,
                        mode_nam_a: 1,
                        sumc: record.s,
                        mfo_b: record.mfoa,
                        nls_b: record.nlsa,
                        nam_b: record.nam_a,
                        id_b: record.id_a,
                        nazn: ('Повернено док ' + $.trim(record.nd) + ' від ' + kendo.toString(record.datd, 'dd.MM.yyyy') +
                            ' до настання дати валютування СЕП. : "' + record.nlsb + ' ' + record.nam_b + '" ' + record.nazn).substring(0, 160)

                    };
                    window.location = '/barsroot/docinput/docinput.aspx?' + jQuery.param(params);
                });
            });

    }

    function anotherAcc() { // на другой счет
        var kGrid = grid.data('kendoGrid');

        if (kGrid.select().length == 0)
            return;

        var record = kGrid.dataItem(kGrid.select());

        bars.ui.confirm({
            title: "Увага", text: (record.DK = 0 ? 'ПЕРЕДЕБЕ' : 'ПЕРЕКРЕДИ') +
                'ТУВАТИ документ на інший рахунок?<br>Буде сформовано внутрішній мем.ордер'
        },
            function () {
                var accparams = { ref_: record.ref_ };
                $.get('@Url.Action("GetSepFutureDocAccount")', accparams).done(function (res) {
                    var params = {
                        tt: 'DV1',
                        Nls_A: res.data.nls,
                        mode_nam_a: 1,
                        sumc: record.s,
                        nazn: ('Перекр.док ' + $.trim(record.nd) + ' від ' + kendo.toString(record.datd, 'dd.MM.yyyy') +
                            '. Платник МФО ' + record.mfoa +
                            ' Рах ' + record.nlsa + ' ' + record.nam_a + '/ ' + record.nazn).substring(0, 160)
                    };
                    window.location = '/barsroot/docinput/docinput.aspx?' + jQuery.param(params);
                });
            });

    }

    function transferDoc() {
        var kGrid = grid.data('kendoGrid');

        if (kGrid.select().length == 0)
            return;

        var record = kGrid.dataItem(kGrid.select());

        bars.ui.confirm({
            title: "Увага", text: ('ДОСТРОКОВО ЗАРАХУВАТИ на рахунок ' + $.trim(record.nlsb) + ' ' + $.trim(record.nms) + '?<br>' +
                'Буде добавлено проводку в основну операцію')
        },
            function () {
                var params = { ref_: record.ref_, datd: JSON.stringify(record.datd) };
                $.get('@Url.Action("SetSepFutureDoc")', params).done(function (data) {
                    if (data.status == 'ok') {
                        kGrid.dataSource.read();
                        kGrid.refresh();
                    } else {
                        bars.ui.error({ title: 'Помилка!', text: 'Помилка зарахування на рахунок!' });
                    }
                });
            });
    }

    function removeDoc() {
        var kGrid = grid.data('kendoGrid');

        if (kGrid.select().length == 0)
            return;

        var record = kGrid.dataItem(kGrid.select());

        bars.ui.confirm({
            title: "Увага", text: 'ВИЛУЧИТИ з картотеки незарахованих сум ?<br>Документ по зарахуванню/поверненню потрібно ввести окремо'
        },
            function () {
                var params = { ref_: record.ref_};
                $.get('@Url.Action("RemoveSepFutureDoc")', params).done(function (data) {
                    if (data.status == 'ok') {
                        kGrid.dataSource.read();
                        kGrid.refresh();
                    } else {
                        bars.ui.error({ title: 'Помилка!', text: 'Помилка вилучення з картотеки!' });
                    }
                });
            });
    }

    $('#SepFutureDocsBar').kendoToolBar({
        resizable: true,
        items: [
            {
                template: "<button type='button' class='k-button' onclick='retPayer()' title='Повернути платнику'><i class='pf-icon pf-16 pf-arrow_left'></i></button>"
            },
            {
                template: "<button type='button' class='k-button' onclick='anotherAcc()' title='На інший рахунок'><i class='pf-icon pf-16 pf-arrow_down'></i></button>"
            },

            { type: "separator" },

            {
                template: "<button type='button' class='k-button' onclick='removeDoc()' title='Вилучити'><i class='pf-icon pf-16 pf-delete'></i></button>"
            },
            {
                template: "<button type='button' class='k-button' onclick='transferDoc()' title='Зарахувати'><i class='pf-icon pf-16 pf-ok'></i></button>"
            },
            { type: "separator" },

            {
                template: "<button type='button' class='k-button' onclick='refreshGrid()' title='Перечитати записи в таблиці'><i class='pf-icon pf-16 pf-reload_rotate'></i></button>"
            },
            {
                template: "<button type='button' class='k-button' onclick='openGrid()' title='Відкрити документ в таблиці'><i class='pf-icon pf-16 pf-folder_open'></i></button>"
            },

            { type: "separator" },

            { template: "<input id='nlsInput' class='k-textbox' style='width: 150px;' readonly />" },
            { template: "<input id='ostcInput' class='k-textbox' style='width: 150px; color: #000080;' readonly />" }
        ]
    });

    var grid = $("#SepFutureDocsGrid").kendoGrid({

        columns: [
            {
                field: "ref_",
                title: "Референція",
                width: 110
            },
            {
                field: "mfoa",
                title: "МФО А з док",
                width: 82,
                headerAttributes: { style: "white-space: normal;" }
            },
            {
                field: "nlsa",
                title: "Рахунок А з док",
                width: 108,
                headerAttributes: { style: "white-space: normal;" }
            },
            {
                field: "nlsb",
                title: "Рахунок Б з док",
                width: 114,
                headerAttributes: { style: "white-space: normal;" }
            },
            {
                field: "id_b",
                title: "ОКРО Б з док",
                width: 88,
                headerAttributes: { style: "white-space: normal;" }
            },
            {
                field: "nam_b",
                title: "Отримувач з док",
                width: 135,
                headerAttributes: { style: "white-space: normal;" }
            },
            {
                field: "s",
                title: "Сума док",
                width: 97,

                template: "<div class='k-blueColor'>#=s.toFixed(2)#</div>",
                aggregates: ["sum"], 
                footerTemplate: "<div class='k-blueColor'>#=sum.toFixed(2)#</div>"
            },
            {
                field: "otm",
                title: "Відкр",
                filterable: false,
                template: '<input type="checkbox" #= otm ?  disabled="disabled" : "" # checked=checked onclick="return false"></input>',
                width: 72
            },
            {
                field: "okpo",
                title: "ОКРО РАХ",
                width: 89,
                headerAttributes: { style: "white-space: normal;" }
            },
            {
                field: "nms",
                title: "Назва рахунку",
                width: 132
            },
            {
                field: "dat_a",
                title: "Дата зарахування",
                format: "{0:dd.MM.yyyy hh:mm}",
                filterable: {
                    ui: "datetimepicker",
                    "format": "{0:dd.MM.yyyy hh:mm}"
                },
                width: 111,
                headerAttributes: { style: "white-space: normal;" }
            },
            {
                field: "nd",
                title: "№ док",
                width: 82
            },
            {
                field: "nam_a",
                title: "Платник з документу",
                width: 135,
                headerAttributes: { style: "white-space: normal;" }
            },
            {
                field: "vob",
                title: "Вид ОП",
                width: 89
            },
            {
                field: "datd",
                title: "Дата док",
                format: "{0:dd.MM.yyyy}",
                width: 94
            },
            {
                field: "datval",
                title: "Дата валютування",
                format: "{0:dd.MM.yyyy}",
                width: 149
            }
        ],
        filterable: true,
        dataSource: {
            type: "aspnetmvc-ajax",
            sort: {
                field: "ref_",
                dir: "asc"
            },
            transport: {
                read: {
                    dataType: 'json',
                    url: bars.config.urlContent('/sep/SepFutureDocs/GetSepFutureDoc')
                }
            },
            schema: {
                data: "Data",
                parse: function(data) {
                    if(data.Data != null) {
                        for (var i=0; i< data.Data.length; i++) {
                            data.Data[i].datval = toDt(data.Data[i].datval);
                        }
                    }
                    return data;
                },
                total: "Total",
                errors: "Errors",
                model: {
                    fields: {
                        s: {type: "number"},
                        otm: {type: "boolean"},
                        dat_a: {type: "date"},
                        datd: {type: "date"} ,
                        datval: {type: "date"}
                    }
                }
            },
            pageSize: 10,
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true,
            aggregate: [{ field: "s", aggregate: "sum" }]

        },
        sortable: { allowUnsort: false },
        resizable: true,
        selectable: "single",
        change: rowInfo,
        dataBound: setOstc,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        
    });
    $('#SepFutureDocsGrid').on('dblclick', ' tbody > tr', function () {
        openGrid();
    });

    function openGrid() {
        var kGrid = grid.data("kendoGrid");
        var item = kGrid.dataItem(kGrid.select());
        if(item != null) {
            var docUrl = bars.config.urlContent("/documents/item/" + item.ref_ + "/");
            window.location = docUrl;
        }    
    }
</script>


