@inherits System.Web.Mvc.WebViewPage<IEnumerable<BarsWeb.Models.BARS_BOARD>>
@{
    ViewBag.Title = "Оголошення";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
  .board-news {
    margin-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfbfbf
  }
  .board-news .board-news-title {
    color: #4890db;
  }
  .board-news-ebout {
    margin: 0 10px;
    font-size: 12px;
    float: right;
    text-align: center;
  }
  .board-news-ebout .board-news-fio {
    color: #918f8f;
    /*font-weight: bold;*/
  }
  .board-news-ebout .board-news-date {
    margin-top: 10px;
    color: #bfbfbf;
  }
</style>
<h1>Оголошення</h1>
@foreach (var item in Model)
{
  <div class="board-news">
    <table style="width: 100%;">
      <tr>
        <td style="width: 100%">
          <h2 class="board-news-title" >@Html.Raw(item.MSG_TITLE)</h2>
          <p>@Html.Raw(item.MSG_TEXT)</p>         
        </td>
        <td valign="top" style="vertical-align: top;width: 10px;">
          <div class="board-news-ebout">
            <div class="board-news-fio">@item.WRITER_FIO</div>
            <div class="board-news-date">@item.MSG_DATE</div>
          </div>          
        </td>
      </tr>
    </table>


  </div>
}

<div style="margin-top: 10px;">
  @BarsWeb.HtmlHelpers.HtmlHelpers.Pager(count: ViewBag.count, pageNum: ViewBag.pageNum, pageSize: ViewBag.pageSize)
</div>
