@{
    ViewBag.Title = "";
}

<style>
    .form-group {
        margin-bottom: 10px;
    }

    .form-group .k-colorpicker {
        width: 55px;
    }

    .form-group > div > input,
    .form-group > div > textarea,
    .form-group > div > .k-widget {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .form-group > div > textarea,
    .form-group > div > table textarea {
        margin-bottom: 5px;
    }

    .form-group .k-datepicker {
        width: 140px !important;
    }

    .form-group .k-datetimepicker {
        width: 180px !important;
    }

    .form-group .k-tool-group .k-combobox,
    .form-group .k-tool-group .k-dropdown {
        width: 120px;
    }

    .form-group .k-tool-group .k-colorpicker {
        width: 60px;
        float: left;
    }
</style>
<div>
    <form method="POST" action="@Url.Content("~/cash/limitsdistribution/fileupload/")" style="padding: 10px" enctype="multipart/form-data" 
          onsubmit="validateUploadForm()">

        <h2>Завантаження розподілу лімітів</h2>
        
        <input type="hidden" name="type" value="@ViewBag.Type"/>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-xs-4 col-sm-4">Вкажіть дату:</label>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="text" name="date" id="date" value="@ViewBag.Date" required validationmessage="Виберіть дату" />
                </div>
            </div>

            <div class="form-group" style="">
                <label class="control-label col-xs-4 col-sm-4">Виберіть файл:</label>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="file" name="file" id="fileUpload" required validationmessage="Виберіть файл" />
                </div>
            </div>

            <div class="form-group" style="height: 190px;">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    @if (ViewBag.UploadResult != null)
                    {
                        if (ViewBag.UploadResult.Status == "OK")
                        {
                            <div class="alert alert-success" role="alert">
                                <b>Успішне завантаження. </b>
                                @ViewBag.UploadResult.Message
                            </div>
                            if (ViewBag.Type == "ACC" && ViewBag.UploadResult.SessionId != null)
                            {
                                <div class="text-right">
                                    <a href="#" onclick="showUploadProtocol('@ViewBag.Type',@ViewBag.UploadResult.SessionId); return false;" id="showUploadProtocolBt" class="k-button k-primary" style="">
                                        Протокол завантаження
                                    </a>
                                </div>
                            }
                        }
                        else if (ViewBag.UploadResult.Status == "ERROR")
                        {
                            <div class="alert alert-danger" role="alert">
                                <b>Помилка завантаження. </b>
                                @ViewBag.UploadResult.Message
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-info" role="alert">
                                <b>Результат виконання: </b>
                                @ViewBag.UploadResult.Message
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="window-footer text-right">
            <button type="submit" id="submitForm" class="k-button k-primary" style="">
                <i class="pf-icon pf-16 pf-arrow_download"></i> Завантажити файл
            </button>

        </div>
    </form>
</div>


<script>
    function validateUploadForm() {
        if (document.getElementById('fileUpload') && document.getElementById('fileUpload').value == '') {
            return false;
        } else {
            bars.ui.loader($('#submitForm'), true);
        }
        return true;
    }

    $(function() {
        $("#date").kendoDatePicker({
            format: "dd/mm/yyyy"
        });
        /*$('#submitForm').on('click', function () {
            $('#uploadForm').submit();
        });
       /*$("#fileUpload").kendoUpload({
            async: {
                saveUrl: "save",
                removeUrl: "remove",
                autoUpload: true
            }
        });*/
    });

    function showUploadProtocol(type, sessionId) {
        if (type == 'ACC') {
            parent.bars.ui.dialog({
                width: 700,
                height: 550,
                content: {
                    url: bars.config.urlContent('/cash/limitsdistribution/showAccProtocol/' + sessionId)
                }
            });
        }
    }
</script>
