@model Exception
@{
    Layout = null;
}
@Styles.Render("~/content/themes/kendo/styles")
<style>
    #error_page {
        color: #505050;
        font-size: 0.95rem;
    }
    #expand_detail, #expand_info {
        cursor: pointer;
        display: inline-block;
        background: url('/barsroot/Content/images/down_arrow.png') no-repeat left;
        padding-left:32px;
    }

    #error_meta {
        margin: 140px auto;
        margin-bottom: 0;
        padding-bottom: 40px;
        width: 100%;
        text-align: center;
    }
        #error_meta h2 {
            margin: 0 0;
            font-weight: 300;
        }
        #error_meta span {
            font-size: 3rem;
            font-weight: 100;
        }
    .error_img {
        background: url('/barsroot/Content/images/error.png');
        width: 109px;
        height: 73px;
        display: inline-block;
    }
    .processing_img {
        background: url('/barsroot/Content/images/processing.png');
        width: 234px;
        height: 31px;
        display: inline-block;
    }
    #error_detail {
        padding-left:24%;
        display: none;
    }
    #developers_info {
        display: none;
        width:80%;
        margin:30px auto;
    }
    #error_page ul {
        list-style-type:none;
    }
        #error_page ul li {
            color: #4ab3e2;
        }
        #error_page ul li a {
            color:inherit;
            text-decoration:none;
        }
</style>

<div id="error_page">

    <div id="error_meta">
        <div class="error_img"></div><br>
        <span>Помилка</span>
        <h2>@Model.Message</h2>
        <div class="processing_img"></div><br>
        <a id="expand_detail">Детальна інформація</a>
    </div>
    
    <div id="error_detail">
        <p>Ви можете :</p>
        <ul>
            <li> 
                 @Html.ActionLink("Повернутись на головну", "index", "board"). 
            </li>
            <!--<li>
                 Написати повідомлення адміністратору", "Feedback", "Home", new { area = "" }, new { onclick = "showFeedBackGorm(); return false;" }).
            </li>-->
        </ul>
        <a id="expand_info">Інформація для розробників.</a>
        
    </div>
    <div id="developers_info">
        @if (Model.InnerException != null)
        {
            <div style="margin-left: 30px;">
                <p style="font-weight: bold;">@Model.InnerException.Message</p>
                <fieldset style="font-size: .85em;">
                    <legend>Стек</legend>
                    @if (Model.InnerException.StackTrace != null)
                    {
                        @Html.Raw(Model.InnerException.StackTrace.Replace("\r\n", "<br>"))
                    }
                </fieldset>
            </div>

        }
        <fieldset style="font-size: .85em;">

            @if (Model.StackTrace != null)
            {
                @Html.Raw(Model.StackTrace.Replace("\r\n", "<br>"))
            }
        </fieldset>
    </div>

</div>
@Scripts.Render("~/bundles/jquery")
<script>
    var clicks = 0;
    var clicks2 = 0;
    $('#expand_detail').click(function () {
        clicks++;
        if (clicks % 2 == 0) {
            var url = "url('/barsroot/Content/images/down_arrow.png')";
        }
        else {
            var url = "url('/barsroot/Content/images/up_arrow.png')";
        }
        $('#error_detail').slideToggle('slow');
        if (clicks2 % 2 == 1) {
            $('#developers_info').slideToggle("fast");
        }
        $("#expand_detail").css('background-image',url); 
    });
    
    $('#expand_info').click(function () {
        clicks2++;
        if (clicks2 % 2 == 0) {
            var url = "url('/barsroot/Content/images/down_arrow.png')";
        }
        else {
            var url = "url('/barsroot/Content/images/up_arrow.png')";
        }
        $("#developers_info").slideToggle("slow");
        $("#expand_info").css('background-image', url);
    });
    function showFeedBackGorm() {
        $.get(bars.config.appName + '/home/feedback/?partial=true', function (request) {
            $('body').append(request);
        });
    }
</script>
