@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "СЕП. Блокувати/Розблокувати напрямки.";
}

<h2>@ViewBag.Title</h2>


<div id="main">
    <div id="winPass">
        <input type="password" id="winPassValue" autofocus/>
        <button id="btnOk" type="button" onclick="passValid()">Ok</button>
    </div>
    <div id="window">
        @using (Html.BeginForm("StartDirection", "SepDirection"))
        {
            @Html.RadioButton("answer", "1", true) <span> Блокировать начальные платежи</span><br />
            @Html.RadioButton("answer", "2") <span> Разблокировать начальные платежи</span><br />
            @Html.RadioButton("answer", "3") <span> Блокировать ответные платежи</span><br />
            @Html.RadioButton("answer", "4") <span> Разблокировать ответные платежи</span><br />
            @Html.RadioButton("answer", "5") <span> Блокировать все направления</span><br />
            @Html.RadioButton("answer", "6") <span> Разблокировать все направления</span><br />
            <br />
            <dir id="dirSubmit">
                <button id="btnSubmit" type="button" onclick="onBtnSubmitClick()">Выполнить</button>
            </dir>
        }
    </div>

    <script>
    var dd = new Date().getDate();
    var mm = new Date().getMonth() + 1;
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    var datePass = mm + dd;

    function passValid() {
        var PassValue = document.getElementById("winPassValue").value;
        if (PassValue == datePass) {
            $("#winPass").data("kendoWindow").close();
            $("#window").data("kendoWindow").center().open(); 
        }
        else {
            bars.ui.error({ title: 'Помилка', text: 'Введено невірний пароль.' });
            $("#winPass").load(location.href + " #winPass");
        }
    }

    function refreshMainForm() {
        $("#window").data("kendoWindow").close();
        $("#winPassValue").val("");
        $("#winPass").data("kendoWindow").open();
    }

    $("#winPass").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btnOk").click();
        }
    });

    $(document).ready(function () {

        $("#window").kendoWindow({
            width: "330px",
            title: "@ViewBag.Title",
                    actions: [
                        "Maximize"
                    ],
                    visible: false
            });

            $("#winPass").kendoWindow({
                width: "210px",
                title: "Введіть пароль"
            }).data("kendoWindow").center().open();

     });

        function onBtnSubmitClick() {
            var answerResult = $('input[name=answer]:checked', '#window').val();

            var MSG_VerbLock2 = 'Блокировать ';
            var MSG_VerbUnLock2 = 'Разблокировать ';
            var MSG_Q_StartDirLock2 = '"начальные" для подчиненных РП?';
            var MSG_Q_KFilesProcess2 = 'Формировать файлы "K" на участников СЭП?';
            var MSG_Q_BackDirLock2 = '"ответные" для подчиненных РП?';
            var MSG_Q_AllDirLock2 = 'все направления для подчиненных РП?';

            switch (answerResult) {
                case "1":
                    var confirmMassage = MSG_VerbLock2 + MSG_Q_StartDirLock2
                    break;
                case "2":
                    var confirmMassage = MSG_VerbUnLock2 + MSG_Q_StartDirLock2
                    break;
                case "3":
                    var confirmMassage = MSG_VerbLock2 + MSG_Q_BackDirLock2
                    break;
                case "4":
                    var confirmMassage = MSG_VerbUnLock2 + MSG_Q_BackDirLock2
                    break;
                case "5":
                    var confirmMassage = MSG_VerbLock2 + MSG_Q_AllDirLock2
                    break;
                case "6":
                    var confirmMassage = MSG_VerbUnLock2 + MSG_Q_AllDirLock2
                    break;
            }

            bars.ui.confirm({ text: confirmMassage },
                   function () {
                       bars.ui.loader('#window', true);
                       $.get('@Url.Action("StartDirection", "SepDirection")', { answer: answerResult }).done(function (result) { 
                           bars.ui.loader('#window', false);
                           if (result.status == 'ok')
                           {
                               if (answerResult == "2" || answerResult == "4" || answerResult == "6") {
                                   bars.ui.confirm({ text: MSG_Q_KFilesProcess2 }, function () {
                                       refreshMainForm();
                                   });
                               }
                               else {
                                   refreshMainForm();
                               }
                           }
                           else {
                               bars.ui.error({ title: 'Ошибка', text: 'Ошибка создания файла-флага K в директории: ' + result.data.Value });
                                   $("#window").data("kendoWindow").close();
                                   //$("#winPassValue").val("");
                                   //$("#winPass").data("kendoWindow").open();                              
                           }
                       });
                   });    
        }
    </script>

    <style scoped>
        #main {
            min-height: 500px;
        }

        #dirSubmit {
            text-align: center;
        }

        .armchair {
            float: left;
            margin: 30px 30px 120px 30px;
            text-align: center;
        }

        .armchair img {
            display: block;
            margin-bottom: 10px;
        }

    </style>
</div>
