@using BarsWeb.HtmlHelpers
@inherits System.Web.Mvc.WebViewPage<IEnumerable<BarsWeb.Models.V_SEC_AUDIT_UI>>
@{
  ViewBag.Title = "Журнал";
  Layout = null;
}
<script type="text/javascript">
  $(function () {
    $('#auditList').slimScroll({
      //height: 'auto',
      railVisible: true,
      size: '8px',
      height: '350px'
    });
  });
  function loadAudit(page, elem) {
    elem.load('/barsroot/account/audit/', { pageNum: page }, function() {
      elem.parent().loader('remove');
    });
  }
</script>
<h2 style="margin-top: 0;margin-left: 5px;">Журнал подій користувача</h2>

<div id="auditList" class="messages-list">
  @foreach (var item in Model)
  {
    <div class="messages">
      <table style="width: 100%;">
        <tr>
          <td>
            <div class="title">
              <div class="messages-title">@item.SEC_TYPECOMM</div>
              <div class="messages-date">@item.REC_DATE</div>
            </div>
            <div class="messages-text">
              <b>@item.REC_ID</b> : @item.REC_MESSAGE
            </div>
          </td>
        </tr>
      </table>
    </div>
  }
  @{
    decimal count = ViewBag.count;
    decimal pageNum = ViewBag.pageNum;
    decimal pageSize = ViewBag.pageSize;
    decimal displaedPage = 5;

    const string funcOnClick = "var auditBlock = $('#userAudit'); auditBlock.parent().loader(); loadAudit($(this).data('pagenum'), auditBlock);return false;";
  }
  @HtmlHelpers.Pager(count: count, pageNum: pageNum, pageSize: pageSize, funcOnClick: funcOnClick)
</div>