@using BarsWeb.Areas.Finp.Models
@using Kendo.Mvc.UI
@model FinpSessionModel
@{
    ViewBag.Title = "Сесії розрахунку ФС";
}
<style>
    #cap-view {
        border-radius: 10px 10px 10px 10px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        margin: 10px auto;
        padding: 0 5px 0 10px;
    }

    .black-cap {
        background-position: 0 0;
    }

    .grey-cap {
        background-position: 0 -225px;
    }

    .orange-cap {
        background-position: 0 -450px;
    }

    #options {
        padding: 0 5px 5px 5px;
    }

    .options-nblock {
        float: left;
        margin-right: 10px;
    }
</style>
<script type="text/javascript">

    function onRefreshGridButtonClick(e) {
        var grid = $('#SessionsGrid').data('kendoGrid');
        var objectType = $('#objectType').data('kendoDropDownList');
        var methodId = $('#method').data('kendoDropDownList');
        var obj = objectType.dataItem(objectType.selectedIndex).ID;
        var meth = methodId.dataItem(methodId.selectedIndex).ID;
        grid.dataSource.transport.options.read.url = '/barsroot/Finp/Sessions/GridData/?typeId=' + obj + '&methodId=' + meth;
        grid.dataSource.transport.options.read.cache = false;
        grid.dataSource.read();
    }

    function showCustomerReferen() {
        bars.ui.handBook('CUSTOMER', function (data) {
            $("#CustomRefer").val($(data).map(function () {
                return this.PrimaryKeyColumn;
            }).get());
            //$apply();
        },
        {
            multiSelect: false,
            clause: "date_off is null",
            columns: "RNK,NMK,OKPO"
        });
    }

    function showObjectReferen() {
        var objType = $("#objType").val();
        switch (objType) {
            case 'CL': {
                bars.ui.handBook('CUSTOMER', function (data) {
                    $("#ObjectRefer").val($(data).map(function () {
                        return this.PrimaryKeyColumn;
                    }).get());
                },
                {
                    clause: "date_off is null",
                    columns: "RNK,NMK,OKPO"
                });
                break;
            }
            case 'CRD': {
                bars.ui.handBook('CC_W', function (data) {
                    $("#ObjectRefer").val($(data).map(function () {
                        return this.PrimaryKeyColumn;
                    }).get());
                },
                {
                    columns: "ND,CC_ID"
                });
                break;
            }
            default: break;
        }
    }

    function createSession() {
        var objType_ = $("#objType").val();
        var objId_ = $("#ObjectRefer").val();
        var methId_ = $("#methCalc").val();
        var countGuarant_ = $("#countGuarantor").val();
        debugger;
        $.ajax({
            async: false,
            type: "GET",
            url: bars.config.urlContent("/Finp/Sessions/CreateSession/"),
            data: { objType: objType_, objId: objId_, methId: methId_, countGuarantor: countGuarant_ },
            success: function (data) {
                //alert(data);
                document.location.href = bars.config.urlContent(data);
            }
        });
    }
</script>

    <h1>
         Сесії розрахунку ФС
     </h1>

 <div id="cap-view" class="k-header">
     <h2>Основний фільтр</h2>
     <div id="options">
         <table border="0">
             <tr>
                 <td>
                     <h3>Об`єкт</h3>
                 </td>
                 <td>
                     <h3>Метод</h3>
                 </td>
                 <td>
                     <h3>Клієнт</h3>
                 </td>
             </tr>
             <tr>
                 <td>
                     @(Html.Kendo().DropDownList()
                      .Name("objectType")
                      .DataTextField("NAME")
                      .DataValueField("ID")
                      .BindTo(Model.ObjectTypes)
                      .HtmlAttributes(new { style = "width: 200px" })
                      .OptionLabel("Всі")
                    )
                 </td>
                 <td>
                     @(Html.Kendo().DropDownList()
                      .Name("method")
                      .DataTextField("NAME")
                      .DataValueField("ID")
                      .BindTo(Model.Metods)
                      .HtmlAttributes(new { style = "width: 200px" })
                      .OptionLabel("Всі")
                    )
                 </td>
                 <td>
                     <table style="width: 100%">
                         <tr>
                             <td style="width: 100%">
                                 <input type="text" disabled="disabled" class="k-textbox" id="CustomRefer" />
                             </td>
                             <td style="vertical-align: top;">
                                 <a class="k-button" onclick="showCustomerReferen()">
                                     <i class="pf-icon pf-16 pf-book"></i>
                                 </a>
                             </td>
                         </tr>
                     </table>
                 </td>
                 <td rowspan="2">
                     <button type="button" style="width: 70px" onclick="onRefreshGridButtonClick()" class="btn k-button">Пошук</button>
                 </td>
             </tr>
         </table>
     </div>
 </div>

     @(Html.Kendo().Grid<Areas.Finp.Models.V_FINP_SESSIONS>(Model.Sessions)
      .Name("SessionsGrid")
        .Columns(columns =>
        {
            columns.Bound(p => p.ID).Title("Номер сесії")
              .ClientTemplate("<a href=\"/barsroot/Finp/QuestionNaire/GroupList/?surveyId=#=SURVEY_ID#&sessionId=#=ID#\"> #=ID# </a>");
            columns.Bound(p => p.NAME).Title("Об`єкт оцінювання");
            columns.Bound(p => p.CUST).Title("Клієнт");
            columns.Bound(p => p.METH_NAME).Title("Метода оцінювання");
            columns.Bound(p => p.FINP_DATE).Title("Дата оцінки").Format("{0:MM/dd/yyyy}");
            columns.Bound(p => p.STATUS_NAME).Title("Статус");
            columns.Bound(p => p.STATUS_DATE).Title("Дата статусу").Format("{0:MM/dd/yyyy}");
            columns.Bound(p => p.STATUS_COMM).Title("Коментар до статусу");
            columns.Bound(p => p.RES_TYPE_ID).Title("Ід типу результату");
            columns.Bound(p => p.RES_VALUE).Title("Значення результату");
        })
        .Pageable(pager => pager
          .Input(false)
          .Numeric(true)
          .Info(false)
          .PreviousNext(true)
          .Refresh(true)
          .PageSizes(true)
        )
        .Sortable()
             //.Filterable(filterable => filterable.Extra(false))
        .Resizable(resize => resize.Columns(false))
        .DataSource(dataSource => dataSource
            //.WebApi()
            .Ajax()
            .Sort(sort => sort.Add("ID").Descending())
            .Model(model =>
                                  {
                                      model.Id(p => p.ID);
                                      model.Id(p => p.SRC_OBJ_ID);
                                      model.Id(p => p.METH_NAME);
                                      model.Id(p => p.FINP_DATE);
                                      model.Id(p => p.STATUS_NAME);
                                      model.Id(p => p.STATUS_DATE);
                                      model.Id(p => p.TYPE_ID);
                                      model.Id(p => p.METH_ID);
                                      model.Id(p => p.METH_NAME);

                                      model.Field(p => p.STATUS_COMM).Editable(false);
                                      model.Field(p => p.RES_TYPE_ID).Editable(false);
                                      model.Field(p => p.RES_VALUE).Editable(false);
                                  })
            .PageSize(5)
            .Read("GridData", "Sessions"))
    )

 <div class="row">
     <div class="col-md-3">
         <br /><button type="button" style="width: auto" onclick="$('#NewSession').data('kendoWindow').center().open()" class="btn k-button">Нова сесія</button>
     </div>
 </div>

@(Html.Kendo().Window().Name("NewSession")
    .Title("Нова сесія")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300).Height(370)
    .Content("Завантаження...")
        //.LoadContentFrom("Detail","Modules",new{id = 1,partil=true})
    .Actions(actions => actions
            .Refresh()
            .Close()
    )
    .Animation(false)
    .Content(@<text>
    <div>
        <table style="width:100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <h3>Тип об`єкта</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @(Html.Kendo().DropDownList()
                                .Name("objType")
                                .DataTextField("NAME")
                                .DataValueField("ID")
                                .BindTo(Model.ObjectTypes)
                                .HtmlAttributes(new { style = "width: 250px" })
                                )
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Об`єкт</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td style="width: 100%">
                                            <input type="text" disabled="disabled" class="k-textbox" id="ObjectRefer" style="width:100%" />
                                        </td>
                                        <td style="vertical-align: top;">
                                            <a class="k-button" onclick="showObjectReferen()">
                                                <i class="pf-icon pf-16 pf-book"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Метод розрахунку</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @(Html.Kendo().DropDownList()
                                .Name("methCalc")
                                .DataTextField("NAME")
                                .DataValueField("ID")
                                .BindTo(Model.Metods)
                                .HtmlAttributes(new { style = "width: 250px" })
                                .SelectedIndex(0)
                                )
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>Кількість поручителів</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @(Html.Kendo().DropDownList()
                                .Name("countGuarantor")
                                .DataTextField("NAME")
                                .DataValueField("VAL")
                                .BindTo(Model.QuestionListItems.Where(i => i.QUESTION_ID == "LO_COUNT_GRANTOR" && i.VISIBLE == 1).OrderBy(i => i.ORD))
                                .HtmlAttributes(new { style = "width: 250px" })
                                .SelectedIndex(0)
                                )
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <br /><button type="button" style="width: auto" class="btn k-button" onclick="createSession()">Створити</button>
                </td>
            </tr>
        </table>
    </div>
    </text>)
)





