@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Підтвердження виконання операцій";
}
<script>
    var urlUserApproveConfirm = '@Url.Action("UserApproveCommand")';
    var urlUserRevokeConfirm = '@Url.Action("UserRevokeCommand")';
    var urlAppApproveConfirm = '@Url.Action("AppApproveCommand")';
    var urlAppRevokeConfirm = '@Url.Action("AppRevokeCommand")';
</script>
<script src="~/Areas/Admin/Scripts/confirmCtrl.js"></script>
<link href="~/Areas/Admin/Css/Confirm.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>

<div id="tabstrip">
    <ul>
        <li>Адміністрування користувачів</li>
        <li>Адміністрування АРМів</li>
    </ul>
    <div id="admuTab">
        <div id="panels">
            <div id="admu"></div>
        </div>
    </div>
    <div id="admTab">
        <div id="panels">
            <div id="adm"></div>
        </div>
    </div>
</div>




