@{
  Layout = null;
}
@model ACCOUNT
<div class="row">
  <div class="form-horizontal form-widgets col-sm-11">
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Ліміт овердрафту</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("LIM", Model.LIM, new { @class = "k-textbox" })
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Мінімальний залишок</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("OSTX", Model.OSTX, new { @class = "k-textbox" })
      </div>
    </div>    
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Максимальний залишок</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("OSTX", Model.OSTX, new { @class = "k-textbox" })
      </div>
    </div>  
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Дата останньої операції</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <span class="k-widget k-datepicker k-header">
          <span class="k-picker-wrap k-state-disabled">
            @Html.TextBox("DAPP", Model.DAPP == null ? "" : Convert.ToDateTime(Model.DAPP).ToShortDateString(), new { disabled = "disabled", @class = "k-input" })
            <span class="k-select" role="button">
              <span class="k-icon k-i-calendar">select</span>
            </span>
          </span>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Блокування по дебету</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("BLKD", Model.BLKD, new { @class = "k-textbox" })
      </div>
    </div>     
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Блокування по кредиту</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("BLKK", Model.BLKK, new { @class = "k-textbox" })
      </div>
    </div>   
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Обороти дебет</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("DOS", Model.DOS, new { @class = "k-textbox" })
      </div>
    </div>    
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Обороти кредит</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("KOS", Model.KOS, new { @class = "k-textbox" })
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4 col-sm-4">Залишок</label>
      <div class="col-xs-6 col-sm-6 col-md-6">
        @Html.TextBox("OSTC", Model.OSTC, new { @class = "k-textbox" })
      </div>
    </div>
  </div>
</div>
