@{
  ViewBag.Title = "Рахунки";
  Layout = "~/Views/Shared/_LayoutKendo.cshtml";
  string theme = "bootstrap";
  var cook = HttpContext.Current.Request.Cookies["theme"];
  if (cook != null)
  {
    theme = cook.Value;
  }
}
@using BarsWeb.Infrastructure
@model List<BarsWeb.Models.BRANCHES>
  @*<link href="~/Content/images/PureFlat/pf-icons.css" rel="stylesheet" />
    <link href="~/Content/Themes/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Themes/Kendo/kendo.rtl.min.css" rel="stylesheet" />

    <link href="~/Content/Themes/Kendo/kendo.@(theme).min.css" rel="stylesheet" />
    <link href="~/Content/Themes/Kendo/kendo.@(theme).mobile.min.css" rel="stylesheet" />

    <link href="~/Content/Themes/Kendo/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/Themes/Kendo/kendo.dataviz.@(theme).min.css" rel="stylesheet" />

    <link href="~/Content/Themes/Kendo/kendo.mobile.all.min.css" rel="stylesheet" />

    <style>
        .k-widget {
          font-size: 12.5px;
        }

        .k-grid {
          float: left;
        }

        .k-pager-wrap > .k-pager-numbers > li > .k-link,
        .k-pager-wrap > .k-pager-numbers > li > .k-state-selected {
          line-height: 1.6em;
        }

        .k-pager-wrap > .k-pager-numbers > li > .k-link,
        .k-pager-wrap > .k-pager-numbers > li > .k-state-selected,
        .k-pager-wrap > .k-link {
          height: 24px;
          min-width: 24px;
        }

        .k-link .k-icon,
        .k-select .k-icon,
        .k-pager-nav .k-icon {
          margin-top: 4px;
        }

        .k-window-action.k-link .k-icon,
        .k-list-filter > .k-icon {
          margin-top: 0;
        }

        .k-list-filter > .k-icon {
          top: 0;
        }

        .align-right {
          text-align: right;
        }
    </style>*@

  @*<script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/kendo.timezones.min.js"></script>

    <script src="~/Scripts/kendo/cultures/kendo.culture.uk.min.js"></script>
    <script src="~/Scripts/kendo/cultures/kendo.culture.uk-UA.min.js"></script>*@

  <style>
      #example h2 {
        font-weight: normal;
      }

      #cap-view {
        border-radius: 10px 10px 10px 10px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        margin: 10px auto;
        padding: 0 5px 0 10px;
      }

      .black-cap {
        background-position: 0 0;
      }

      .grey-cap {
        background-position: 0 -225px;
      }

      .orange-cap {
        background-position: 0 -450px;
      }

      #options {
        padding: 0 5px 5px 5px;
      }

      .options-nblock {
        float: left;
        margin-right: 10px;
      }

      #options h3 {
        font-size: 1em;
        font-weight: bold;
        margin: 0 0 8px 0;
      }

      #get {
        margin-top: 25px;
      }

      .k-image-button {
        min-width: 22px;
        width: 22px;
        height: 22px;
      }

      .k-grid {
        float: left;
      }

        .k-grid tr.k-state-selected a {
          color: #fff;
        }
  </style>
  <script type="text/javascript">
    function onGridAcctDataBinding(arg) {
      //debugger;
    }
    function onBtShowDetailsClick(e) {
      e.preventDefault();
      var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
      showDetails(dataItem.ACC);
    }

    function showDetails(acc) {
      var wnd = $("#Details").data("kendoWindow");
      var content = {};
      content.url = '/barsroot/acct/accounts/detail/?id=' + acc + '&partial=true';
      wnd.options.content = content;
      wnd.center().open().refresh();
    }

    function onRefreshDetail(e) {
      //if (e.sender.options.content == null) e.sender.options.content = {};
      //e.sender.options.content.url = '/barsroot/acct/accounts/detail' + '?id=1&partial=true';
      //debugger;
      //$("#Details").load();
    }

    function onCloseDetail(e) {
      e.sender.element.context.innerHTML = '<span class="k-icon k-i-refresh k-loading" role="presentation"></span> Завантаження...';
    }

    function onThemeSelect(e) {
      var dataItem = this.dataItem(e.item.index());
      setCookie('theme', dataItem.Name);
      document.location.href = document.location.href;
    }

    function onBranchSelect(e) {
      var grid = $('#AccountsGrid').data('kendoGrid');
    }

    function onRefreshGridButtonClick(e) {
      var grid = $('#AccountsGrid').data('kendoGrid');
      var branchList = $('#branch').data('kendoDropDownList');
      var branch = branchList.dataItem(branchList.selectedIndex).BRANCH;
      grid.dataSource.transport.options.read.url = '/barsroot/Acct/Accounts/GridData/?branch=' + branch;
        grid.dataSource.transport.options.read.cache = false;
      grid.dataSource.read();
    }

    function moneyFormat(money) {
      return kendo.toString(money, '###,##0.00').replace(new RegExp(",", 'g'), ' ');
    }
  </script>

  @{ var themeList = Constants.ThemesList.Where(i => i.Pattern == "Kendo").ToList(); }
  @(Html.Kendo().DropDownList()
    .Name("theme")
    .DataTextField("Name")
    .DataValueField("Name")
    .BindTo(themeList)
    .SelectedIndex(themeList.FindIndex(i => i.Name == theme))
    .HtmlAttributes(new { style = "float:right;" })
    .Events(i => i.Select("onThemeSelect"))
  )
  <h1>Рахунки</h1>
  <div id="cap-view" class="k-header">
    <h2>Основний фільтр</h2>
    <div id="options">
      <div class="options-nblock">
        <h3>Відділення</h3>
        @(Html.Kendo().DropDownList()
          .Name("branch")
          .DataTextField("NAME")
          .DataValueField("BARANCH")
          .Filter("contains")
          .BindTo(Model)
          .HtmlAttributes(new { style = "width: 300px" })
          .Events(i => i.Select("onBranchSelect"))
        )
      </div>

      @(Html.Kendo().Button()
        .Name("refreshButton")
        .Icon("refresh")
        .Content("Перечитати")
        .HtmlAttributes(new { type = "button" })
        .Events(ev => ev.Click("onRefreshGridButtonClick"))
        .HtmlAttributes(new { style = "margin-top:25px" })
      )

    </div>
  </div>

  @Html.Partial("Grid", Model.FirstOrDefault() == null ? "" : Model.FirstOrDefault().BRANCH)

  @(Html.Kendo().Window()
    .Name("Details")
    .Title("Перегляд рахунку")
    .Resizable()
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(700).Height(570)
    .Content("<span class=\"k-icon k-i-refresh k-loading\" role=\"presentation\"></span> Завантаження...")
    .HtmlAttributes(new { })
    .Actions(actions => actions
            .Refresh()
            .Minimize()
            .Maximize()
            .Close()
    )
    .Events(events => events
      .Refresh("onRefreshDetail")
      .Close("onCloseDetail")
    )
  )




