@{
    Layout = null;
}
@using System.Web.Mvc.Html
@using System.Web.Mvc
@inherits System.Web.Mvc.WebViewPage<BarsWeb.Models.V_CUSTOMER_REL>
@{string dataSetId = Convert.ToString(ViewBag.DataSetId);
  string BDATEname = "Дата початку дії повноважень", EDATEname = "Дата кінця дії повноважень";
  }
<fieldset>
    <legend>Параметри</legend>
        <table border="0" cellpadding="3" cellspacing="0">
            @if (dataSetId == "VAGA")
            {
            <tr>
                <td>Питома вага прямої участі у статутному фонді</td>
                <td><input id="VAGA1" type="text" value="@Model.VAGA1" /></td>
            </tr>
            <tr>
                <td>Питома вага опосередкованої участі в статутному фонді</td>
                <td><input id="VAGA2" type="text" value="@Model.VAGA2" maxlength="100" /></td>
            </tr>                 
            }
            @if (dataSetId == "TRUSTEE")
            {
            <tr>
                <td>Тип довіреної особи</td>
                <td><input id="TYPE_ID" type="text" value="@Model.TYPE_ID" />
                    @*<bars:ddllist id="TYPE_ID" runat="server" datasourceid="sdsTYPE" datavaluefield="ID"
                                    datatextfield="NAME" isrequired="true" validationgroup="DataParams" value='<%# Bind("TYPE_ID") %>'
                                    readonly="true">
                                </bars:ddllist>*@
                </td>
            </tr>
            <tr>
                <td>Посада</td>
                <td><input id="POSITION" type="text" value="@Model.POSITION" /></td>
            </tr>
            <tr>
                <td>Тип документу довіреності</td>
                <td><input id="DOCUMENT_TYPE_ID" type="text" value="@Model.DOCUMENT_TYPE_ID" />
                    @*<bars:ddllist id="DOCUMENT_TYPE_ID" runat="server" datasourceid="sdsDOCUMENT_TYPE"
                                    datavaluefield="ID" datatextfield="NAME" isrequired="false" validationgroup="DataParams"
                                    value='<%# Bind("DOCUMENT_TYPE_ID") %>' readonly="true">
                                </bars:ddllist>*@
                </td>
            </tr>
            <tr>
                <td>Документ довіреності</td>
                <td><input id="DOCUMENT" type="text" value="@Model.DOCUMENT" /></td>
            </tr>
            <tr>
                <td>Номер реєстрації довіреності</td>
                <td><input id="TRUST_REGNUM" type="text" value="@Model.TRUST_REGNUM" /></td>
            </tr>
            <tr>
                <td>Дата реєстрації довіреності</td>
                <td><input id="TRUST_REGDAT" class="edit centered" type="text" value="@Model.TRUST_REGDAT" /></td>
            </tr>  
                BDATEname = "Дата початку дії довіреності"; 
                EDATEname = "Дата кінця дії довіреності";            
            }
            <tr>
                <td>@BDATEname</td>
                <td><input id="BDATE" class="edit centered" type="text" value="@(Model.BDATE==null?"":Convert.ToDateTime(Model.BDATE).ToShortDateString())" /></td>
            </tr>
            <tr>
                <td>@EDATEname</td>
                <td><input id="EDATE" class="edit centered" type="text" value="@(Model.EDATE==null?"":Convert.ToDateTime(Model.EDATE).ToShortDateString())" /></td>
            </tr>
            @if (dataSetId == "TRUSTEE")
            {
            <tr>
                <td>ПІБ нотаріуса</td>
                <td><input id="NOTARY_NAME" type="text" value="@Model.NOTARY_NAME" /></td>
            </tr>
            <tr>
                <td>Нотаріальний округ</td>
                <td><input id="NOTARY_REGION" type="text" value="@Model.NOTARY_REGION" /></td>
            </tr>
            <tr>
                <td>Право підпису?</td>
                <td><input id="SIGN_PRIVS" type="text" value="@Model.SIGN_PRIVS" />
                    @*<bars:rblflag id="SIGN_PRIVS" runat="server" isrequired="true" validationgroup="DataParams"
                                    value='<%# Bind("SIGN_PRIVS") %>' readonly="true" />*@
                </td>
            </tr>
            <tr>
                <td>Прізвище</td>
                <td><input id="FIRST_NAME" type="text" value="@Model.FIRST_NAME" /></td>
            </tr>
            <tr>
                <td>Ім`я</td>
                <td><input id="MIDDLE_NAME" type="text" value="@Model.MIDDLE_NAME" /></td>
            </tr>
            <tr>
                <td>По-батькові</td>
                <td><input id="LAST_NAME" type="text" value="@Model.LAST_NAME" /></td>
            </tr>
            <tr>
                <td>ПІБ у родовому відмінку</td>
                <td><input id="NAME_R" type="text" value="@Model.NAME_R" /></td>
            </tr>                
            }
        </table>

    <table border="0" cellpadding="3" cellspacing="0">
        <tr>
            <td>
                <img src="/Common/Images/default/16/open.png" alt="Редагувати" title="Редагувати параметри зв`язку" />
            </td>
            <td>
                <img src="/Common/Images/default/16/delete.png" alt="Видалити" title="Видалити зв`язок" />
            </td>
            <td>
                <img src="/Common/Images/default/16/new.png" alt="Додати" title="Додати зв`язок" />
            </td>
        </tr>
    </table>
</fieldset>
