<link href="@Url.Content("~/Areas/CorpLight/css/corpLight.css")?_0.2.19" rel="stylesheet" />

<script src="@Url.Content("~/scripts/respond.min.js")"></script>
<script src="@Url.Content("~/Areas/CorpLight/Scripts/VegaCrypto.js")?_0.2.19"></script>       
<script src="@Url.Content("~/Areas/CorpLight/directives/ngModelOnblur.js")?_0.2.19"></script>
<script src="@Url.Content("~/Areas/CorpLight/directives/numericOnly.js")?_0.2.19"></script>
<script src="@Url.Content("~/Areas/CorpLight/services/relatedCustomersService.js")?_0.2.20"></script>
<script src="@Url.Content("~/Areas/CorpLight/services/AcskService.js")?_0.2.19"></script>
<script src="@Url.Content("~/Areas/CorpLight/services/ProfileSignService.js")?_0.2.19"></script>
<script src="@Url.Content("~/Areas/CorpLight/controllers/RelatedCustomers.js")?_0.2.20"></script>

<div ng-controller="CorpLight.RelatedCustomers as relCustCtrl">
    <div class="pull-right small" ng-bind="relCustCtrl.moduleVersion">1</div>

    <input type="hidden" id="custId" value="@ViewBag.CustId" />
    <input type="hidden" id="bankId" value="@ViewBag.BankId" />
    <input type="hidden" id="clmode" value="@ViewBag.Clmode" />
    

    <h1>Підключення користувачів CorpLight</h1>


    <div class="row">
        <div class="col-sm-12">
            <div kendo-grid="relCustCtrl.relatedCustomersGrid"
                 k-options="relCustCtrl.relatedCustomersGridOptions"></div>
        </div>        
    </div>

    @Html.Partial("UserDetailWindow")

    @Html.Partial("AcskRulesWindow")

    @Html.Partial("AcskCertificatesWindow")

    @Html.Partial("AcskChangeCertificatesStatesWindow")

    @Html.Partial("PrintCertificateTemplate")

</div>