
<div ng-controller="CDO.Corp2.RelatedCustomers as relCustCtrl">

    <div class="panel panel-default" style="border: none;">
        <div class="panel-body">
            <div class="row">
                @*<div class="col col-md-2 col-sm-2 col-xs-3"><span style="font-weight:bolder; line-height:36px; vertical-align:middle;">АЦСК Клієнта:</span></div>
                    <div class="col col-md-6 col-sm-5 col-xs-5">
                        <button class="btn btn-default"><i class="fa fa-paper-plane fa-lg"></i></button>
                        <button class="btn btn-default"><i class="fa fa-paw fa-lg"></i></button>
                        <button class="btn btn-default"><i class="fa fa-refresh fa-lg"></i></button>
                    </div>*@
                <div class="col col-md-1 col-sm-1">
                    <button type="button" class="btn btn-default" ng-click="relCustCtrl.showUserForm()" title="Створити"><span class='fa fa-plus fa-lg text-success' style="margin-right:10px;"></span>Новий користувач</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div kendo-grid="relCustCtrl.relCustsGridCorp2"
                     k-options="relCustCtrl.relCustsGridCorp2Options"></div>
            </div>
            <br>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col col-md-3 col-sm-3 col-xs-3"><span style="font-weight:bolder; line-height:36px; vertical-align:middle;">Перелік рахунків Клієнта:</span></div>
                <button type="button" class="btn btn-default" style="padding-right:10px;" ng-click="relCustCtrl.unloadCustomerAccountsToCorp2()"><span class='pf-icon pf-16 pf-arrow_down' style="margin-right:10px; vertical-align:middle;"></span>Вигрузити відмічені рахунки до Сorp2</button>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div kendo-grid="relCustCtrl.custAccGrid"
                         k-options="relCustCtrl.custAccGridOptions"></div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("Corp2UserDetailWindow")

    @Html.Partial("AcskRulesWindow")

    @Html.Partial("AcskCertificatesWindow")

    @Html.Partial("AcskChangeCertificatesStatesWindow")

    @Html.Partial("PrintCertificateTemplate")

    @Html.Partial("Corp2ConnectionParamsWindow")
    @*@Html.Partial("Corp2ConnectionParamsWindow_back")*@

    @Html.Partial("Corp2CustomerAccountVisaSettingWindow")


</div>