@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "Довідник нотаріусів";
    var isCaMode = ViewBag.Mode != null && ViewBag.Mode == "CA";
}

<h2>@ViewBag.Title @(isCaMode ? "(Центральний апарат)" : "")</h2>

@Styles.Render("~/bundles/cdnt/styles")

<script>
    var isCaMode = @isCaMode.ToString().ToLower();
</script>

<div id="tabstrip">
    <ul>
        <li id="notaryTab">Нотаріуси</li>
        <li id="accreditationsTab">Акредитації</li>
        <li id="transactionsTab">Транзакції</li>
    </ul>
    <div>
        <div id="toolbar"></div>
        <div id="grid"></div>
    </div>
    <div>
        <div id="accr_toolbar"></div>
        <div id="accr_grid"></div>
    </div>
    <div>
        <div id="tran_toolbar"></div>
        <div id="tran_grid"></div>
    </div>
</div>

<div id="editNotaryDlg" style="display: none;" class="notaDlg">
    <form id="notary">
        <input name="id" class="k-textbox" type="hidden"/>
        <label>Тип нотаріуса: <input name="notary_type" class="k-textbox" type="text" required /></label>
        <label>ІПН: <input name="tin" class="k-textbox" type="text" data-tincheck-msg="ІПН має складатись із 10 цифр!" /></label>
        <label>Прізвище: <input name="last_name" class="k-textbox" type="text" required /></label>
        <label>Ім'я: <input name="first_name" class="k-textbox" type="text" required /></label>
        <label>По батькові: <input name="middle_name" class="k-textbox" type="text" required /></label>
        <label>Дата народження: <input name="date_of_birth" class="k-textbox" type="text" required /></label>
        <label>Серія паспорту: <input name="passport_series" class="k-textbox" type="text" required data-passpseriescheck-msg="Серія має складатись із 2х символів" /></label>
        <label>Номер паспорту: <input name="passport_number" class="k-textbox" type="text" required data-passnumcheck-msg="Номер паспорту має складатись із 6 цифр"/></label>
        <label>Виданий:<input name="passport_issued" class="k-textbox" type="text" required /></label>
        <label>Орган видачі:<input name="passport_issuer" class="k-textbox" type="text" required /></label>
        <label>Адреса офісного приміщення: <input name="address" class="k-textbox" type="text" required /></label>
        <label>Номер телефону/факс: <input name="phone_number" class="k-textbox" type="text" /></label>
        <label>Мобільний номер: <input name="mobile_phone_number" class="k-textbox" type="text" data-mobphonecheck-msg="Невірний формат моб. телефону" /></label>
        <label>Email: <input name="email" class="k-textbox" type="text"/></label>
        <label>Номер свідоцтва про держ.реєстрацію: <input name="certificate_number" required class="k-textbox" type="text" /></label>
        <div style="float: right; margin-top: 10px;">
            <button id="saveNotary" class="k-button k-state-default">Зберегти</button>
            <button id="cancelNotary" class="k-button">Відмінити</button>
        </div>
    </form>
</div>

<div id="editAccreditationDlg" style="display: none;" class="notaDlg">
    <form id="accreditation">
        <input name="id" class="k-textbox" type="hidden" />
        <input name="notary_id" class="k-textbox" type="hidden" />
        <label>Тип акредитації: <input name="accreditation_type_id" class="k-textbox" type="text" /></label>
        <label>Дата початку дії: <input name="start_date" class="k-textbox" type="text" /></label>
        <label>Дата припинення: <input name="close_date" class="k-textbox" type="text" /></label>
        <label>Номер рахунку: <input name="account_number" class="k-textbox" type="text" /></label>
        <label>Стан акредитації: <input name="state_id" class="k-textbox" type="text" /></label>
        <label>
            Заявник:
            <select name="branches" multiple="multiple" class="k-textbox" required></select>
        </label>
        <label>
            Акредитовані бізнеси:
            <select name="businesses" multiple="multiple" class="k-textbox" required></select>
        </label>
        <div style="float: right; margin-top: 100px;">
            <button id="saveAccreditation" class="k-button k-state-default">Зберегти</button>
            <button id="cancelAccreditation" class="k-button">Відмінити</button>
        </div>
    </form>
</div>

@Scripts.Render("~/bundles/cdnt/scripts")