<style>
    .k-state-active.k-grid-filter {
        background-color: orange !important;
    }
</style>
<div ng-controller="Zay.DealerCtrl">
    <!-- tabs -->
    <div kendo-tab-strip k-options="_tabstripOptions">
        <ul>
            <li class="k-state-active">Покупка валюти</li>
            <li>Продаж валюти</li>
        </ul>
        <div class="tabLayout">
            <div kendo-toolbar class="toolbarLayout" k-options="toolbarBuyOptions"></div>
            <div kendo-grid="gridBuy" @*style="height: 500px"*@ k-options="gridBuyOptions" k-on-change="handleChange(data, dataItem, columns, kendoEvent)"></div>
        </div>
        <div class="tabLayout">
            <div kendo-toolbar class="toolbarLayout" k-options="toolbarSaleOptions"></div>
            <div kendo-grid="gridSale" k-options="gridSaleOptions" k-on-change="handleSaleChange(data, dataItem, columns, kendoEvent)"></div>
        </div>
    </div>

    @Html.Partial("dWindows/BackWindow")

    @Html.Partial("dWindows/MultiApprovedWindow")

    @Html.Partial("dWindows/SepWindow")

    @Html.Partial("dWindows/CurrencyRateArchiveWindow")

    @Html.Partial("dWindows/DilerRateWindow")

    @Html.Partial("dWindows/VizaViewWindow")

</div>