@{
    Layout = null;
}
@inherits System.Web.Mvc.WebViewPage<IEnumerable<Models.CUSTOMERW>>
@{string custype=Convert.ToString(ViewBag.CusType);
  var sTail="";
  switch (custype)
  {
      case "1":sTail="B";break;
      case "2":sTail="U";break;
      case "3":sTail="F";break;
  }
  var customerFieldCodes = barsroot.ServicesClass.GetHandbookList(tableName: "customer_field_codes", idRow: "code", valueRow: "name", whereString: "code in (select unique code from customer_field where "+sTail+"=1) order by ord").ToList();
  var customerField = new BarsWeb.Models.EntitiesBarsCore().NewEntity().CUSTOMER_FIELD.Where("it." + sTail + "=1");
  }
<style>
#tabsCustomer div[id^="tabsDR-"]{
    overflow: auto; height: 450px;
}
</style>
<div id="tabsDopRekv" style="border:1px solid #ddd;">
    <ul>
        @foreach(var item in customerFieldCodes /*barsroot.ServicesClass.GetHandbookList(tableName:"customer_field_codes",IdRow:"ord",ValueRow:"name").OrderBy(i=>i.ID).ToList()*/)
        {
        <li><a style="" href="#tabsDR-@item.ID">@item.NAME</a></li>
        }
        <li><a style="" href="#tabsDR-0">Критерії ризику</a></li>
    </ul>
    @foreach(var item in customerFieldCodes)
    {
    <div id="tabsDR-@item.ID" >
        <table id="tabsDopRekv-@item.ID" class="miniSimpleTable" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td style="width:100%">Найменування</td>
                    <td>Значення</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in customerField.Where("it.CODE = '" + item.ID + "'").OrderBy(i => i.OPT).ThenBy(i => i.NAME))             
                {
                    <tr data-id="@i.TAG">
                        <td>@i.NAME</td>
                        <td>
                            @{var val = Model.FirstOrDefault(x => x.TAG==i.TAG);}
                            <input value="@(val==null?"":val.VALUE)" class="edit minLong @(i.OPT==1?"required":"")" />
                            @if (i.OPT == 1)
                            {
                            <span class="required">*</span>
                            }
                        </td>
                        <td></td>
                    </tr>                    
                }
            </tbody>
        </table>
    </div>
    }
    <div id="tabsDR-0">
        <table id="tabsDopRekv-KR" class="miniSimpleTable" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td></td>
                    <td>Код ризику</td>
                    <td>Назва ризику</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in ViewBag.Risk)          
                {
                    <tr data-id="@i.ID">
                        <td>
                            @if(i.DATA=="1"){<input type="checkbox" checked="checked"/>}
                            else{<input type="checkbox" />}                        
                        </td>
                        <td>@i.ID</td>
                        <td>@i.NAME</td>
                    </tr>                    
                }
            </tbody>
        </table>
    </div>
</div>