@{
    Layout = null;
}
@using barsroot
@using BarsWeb.HtmlHelpers
@inherits System.Web.Mvc.WebViewPage<Models.PERSON>
<input name="ckb_mainPRPers" id="ckb_mainPRPers" tabindex="1" type="checkbox" checked="checked" />
<label for="ckb_mainPRPers">Заповнити Персональні реквізити</label><br/><br/>
<table id="tblEdits" border="0" cellpadding="2" cellspacing="0">
    <tr>
        <td>Вид документу</td>
        <td>
            @HtmlHelpers.CreateDropDownList(optionList:ServicesClass.GetHandbookList(tableName:"passp",idRow:"passp",valueRow:"name").OrderBy(i=>Convert.ToInt32(i.ID)).ToList(),
                                                optionSelected:Convert.ToString(Model.PASSP),
                                                attr:new string[,]{{"name","ddl_PASSP"},{"id","ddl_PASSP"},{"class","edit"},{"tabindex","2"}})
            <span class="required">*</span>
        </td>
    </tr>
    <tr>
        <td>Серія</td>
        <td>
            <input value="@Model.SER" class="edit required" id="ed_SER" tabindex="3" type="text" maxlength="10" onchange="ValidateDocument(getEl('ddl_PASSP'), getEl('ed_SER'), getEl('ed_NUMDOC')); " onkeypress="return CheckDocSeries('ed_SER', 'ddl_PASSP'); " />
            <span class="required">*</span>
        </td>
    </tr>
    <tr>
        <td>Номер док.</td>
        <td>
            <input value="@Model.NUMDOC" class="edit required" id="ed_NUMDOC" tabindex="4" type="text" maxlength="20" onchange="ValidateDocument(getEl('ddl_PASSP'), getEl('ed_SER'), getEl('ed_NUMDOC')); " onkeypress="return CheckDocNumber('ed_NUMDOC', 'ddl_PASSP'); " />
            <span class="required">*</span>
        </td>
    </tr>
    <tr>
        <td>Ким виданий</td>
        <td>
            <input value="@Model.ORGAN" class="edit long required" id="ed_ORGAN" tabindex="5" type="text" maxlength="50" />
            <img src="/Common/Images/default/16/help.png" id="bt_help" class="reference" alt="Довідка" onclick="GetOrganHelp();ToDoOnChange();" />
            <span class="required">*</span>
        </td>
    </tr>
    <tr>
        <td>Коли виданий</td>
        <td>
            <input value="@(Model.PDATE==null?"":Convert.ToDateTime(Model.PDATE).ToShortDateString())" class="edit date required" id="ed_PDATE" tabindex="6" type="text"
                maxlength="10" />
            <span class="required">*</span>
        </td>
    </tr>
    <tr>
        <td>Дата народження</td>
        <td>
            <input value="@(Model.BDAY==null?"":Convert.ToDateTime(Model.BDAY).ToShortDateString())" class="edit date required" id="ed_BDAY" tabindex="7" type="text"
                maxlength="10"  />
            <span class="required">*</span>
        </td>
    </tr>
    <tr>
        <td>Місце народження</td>
        <td>
            <input value="@Model.BPLACE" class="edit long" id="ed_BPLACE" tabindex="8" type="text" maxlength="70" />
        </td>
    </tr>
    <tr>
        <td>Стать</td>
        <td>
            @HtmlHelpers.CreateDropDownList(optionList: new string[,]{{"0","Невизначена"},{"1","Чоловіча"},{"2","Жіноча"}},
                                                optionSelected: Convert.ToString(Model.SEX),
                                                attr: new string[,] { { "name", "ddl_SEX" }, { "id", "ddl_SEX" }, { "class", "edit" }, { "tabindex", "9" } })
            <span class="required">*</span>
        </td>
    </tr>
    <tr>
        <td>Дом. тел.</td>
        <td>
            <input value="@Model.TELD" class="edit" id="ed_TELD" tabindex="10" type="text" maxlength="20" />
        </td>
    </tr>
    <tr>
        <td>Роб. тел.</td>
        <td>
            <input value="@Model.TELW" class="edit" id="ed_TELW" tabindex="11" type="text" maxlength="20" />
        </td>
    </tr>
</table>
