@using BarsWeb.HtmlHelpers
@using BarsWeb.Infrastructure.Repository.DI.Abstract
@{
    ViewBag.Title = "Перегляд контрагентів " + ViewBag.Type;
}
     
<style>
  .spanBtСancel{
      cursor:pointer;
      margin:0 5px 0 0;
      background-image:url(/Common/images/default/16/cancel.png);
      background-repeat:no-repeat;
  }
</style>
<script type="text/javascript">
  var customerType = '@ViewBag.Id';
  var obj = new Object; obj.SYS = null; obj.USER = null; obj.STR = ''; obj.TABLE = '';
  var checkClContragent = false;

  $(function () {
    $('#CustomersGrid').ajaxLoading({
      url: bars.config.appName + '/customers/grid/',
      updateData: function () { return updateData(); }
    });
  });
  function updateData() {
    var result = new Object();
    result.type = $('input[name="typeContragentSeach"]:checked').val();
    return result;
  };
  
  function viewSelCustomer(rnk) {
    var $win = $(window),
      width = $win.width(),
      height = $win.height(),
      url = bars.config.appName + '/customers/item/?id=' + rnk + '&partial=true',
      docum = $('<div />');
    $('body').loader();
    $.post(url,
      function (data) {
        $('body').loader('remove');
        docum.html(data);
        if (width > 920 && height > 600) {
          docum.dialog({
            autoOpen: true,
            title: 'none',
            modal: true,
            minWidth: '930',
            minHeight: '600',
            close: function () { docum.remove(); }
          });
        } else {
          docum.fullDialog();
        }
      });
  }










    function showBtRereg(status) {
        if (status==true) {
            $('#setCustomerTable img[name="reregico"]').removeClass('displayNone');
            $('#setCustomerTable img[name="closeico"]').addClass('displayNone');
        }
        if (status==false) {
            $('#setCustomerTable img[name="reregico"]').addClass('displayNone');
            $('#setCustomerTable img[name="closeico"]').removeClass('displayNone');
        }
        if (status==null) {
            $('#setCustomerTable img[name="reregico"]').addClass('displayNone');
            $('#setCustomerTable img[name="closeico"]').addClass('displayNone');
        }
    }
    function reregCustomer() {
        var rnk = $('#table tbody tr.selectedRow').attr('data-id');
        if (rnk != undefined) {
            ResurectCustomer(rnk);
        }
    }

    function ResurectCustomer(rnk) {
        addLoader($('#table'));
        $.post('/barsroot/customers/ResurectCustomer/', { id: rnk }, function (data) {
            switch (data) {
                case 'ok': barsUiAlert('Клієнт ' + rnk + ' успішно перереєстрований.', 'Повідомлення!');
                    $('#table').jungGridView('refresh');
                    break;
                default: barsUiAlert(data, 'Помилка!', 'error');
                    break;
            }
            removeLoader($('#table'));
        });
    }

    function closeCust() {
        var rnk = $('#table tbody tr.selectedRow').attr('data-id');
        if (rnk != undefined) {
            CloseCustomer(rnk);
        }
    }

    function CloseCustomer(rnk) {
        addLoader($('#table'));
        $.post('/barsroot/customers/CloseCustomer/', { id: rnk }, function (data) {
            switch (data) {
                case 'ok': barsUiAlert('Клієнт ' + rnk + ' успішно закритий.', 'Повідомлення!');
                    $('#table').jungGridView('refresh');
                    break;
                default: barsUiAlert(data, 'Помилка!', 'error');
                    break;
            }
            removeLoader($('#table'));
        });
    }

    function updateParam(type, pageNum) {
        if (window.filterObject !== undefined) {
            obj = filterObject;
        }
        $('#setCustomerTable').removeClass('visibilityNone');
        if (type == 'start') {
            typeDocumAllIn = $('input[name="typeContragentSeach"]:checked').val();
            pageNum = 1;
            sort = 'RNK';
            sortDir = 'ASC';
            checkClContragent = document.getElementById("CheckClContragent").checked;
            if (window.filterObject !== undefined) {
                obj = filterObject;
            }
        }
        var param = {
            id: $('input[name="typeContragentSeach"]:checked').val(),
            spd:$('input[name="typeContragentSeach"]:checked').attr('data-spd'),
            filterSysId: obj.SYS,
            filterUserId: obj.USER,
            filterStr: obj.STR,
            filterTable: obj.TABLE,
            viewClosedCustomer: checkClContragent 
        };
        return param;
    }

    /*function viewSelCustomer(rnk) {
        var dialog = $('<div/>');
        $('#body').loader();
        dialog.load('/barsroot/customers/customer/?id=' + rnk + '&partial=true',
          function () {
            dialog.fullDialog();
            $('#body').loader('remove');
          });
    }
    function viewSelCustomer2(rnk) {
        $('#viewSelCustomer').load('/barsroot/customers/customer/?id=' + rnk, {}, function () { removeLoader($('#viewSelCustomer')); })
                          .dialog({ autoOpen: true, position: 'center', title: 'Перегляд/редагування карточки контрагента RNK: ' + rnk, modal: true, resizable: false, width: '770', height: '600', close: function () { $.ajax().abort(); $(this).html(''); } });
        addLoader($('#viewSelCustomer'));
    }*/
    function viewSelCustomerHistory(rnk) {
        var newDiv = $('<div/>');
        newDiv.load('/barsroot/customers/customerupdatehistory/', {id:rnk}, function () { removeLoader(newDiv); })
                          .dialog({ autoOpen: true, position: 'center', title: 'Історія змін параметрів клієнта RNK: ' + rnk, modal: true, resizable: false, width: '770', height: '600', close: function () { $.ajax().abort(); $(this).html(''); newDiv.remove(); } });
        addLoader(newDiv);
    }

    function addFilter() {
      var filter = $('#addFilterDialog');
      if (filter.html() == '') {
          filter.load('/barsroot/filter/index/', { table: 'customer' }, function () { filter.parent().loader('remove'); /*$('#addFilterDialog input[name="btSelFilter"]').click(function () { btSelFilterClick(); });*/ })
                .dialog({
                    autoOpen: true, modal: true, resizable: false,
                    position: {at:'center'},
                    title: 'Встановлення додаткового фільтру',
                    width: '600', height: '500',
                    close: function () { /*$(this).html('');*/},
                    buttons: [{ text: 'Застосувати', click: function () { btSelFilterClick(); }, name: 'btSelFilter' }],
                    open: function () { }
                }).parent().loader();
      }
      else {
          filter.dialog('open');
      }
    }
    /*
    function btSelFilterClick() {
        var res = CheckFilter();
        if (res) {
            filterSysId = $('table#sysFilter tbody input:checkbox:checked').first().val();
            var sf = ''; var uf = ''; var str = '';
            if (filterSysId == undefined) {
                filterSysId = null; sf = '';
            } else {
                var t = $('table#sysFilter tbody input:checkbox:checked').parent().parent().find('td[data-name="name"]').html();
                sf += '<fieldset style="display: inline;"><legend><span class="spanBtСancel" onclick="removeFilter(this,\'s\');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Системнийqqqq</legend>' + t + '</fieldset>';
            }
            filterUserId = $('table#userFilter tbody input:checkbox:checked').first().val();
            if (filterUserId == undefined) {
                filterUserId = null; uf = '';
            } else {
                var et = $('table#userFilter tbody input:checkbox:checked').parent().parent().find('td[data-name="name"]').html();
                uf += '<fieldset style="display: inline;"><legend><span class="spanBtСancel" onclick="removeFilter(this,\'u\');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Фільтр користувача</legend>' + et + '</fieldset>';
            }
            if ($('#filterString tbody tr').length > 0) {
                var rows = $('#filterString tbody tr');
                var strhtml = '';
                rows.each(function (i, e) {
                    strhtml += $(e).find('td select option:selected').eq(0).html() + ' ';
                    strhtml += $(e).find('td select option:selected').eq(1).html() + ' ';
                    strhtml += $(e).find('td select option:selected').eq(2).html() + ' ';
                    strhtml += $(e).find('td input[type="text"]').val() + ' ';
                });
                str += '<fieldset style="display: inline;"><legend><span class="spanBtСancel" onclick="removeFilter(this,\'str\');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Додатковий фільтр</legend>' + strhtml + '</fieldset>';
            }

            $('#fieldsetNewFilter div.fieldsetContent').html(sf + uf + str);
        }
        updateFilterObjrct(function () { $('#btSubmitFilter').click(); });
    }

    function removeFilter(elem, filt) {
        $(elem).parent().parent().remove();
        if (filt == 's') {
            $('table#sysFilter tbody tr td input:checkbox').removeAttr('checked');
            $('table#sysFilter tbody tr td div.checkbox').removeClass('checked');
            filterSysId = null;
        }
        if (filt == 'u') {
            $('table#userFilter tbody tr td input:checkbox').removeAttr('checked');
            $('table#userFilter tbody tr td div.checkbox').removeClass('checked');
            filterUserId = null;
        }

        if (filt == 'str') {
            delAllRow();
        }

        updateFilterObjrct();
        $('#btSubmitFilter').click();
    }
    */
    function btSelFilterClick() {
        var res = CheckFilter();
        if (res) {
            filterSysId = $('table#sysFilter tbody input:checkbox:checked').first().val();
            var sf = ''; var uf = ''; var str = '';
            if (filterSysId == undefined) {
                filterSysId = null; sf = '';
            } else {
                var t = $('table#sysFilter tbody input:checkbox:checked').parent().parent().find('td[data-name="name"]').html();
                sf += '<fieldset class="filter"><legend>Системний</legend><span class="ico-cancel" onclick="removeFilter(this,\'s\');"></span>' + t + '</fieldset>';
            }
            filterUserId = $('table#userFilter tbody input:checkbox:checked').first().val();
            if (filterUserId == undefined) {
                filterUserId = null; uf = '';
            } else {
                var et = $('table#userFilter tbody input:checkbox:checked').parent().parent().find('td[data-name="name"]').html();
                uf += '<fieldset class="filter"><legend>Фільтр користувача</legend><span class="ico-cancel" onclick="removeFilter(this,\'u\');"></span>' + et + '</fieldset>';
            }
            if ($('#filterString tbody tr').length > 0) {
                var rows = $('#filterString tbody tr');
                var strhtml = '';
                rows.each(function (i, e) {
                    strhtml += $(e).find('td select option:selected').eq(0).html() + ' ';
                    strhtml += $(e).find('td select option:selected').eq(1).html() + ' ';
                    strhtml += $(e).find('td select option:selected').eq(2).html() + ' ';
                    strhtml += $(e).find('td input[type="text"]').val() + ' ';
                });
                str += '<fieldset class="filter"><legend>Додатковий фільтр</legend><span class="ico-cancel" onclick="removeFilter(this,\'str\');"></span>' + strhtml + '</fieldset>';
            }
            if (sf + uf + str == '')
                $('#fieldsetNewFilter .filterContent').html('<span class="dim">Додатковий фільтр не встановлено</span>');
            else
                $('#fieldsetNewFilter div.filterContent').html(sf + uf + str);
        }
        updateFilterObjrct(function () { $('#btSubmitFilter').click(); });
    }

    function removeFilter(elem, filt) {
        $(elem).parent().remove();
        if ($('#fieldsetNewFilter .filterContent').html() == '') {
            $('#fieldsetNewFilter .filterContent').html('<span class="dim">Додатковий фільтр не встановлено</span>');
        }
        if (filt == 's') {
            $('table#sysFilter tbody tr td input:checkbox').removeAttr('checked');
            $('table#sysFilter tbody tr td div.checkbox').removeClass('checked');
            filterSysId = null;
        }
        if (filt == 'u') {
            $('table#userFilter tbody tr td input:checkbox').removeAttr('checked');
            $('table#userFilter tbody tr td div.checkbox').removeClass('checked');
            filterUserId = null;
        }

        if (filt == 'str') {
            delAllRow();
        }

        updateFilterObjrct();
        $('#btSubmitFilter').click();
    }




    function selCustonerType() {
        $('#typeNewCustomer').dialog({
            autoOpen: true,
            position: 'center',
            title: 'Вибір типу контрагента',
            modal: true,
            resizable: false,
            width: '200',
            buttons: [{ text: 'Реєстрація', click: function () { addCustomer(); $('#typeNewCustomer').dialog('close'); }, name: 'btSelCustType' }],
            close: function () { }
        });
    }

    function addCustomer() {
        var custtype = $('input[name="typeContragentAdd"]:checked').val();
        var spd = $('input[name="typeContragentAdd"]:checked').attr('data-spd');
        var rezid = $('input[name="tipeClientRezIdAdd"]:checked').val();
        $('#viewSelCustomer').load('/barsroot/customers/customer/', {custtype:custtype,spd:spd,rezid:rezid}, function () { removeLoader($('#viewSelCustomer')); })
                  .dialog({ autoOpen: true, position: 'center', title: 'Перегляд/редагування карточки контрагента RNK: ', modal: true, resizable: false, width: '770', height: '600', close: function () { $.ajax().abort(); $(this).html(''); } });
        addLoader($('#viewSelCustomer'));
    }


    function pdfPrint() {
        var test = document.getElementById('iframe');
        test.contentWindow.focus();
        test.contentWindow.print();
    }
    function addEvent() {
        var wshShell = new ActiveXObject("WScript.Shell");
        wshShell.Run("c:\\barsweb\\PrintPdf.exe http://localhost/common/css/default.pdf", 2);
    }

</script>

<h1>Перегляд контрагентів @ViewBag.Type</h1>
	<fieldset style="margin:15px;border:0 solid red;">
		<legend>
			<span class="ico-filter16"></span>Основний фільтр
		</legend>
        <div style="margin:5px 10px 0 20px" class="mainFilter" id="mainFilter">
            <div>
                @if (ViewBag.Id == 0)
                {
                <label class="block">
                    <input checked="checked" class="checkboxUI" name="typeContragentSeach" id="RadioAllContragent" value="@CustomerType.All" type="radio" />
                    <label for="RadioAllContragent">Контрагенти всіх типів</label>
                </label>
                <label class="block">
                    <input class="checkboxUI" name="typeContragentSeach" id="RadioBancsContragent" value="@CustomerType.Bank" type="radio" />
                    <label for="RadioBancsContragent">Банки</label> 
                </label>
                <label class="block">                   
                    <input class="checkboxUI" name="typeContragentSeach" id="RadioUOContragent" value="@CustomerType.Corp" type="radio" />
                    <label for="RadioUOContragent">Юридичні особи</label>
                </label>
                <label class="block">
                    <input class="checkboxUI" name="typeContragentSeach" id="RadioFOContragent" value="@CustomerType.Person" type="radio" />
                    <label for="RadioFOContragent">Фізичні особи</label>  
                </label>
                <label class="block">            
                  <input class="checkboxUI" name="typeContragentSeach" id="RadioFOSPDContragent" value="@CustomerType.Person" data-spd="1" type="radio" />
                    <label for="RadioFOSPDContragent">Фізичні особи-СПД</label>
                </label>
                }
                @if (ViewBag.Id == 1)
                {
                <label class="block">
                    <input class="checkboxUI" checked="checked" name="typeContragentSeach" id="RadioBancsContragent" value="1" type="radio" />
                    <label for="RadioBancsContragent">Контрагенти-Банки</label>  
                </label> 
                }
                @if (ViewBag.Id == 2)
                {
                <label class="block">
                    <input class="checkboxUI" checked="checked" name="typeContragentSeach" id="RadioUOContragent" value="2" type="radio" />
                    <label for="RadioUOContragent">Контрагенти-Юридичні особи</label>
                </label>
                }
                @if (ViewBag.Id == 3)
                {
                    if (ViewBag.Spd == 1)
                    {
                    <label class="block">
                        <input class="checkboxUI" checked="checked" name="typeContragentSeach" id="RadioFOSPDContragent" value="3" data-spd="1" type="radio" />
                        <label for="RadioFOSPDContragent">Контрагенти-Фізичні особи-СПД</label>             
                    </label>
                    }
                    else
                    {
                    <label class="block">
                        <input class="checkboxUI" checked="checked" name="typeContragentSeach" id="RadioFOContragent" value="3" type="radio" />
                        <label for="RadioFOContragent">Контрагенти-Фізичні особи</label>   
                    </label>
                    <label class="block">
                        <input class="checkboxUI" name="typeContragentSeach" id="RadioFOSPDContragent" value="3" data-spd="1" type="radio" />
                        <label for="RadioFOSPDContragent">Контрагенти-Фізичні особи-СПД</label>  
                    </label>
                    }
                }
            </div>
            <label class="block">
                <input type="checkbox" name="CheckClContragent" id="CheckClContragent" class="checkboxUI" />
                <label for="CheckClContragent">Показувати закритих контрагентів</label>
            </label>
        </div>
    </fieldset>
    <fieldset id="fieldsetNewFilter" style="margin:15px;border:0 solid red;">
        <legend class="txtBtn" onclick="addFilter();">
            <span class="ico-filter16"></span>Додатковий фільтр
        </legend>
        <div class="filterContent" style="margin:5px 10px 0 20px">
            <span class="dim">Додатковий фільтр не встановлено</span>
        </div>
        <div id="addFilterDialog" class="dialog" style="display:none;"></div>
    </fieldset>

<div style="margin:0 0 0 0;" class="buttons tiptip">
  <a id="btSubmitFilter" href="#" onclick="return false;" class="button hover" title="Оновити дані"><span class="icon icon157"></span></a>

  <a id="bt_downloadDocum" href="#" onclick="importDocum(13);return false;" class="button left hover" title="Зареєструвати нового клієнта"><span class="icon icon3"></span><span class="label">Зареєструвати</span></a>
  <a id="bt_downloadDocum" href="#" onclick="importDocum(13);return false;" class="button middle hover" title="Редагувати картку клієнта"><span class="icon icon145"></span><span class="label">Редагувати</span></a>
  <a id="bt_visaAzag" href="#" onclick="visaAzag();return false;" class="button middle hover" title="Перереєструвати закритого клієнта"><span class="icon icon161"></span><span class="label">Перереєструвати</span></a>
  <a id="bt_removeAzag" href="#" onclick="removeAzag();return false;" class="button right hover" title="Закрити клієнта"><span class="icon icon48"></span><span class="label">Закрити</span></a>

  <a id="bt_downloadDocum" href="#" onclick="importDocum(13);return false;" class="button left hover" title="Переглянути клієнта"><span class="icon icon130"></span><span class="label">Рахунки</span></a>
  <a id="bt_visaAzag" href="#" onclick="visaAzag();return false;" class="button middle hover" title="Історія змін клієнта"><span class="icon icon107"></span><span class="label">Історія</span></a>
  <a id="bt_removeAzag" href="#" onclick="removeAzag();return false;" class="button right hover" title="Друк договору"><span class="icon icon153"></span><span class="label">Друк</span></a>
</div>

<div class="visibilityNone" style="margin:5px 0 0 0" id="setCustomerTable">
  <div id="viewSelCustomer" class="dialog" style="display: none;"></div>
  @Html.Action("Grid")
  <div id="typeNewCustomer" style="display: none;">
      @if (ViewBag.Id == 0)
      {
          <input checked="checked" name="typeContragentAdd" id="RadioBancAdd" value="1" type="radio" />
          <label for="RadioBancAdd">Банк</label><br />
          <br />
          <input name="typeContragentAdd" id="RadioUOAdd" value="2" type="radio" />
          <label for="RadioUOAdd">Юридична особа</label><br />
          <br />
          <input name="typeContragentAdd" id="RadioFOAdd" value="3" type="radio" />
          <label for="RadioFOAdd">Фізична особа</label><br />
          <br />
          <input name="typeContragentAdd" id="RadioFOSPDAdd" value="3" data-spd="1" type="radio" />
          <label for="RadioFOSPDAdd">Фізична особа-СПД</label><br />
          <br />
              }
      @if (ViewBag.Id == 1)
      {
          <input checked="checked" name="typeContragentAdd" id="RadioBancAdd" value="1" type="radio" />
          <label for="RadioBancAdd">Банк</label><br />
          <br />
              }
      @if (ViewBag.Id == 2)
      {
          <input checked="checked" name="typeContragentAdd" id="RadioUOAdd" value="2" type="radio" />
          <label for="RadioUOAdd">Юридична особа</label><br />
          <br />
              }
      @if (ViewBag.Id == 3)
      {
          if (ViewBag.Spd == 1)
          {
          <input checked="checked" name="typeContragentAdd" id="RadioFOSPDAdd" value="3" data-spd="1" type="radio" />
          <label for="RadioFOSPDAdd">Фізична особа-СПД</label><br />
          <br />         
                  }
                  else
                  {
          <input checked="checked" name="typeContragentAdd" id="RadioFOAdd" value="3" type="radio" />
          <label for="RadioFOAdd">Фізична особа</label><br />
          <br />
          <input name="typeContragentAdd" id="RadioFOSPDAdd" value="3" data-spd="1" type="radio" />
          <label for="RadioFOSPDAdd">Фізична особа-СПД</label><br />
          <br />
                  }
              }
      <div class="hr"></div>
      <br />
      <input checked="checked" name="tipeClientRezIdAdd" id="RadioRezAdd" value="1" type="radio" />
      <label for="RadioRezAdd">Резидент</label><br />
      <br />
      <input name="tipeClientRezIdAdd" id="RadioNoRezAdd" value="2" type="radio" />
      <label for="RadioNoRezAdd">Нерезидент</label>
  </div>
</div>