@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    @ViewBag.Title
  </title>
  <noscript>
    Нажаль ваш браузер на підтримує сценарії JavaScript, або вони заборонені в налаштуваннях.
    <br /><br />
    Будьласка змініть ваш браузер або перевірте його налаштування згідно з <a href="/barsroot/help/">інструкцією</a>.
  </noscript>
  <link rel="shortcut icon" href="@Url.Content("~/content/ico.ico")" />

  @Styles.Render("~/content/themes/modernui/css/modernui.css")
  @Html.Partial("_html5shiv")
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/junggridview")
  @Scripts.Render("~/bundles/jquery-masked")
  <script src="~/Scripts/jquery/jquery-ui-1.9.2.no-datepicker.min.js" type="text/javascript"></script>
  @Scripts.Render("~/bundles/jquery-bars-ui")
  <script src="~/Content/Themes/ModernUI/scripts/jquery.tiptip.js" type="text/javascript"></script>
</head>
<body>
  @RenderSection("scriptsHeader", false)
  <header></header>
  <div id="body" class="body">
    @RenderBody()    
  </div>
  <footer></footer>
  <script type="text/javascript">
    //функція для реагування на відповівдь сервера з помилкою для AJAX
    $(function () {
      $.ajaxSetup({ cache: false });
      $(document).ajaxComplete(function (data, xhr) {
        if (xhr.statusText == '401')
          document.location.reload();
      })
        .ajaxError(function (e, xhr) {
          if (xhr.status == 401) {
            document.location.reload();
          }
          if (xhr.status == 403) {
            var response = $.parseJSON(xhr.responseText);
            window.location = response.LogOnUrl;
          }
          if (xhr.status == 500) {
            barsUiAlert({ text: xhr.responseText, title: 'Помилка 500!!!', winType: 'error', width: '550', height: '450' });
          }
          if (xhr.status == 502) {
            document.location.refresh();
          }
        });
    });
  </script>
  <script>
    $(document).ready(function () {
      $('.tiptip a.button, .tiptip button').tipTip();
      // Toggle the dropdown menu's
      /*$(".dropdown .button, .dropdown button").click(function () {
          // hide any open menus (Yuneekguy)
          $('.dropdown-slider').slideUp();
          $('span.toggle').removeClass('active');
          // open selected dropown
          $(this).parent().find('.dropdown-slider').slideToggle('fast');
          $(this).find('span.toggle').toggleClass('active');
          return false;
      });*/
      // Launch TipTip tooltip

      /*$(".CheckBoxClass").change(function () {
          if ($(this).is(":checked")) {
              $(this).next("label").addClass("LabelSelected");
          } else {
              $(this).next("label").removeClass("LabelSelected");
          }
      });*/
      /*-------------MY------------------*/
      //checkbox and radio input
      /*$('input.checkboxUI').wrap(function () {
          var elem = $(this);
          if ($(this).prop('checked'))
              return '<label for="' + elem.attr('id') + '" class="' + elem.attr('type') + ' checked"></label>';
          else
              return '<label for="' + elem.attr('id') + '" class="' + elem.attr('type') + '"></label>';
      }).change(function () {
          $('input[name="' + $(this).attr('name') + '"]').parent().removeClass('checked');
          if ($(this).prop('checked')) {
              $(this).parent().addClass('checked');
          }
          else {
              $(this).parent().removeClass('checked');
          }
      });*/

    });
  // Close open dropdown slider by clicking elsewhwere on page
    /*$(document).bind('click', function (e) {
        if (e.target.id != $('.dropdown').attr('class')) {
            $('.dropdown-slider').slideUp();
            $('span.toggle').removeClass('active');
        }
    });*/
  </script>

  @RenderSection("scriptsFooter", required: false)
</body>
</html>

