@inherits System.Web.Mvc.WebViewPage<IEnumerable<BarsWeb.Models.V_USER_MESSAGES>>
@{
  ViewBag.Title = "Повідомлення";
  Layout = null;
}
<script type="text/javascript">
  $(function () {
    $('#messagesList').slimScroll({
      //height: 'auto',
      railVisible: true,
      size: '8px',
      height: '260px'
    });

    $('.messages input[type="checkbox"]').on('click', function () {
      var $this = $(this);
      var status = $this.prop('checked');
      if (status) {
        $this.parentsUntil('.messages').parent().addClass('active');
      } else {
        $this.parentsUntil('.messages').parent().removeClass('active');
      }
    });
  });
  
  function commentAdd() {
    var mess = $('#messagesList').find('input[type="checkbox"]:checked');
    var messErrorResult = $('#messWriteForm .mess-error');
    if (mess.length == 0) {
      messErrorResult.html('Невідмічено жодного повідомлення.');
      $('#messagesList').find('input[type="checkbox"]').one('change', function () { messErrorResult.html(''); });
      return false;
    }
    var commentArea = $('#commentText');
    if (commentArea.val() == '') {
      messErrorResult.html('Коментар не може бути порожнім.');
      commentArea.one('change', function () { messErrorResult.html(''); });
      return false;
    }
    var messBlock = $('#userMessage');
    messBlock.parent().loader();
    $.post('/barsroot/messagesctrl/commentadd/',
      {
        id: mess.checkedToObj().arr,
        comment: commentArea.val()
      },
      function (data, textStatus) {
        if (textStatus == 'success') {
          if (data.status == 'ok') {
            loadMassages(1, messBlock);
            /*messBlock.load('/barsroot/messages/index/', function () {
              messBlock.parent().loader('remove');
            });*/
            if (window['changeCounter']){
              changeCounter('-' + data.count);
            }
          }
          if (data.status == 'error') {
            messErrorResult.html(data.message);
            messBlock.parent().loader('remove');
          }
        }
      }, 'json');
    return false;
  }
  function loadMassages(page,elem) {
    elem.load('/barsroot/messagesctrl/index/',{pageNum:page}, function () {
      elem.parent().loader('remove');
    });
  }
</script>

<style>
  .write-form {
    margin: 0;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    padding: 7px 0 7px 7px;
  }
</style>

<h2 style="margin-top: 0;margin-left: 5px;">Повідомлення</h2>


<div id="messagesList" class="messages-list">
  @foreach (var item in Model)
  {
    <div class="messages">
      <table style="width: 100%;">
        <tr>
          <td style="width: 20px;">
            <input type="checkbox" value="@item.MSG_ID"  />
          </td>
          <td>
            <div class="title">
              <div class="messages-title">@item.MSG_SENDER_FIO</div>
              <div class="messages-date">@item.MSG_DATE</div>
            </div>
            <div class="messages-text">@Html.Raw(item.MSG_TEXT)</div>
          </td>
        </tr>
      </table>
    </div>
  }
  @{
    decimal count = ViewBag.count;
    decimal pageNum = ViewBag.pageNum;
    decimal pageSize = ViewBag.pageSize;
    decimal displaedPage = 5;

    const string funcOnClick = "var messBlock = $('#userMessage'); messBlock.parent().loader(); loadMassages($(this).data('pagenum'), messBlock);return false;";
  }
  @BarsWeb.HtmlHelpers.HtmlHelpers.Pager(count: count, pageNum: pageNum, pageSize: pageSize, funcOnClick: funcOnClick)    
</div>
<div id="messWriteForm" class="write-form" style="width: 300px;position: absolute;bottom: 1px;">
  <textarea id="commentText" style="width: 290px;" placeholder="Додати коментар" cols="2"></textarea>
  <table style="width: 100%;">
    <tr style="border:1px solid red;">
      <td style="width:100%;">
        <span class="mess-error"></span>
      </td>
      <td>
        <button onclick="commentAdd();" class="button" style="width: 70px;">Обробити</button>
      </td>
    </tr>
  </table>
</div>


