@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "АРМ якості";
}
@model BarsWeb.Areas.Cdm.Models.AdvisoryListParams
@Styles.Render("~/bundles/cdm/styles")
@Scripts.Render("~/bundles/cdm/scripts")

<div id="breadcrumps" class="q-container q-title">
    <div style="display: inline-block">
        <a class="k-link" href="@Url.Action("Index")">@ViewBag.Title</a>
    </div>
    <div id="armName" style="display: inline-block">
        <i class="q-left-arrow"></i><a class="k-link" href="" onclick="bars.quality.backToAdvisoryList(); return false;"></a>
    </div>
    <div id="customerName" style="display: none;">
        <i class="q-left-arrow"></i><a class="k-link" href="#" onclick="bars.quality.selectCustomer(bars.quality.currentRnk); return false;"></a>
    </div>
</div>

<div id="advisoryList">

    <div class="q-list">
        <h3 id="advGroupName" style="font-weight: bold; margin-left: 30px;"></h3>
        <div id="sidebar">
            <div class="q-side-content">
                <div class="q-sub-selector">
                    <div class="q-sub-prev" data-bind="click: prevSub">
                        <i class="pf-icon pf-16 pf-arrow_left"></i>
                    </div>
                    <div class="q-sub-indicator">
                        <span class="q-sub-number" data-bind="text: currSub">5</span>
                        <span class="q-group-label" data-bind="text: subLabel">група</span>
                    </div>
                    <div class="q-sub-next" data-bind="click: nextSub">
                        <i class="pf-icon pf-16 pf-arrow_right"></i>
                    </div>
                </div>
                <div class="q-sub-info">
                    <div>Заповнені <span class="q-fill-group" data-bind="text: groupFilled"></span></div>
                    <div>Кількість карток <span class="q-fill-group" data-bind="text: cardsInGroup"></span></div>
                </div>
            </div>
            <ul id="filterBlock" class="q-side-content q-panel" style="margin-top: 8px;">
                <li style="color: #74b1df; font-size: 14px;" id="mainFilter">
                    Фільтри
                    <ul>
                        <li style="margin-top: 4px;">
                            <label><input id="fio" style="width: 200px; margin-top: 4px;" type="text" class="k-input" placeholder=" ПІБ (назва клієнта)" data-bind="value: custName" /></label>
                            <label>РНК <input style="width: 168px;" type="text" class="k-input numeric" data-bind="value: custRnk" /></label>
                            <label>ІНН <input style="width: 170px;" type="text" class="k-input numeric" data-bind="value: custInn" /></label>
                            <label>
                                Документ
                                <input style="width: 46px; margin-left: 4px;" type="text" class="k-input" data-bind="value: custDocSerial" />
                                <input style="width: 70px; margin-left: 4px; display: inline-block" type="text" class="k-input" data-bind="value: custDocNumber" />
                            </label>

                            <label>Група якості <br /><select id="groupQualitySelector" style="width: 200px;" type="text" class="k-input" data-bind="value: custQualityGroup"></select></label>
                            <label>Якість<input id="qualityFilter" style="width: 150px;" type="text" class="k-input numeric" data-bind="value: custQuality" /></label>
                            <label>К-сть атрибутів<input style="width: 94px;" type="text" class="k-input numeric" data-bind="value: custAtrCount"/></label>
                            <label>
                                BRANCH
                                <input id="branches" style="width: 200px; margin-left: 14px;" data-bind="value: custBranch" />
                            </label>
                            <button class="k-button" style="width: 200px;" data-bind="click: doFilter">Фільтрувати</button>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
        <div id="main-content">
            <div id="grid"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="advisoryApply" style="display: none; margin-left: 10px;">
        <div class="col-lg-3 col-xs-3 col-sm-3">
            <div class="q-cust-prev k-link" style="float: left; width: 10%;">
                <a href="#"><i class="pf-icon pf-16 pf-arrow_left pf-disabled"></i></a>
            </div>
            <div id="advSummaryInfo" class="q-cust-name" style="display: inline-block; width: 80%; text-align: center;">
                <span data-bind="text: currentNmk"></span>
                <p id="advisoryOnly" style="font-size: 12px; color: #df7a7a; text-align: left; cursor: pointer; margin-top: 10px;">
                    <span data-bind="text: currentAtrsCount"></span> атрибути до змін
                </p>
            </div>
            <div class="q-cust-next k-link" style="float: right; width: 10%;">
                <a href="#"><i class="pf-icon pf-16 pf-arrow_right pf-disabled"></i></a>
            </div>
            <div id="cardQualityInfo" style="clear: both;" class="q-sub-info">
                <div style="float: left">Якість картки <span class="q-fill-group" data-bind="text: currentQuality"></span></div>

            </div>
            <div id="allAdvTypes" style="margin-top: 30px;">
                <ul id="attrTypesMenu" data-template="item-template" data-bind="source: attrGroups()"></ul>
            </div>
        </div>
        <script id="item-template" type="text/x-kendo-template">
            <li data-bind="text: NAME, attr: {data-groupid: ID}"></li>
        </script>

        <div class="col-lg-8 col-xs-8 col-sm-8" style="border: 1px solid #f2f2f2; position: relative; overflow: hidden;">
            <div id="saveBtn" style="position: absolute; left: 10px; top: 10px; font-size: 20px; cursor: pointer;">
                <a href="#"><i class="q-save-btn disabled"></i>Зберегти зміни</a>
            </div>
            <div>
                <div id="custAttrTypesList" style="margin-top: 60px">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="attrEditDlg" style="display: none; padding: 10px 20px;">
    <label for="attrNewVal" style="width: 100%;"></label>
    <input id="attrNewVal" type="text" class="k-textbox" style="width: 100%;" />

    <button class="k-button" style="width: 100%; margin-top: 8px;">Замінити</button>
</div>

<div id="attrDictionary" style="display: none;">
    <div id="listOfAttrValues"></div>
    <div style="float: right; margin: 10px;">
        <button class="k-button select-button" disabled="disabled">Обрати</button>
        <button class="k-button cancel-button">Відмінити</button>
    </div>
</div>

<script>
    bars.quality.loadTemplate('@Url.Content("~/Areas/Cdm/Scripts/advisory_list.tpl.htm")');
    bars.quality.initAdvisoryParams(@Model.GroupId, @Model.SubGroupStr, @Model.SubGroupOrdStr);
    $(document).ready(function() {
        bars.quality.initAdvisoryGrid('#grid', bars.quality.advisoryParams.selectedGroup, bars.quality.advisoryParams.selectedSub);
        bars.quality.initAttrValuesDialog('#listOfAttrValues');
        bars.quality.loadGroups(bars.quality.renderAdvisoryGroup, '#advGroupName');
        bars.quality.loadSubGroups();

        $('#groupQualitySelector').kendoDropDownList({
            dataTextField: "QUALITY_GROUP_DESC",
            dataValueField: "QUALITY_GROUP",
            valuePrimitive: true,
            dataSource: {
                transport: {
                    read: {
                        url: bars.config.urlContent('/Cdm/Quality/GetQualityGroupList'),
                        data: {groupId: bars.quality.currentGroup}
                    }
                }
            }
        });

        $('#branches').kendoDropDownList({
            optionLabel: " ",
            dataSource:
                {
                    type: "aspnetmvc-ajax",
                    transport: {
                        read: {
                            url: bars.config.urlContent("/Cdm/Quality/BranchList")
                        }
                    }
                }
        });

        $('#filterBlock input.numeric').kendoNumericTextBox({
            format: "#",
            spinners: false
        });

        kendo.bind($('#advisoryList'), bars.quality.advisoryParams);
        kendo.bind($('#filterBlock'), bars.quality.custFilter);

        $('#attrEditDlg').kendoWindow({
            width: "230px"
        });


        $('#attrDictionary').kendoWindow({
            width: "600px",
            close: bars.quality.closeAttributeDialog
        });

        $('#qualityFilter').kendoNumericTextBox({
            decimals: 1
        });


        $("#filterBlock").kendoPanelBar();
        var filterPanel = $("#filterBlock").data("kendoPanelBar");
        filterPanel.expand($("#mainFilter"));

        $('#attrDictionary .cancel-button').on('click', function () {
            $("#attrDictionary").data("kendoWindow").close();
        });

        $('#attrDictionary .select-button').on('click', function () {
            var grid = $("#listOfAttrValues").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            var attrName = bars.quality.getDialogName();
            bars.quality.attrChangeBuffer.get(attrName).set('newVal', selectedItem.ID);
            bars.quality.refreshSaveBtn();
            $('#attrDictionary').data('kendoWindow').close();
        });

        $('#fio').focus(function() {
            var input = $(this);
            if (input.val() == input.attr('placeholder')) {
                input.val('');
                input.removeClass('placeholder');
            }
        }).blur(function() {
            var input = $(this);
            if (input.val() == '' || input.val() == input.attr('placeholder')) {
                input.addClass('placeholder');
                input.val(input.attr('placeholder'));
            }
        }).blur();
        
    });
</script>

