@{
    Layout = "~/Views/Shared/_LayoutKendo.cshtml";
    ViewBag.Title = "АРМ якості";
    var isAdminMode = ViewBag.Mode!= null && ViewBag.Mode == "admin";
    if (isAdminMode)
    {
        ViewBag.Title = ViewBag.Title + ". Конструктор груп.";
    }
}

<div class="q-container q-title">
    @ViewBag.Title
</div>

<div class="container-fluid">
    <div id="groupsContainer" class="row" style="margin: 8px;">

    </div>
</div>

@Scripts.Render("~/bundles/cdm/scripts")
<script>
    bars.quality.loadTemplate('@Url.Content("~/Areas/Cdm/Scripts/quality_groups.tpl.htm")');

    $(document).ready(function () {
        var isAdminMode = @isAdminMode.ToString().ToLower();
        bars.quality.loadAndRenderGroups('#groupsContainer', isAdminMode);
    });
</script>

@Styles.Render("~/bundles/cdm/styles")
